/* IE8 Specific Styles */
/* Lighbox */
.lightboxOverlay {
  background-image: url("../img/white.png"); }

.lightboxContainer {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#d2d2d2')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#d2d2d2');
  zoom: 1; }

.lbClose {
  background-image: url("../../assets/img/lb-close.png"); }

.accordion-horizontal .accordion-slide {
  width: 40px;
  height: 300px;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin-left: -3px; }

.accordion-horizontal .accordion-head {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  position: absolute;
  left: 0;
  border: 0 !important; }
  .accordion-horizontal .accordion-head:hover {
    background: none; }

.accordion-horizontal .accordion-content {
  padding-left: 51px;
  padding-right: 20px;
  padding-top: 0;
  overflow: hidden; }

.accordion-horizontal .accordion-content-wrapper {
  position: absolute !important;
  height: auto !important; }

.imageGallery .imageGallery-thumbnail-cover,
.videoGallery-thumbnail-image img {
  max-width: none; }

.form select {
  padding: 6px 15px; }

.selectField .controls:after {
  display: none; }

.form input[type="text"] {
  line-height: 25px; }
