@import '../../core/mixins';

.searchBox .form .form-content .textField {
    display: inline;
    float: left;
    margin-right: 15px;
}

.searchBox .form .form-content .formButton {
    display: inline;
    float: left;
}

.no-box.searchBox .form .form-content .section {
    margin: 0 15px 0 0;
}

.no-box.searchBox .form .form-content .formButton.section {
    margin: -1px 0 0;
}

.searchBox input[type=text] {
    width: 81px;
}

.searchBox-title {
    cursor: default;
}

.form-search.no-box,
.form-search.no-box .section {
    margin-top: 0;
    margin-bottom: 0;
}
//IE7 fix
.lt-ie8 .button {
    margin-left:4px;
}