@import '../../core/mixins';

.image .right {
    text-align: right;
}

.image .left {
    text-align: left;
}

.image .middle {
    text-align: center;
}

@include respond-to(mobile) {
    .image .component-content {
        text-align: center;
    }
}
