.searchResults-number {
  margin-bottom: 20px;
}

.searchResults-term {
  font-weight: bold;
}

.searchResults-result {
  @include frame;
  padding: 30px 20px;
  border-bottom-width: 3px;
  background: $body-bg;
  margin-bottom: $component-spacing;
}

.searchResults-date {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.searchResults-description {
  margin-bottom: 10px;
}

.searchResults-url {
  font-size: 1.3rem;
  word-break: break-all;
}

.searchResults-title {
  margin: 0 0 15px 0;

  &:only-child {
    border-bottom: 0;
    padding: 0;
    margin: 0;
  }
}

.searchResults-pagination-list {
  font-size: 1.3rem;
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  text-align: center;
}

.searchResults-pagination-item {
  display: inline-block;

  a {
    @include frame;
    display: block;
    width: 25px;
    line-height: 25px;
    text-align: center;
    margin-right: 3px;
    color: $black;
    background: $gray;
    text-decoration: none;

    &:hover {
      background: $link-hover-color;
    }
  }

  &.is-active a {
    background: $body-bg;
    cursor: default;
  }

  &.item-next a,
  &.item-previous a {
    width: auto;
    padding: 0 5px;
  }

  &.item-next {
    a:after {
      @include font-awesome($fa-var-chevron-right);
      font-size: 1rem;
      margin-left: 5px;
    }
  }

  &.item-previous {
    a:before {
      @include font-awesome($fa-var-chevron-left);
      font-size: 1rem;
      margin-right: 5px;
    }
  }
}

.searchResults-url,
.searchResults-title {
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }
}

.searchResults-result.has-image {
  .searchResults-image {
    position: absolute;
  }

  .searchResults-title,
  .searchResults-description,
  .searchResults-date,
  .searchResults-url {
    margin-left: 220px;
  }
}

@include respond-to(tablet-portrait) {
  .searchResults-pagination {
    text-align: center;
  }

  .searchResults-pagination-list {
    display: inline-block;
    float: none;
  }

  .searchResults-result.has-image {
    text-align: center;

    .searchResults-image {
      position: static;
      margin-bottom: 20px;
    }

    .searchResults-title,
    .searchResults-description,
    .searchResults-date,
    .searchResults-url {
      text-align: left;
      margin-left: 0;
    }
  }
}