.cookiePolicy-info {
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  max-height: 500px;
  overflow: hidden;
  background: #D9D9D9; }
  .cookiePolicy-info.collapsed {
    max-height: 0; }
  .cookiePolicy-info .cookiePolicy-inner {
    padding: 10px;
    width: auto;
    max-width: 940px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto; }

.cookiePolicy-restrictive {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000; }
  .cookiePolicy-restrictive.collapsed {
    display: none; }
  .cookiePolicy-restrictive .cookiePolicy-inner {
    position: fixed;
    top: 200px;
    width: 800px;
    left: 50%;
    margin-left: -250px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    max-width: 90%; }
    @media (max-width: 767px) {
      .cookiePolicy-restrictive .cookiePolicy-inner {
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        margin-left: 0; } }

.cookiePolicy-buttons {
  text-align: right; }

.cookiePolicy-accept {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  display: inline-block;
  text-decoration: none !important;
  background: #FFF;
  letter-spacing: 0;
  padding: 2px 5px;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #000;
          box-shadow: 3px 3px 0 #000;
  color: #000;
  margin-bottom: 10px; }
  .cookiePolicy-accept:hover {
    color: #000;
    background: #94b6da; }
