.exit-notification {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; }
  .exit-notification.is-hidden {
    display: none; }

.exit-notification-inner {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  position: fixed;
  top: 200px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  max-width: 90%; }

.exit-notification-accept,
.exit-notification-deny {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  display: inline-block;
  text-decoration: none !important;
  background: #FFF;
  letter-spacing: 0;
  font-weight: bold;
  padding: 7px 15px;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #000;
          box-shadow: 3px 3px 0 #000;
  color: #000; }
  .exit-notification-accept:hover,
  .exit-notification-deny:hover {
    color: #000;
    background: #94b6da; }

.exit-notification-buttons {
  text-align: right; }

@media (max-width: 767px) {
  .exit-notification-inner {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    margin-left: 0; }
  .exit-notification-buttons {
    text-align: center; }
  .exit-notification-accept,
  .exit-notification-deny {
    display: block;
    width: 100%; }
  .exit-notification-deny {
    margin-top: 10px; } }
