#footer .container-fluid {
  padding: 35px 0; }

#footer .logo {
  margin-bottom: 44px; }
  #footer .logo img {
    width: 80px; }

#footer .section-1 {
  padding: 110px 0 0 20px; }
  #footer .section-1 ul {
    margin: 0;
    padding: 0; }
    #footer .section-1 ul li {
      margin: 0;
      padding: 0; }
      #footer .section-1 ul li a {
        font-size: 14px;
        padding-bottom: 12px;
        display: block; }
        #footer .section-1 ul li a.external-link:before {
          content: '';
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -585px -887px;
          width: 15px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px; }
      #footer .section-1 ul li:before {
        display: none; }

#footer .section-2 p {
  font-size: 16px;
  line-height: 1.1;
  border-right: 1px solid #dcdcdc;
  padding-bottom: 30px; }

#footer .section-3 p {
  font-size: 14px;
  padding: 110px 0 0 75px; }
