#header {
  /*#################### FIRST LINE ###################*/
  /*#################### LOGO ###################*/
  /*#################### MENU ###################*/
  /*#################### XXXXX ###################*/ }
  #header .component-content {
    margin-bottom: 0; }
  #header .sup {
    color: inherit;
    margin-left: 2px; }
  #header .box.bg-gray .box-adverse p {
    font-size: 13px;
    margin: 0 0 0 -30px;
    padding: 10px 0 10px 40px; }
    #header .box.bg-gray .box-adverse p:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 12px;
      left: -13px;
      background-image: url(../../assets/img/vx-spritesheet.png);
      background-position: -408px -887px;
      width: 16px;
      height: 15px; }
  #header .image.logo.mobile {
    display: none; }
  #header .image.logo img {
    max-width: 285px;
    padding: 21px 0 27px 0; }
  #header .box.box-menu {
    background-color: #E31836; }
    #header .box.box-menu p {
      display: none; }
    #header .box.box-menu br {
      display: none; }
    #header .box.box-menu ul {
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      list-style: none; }
      #header .box.box-menu ul:nth-child(1) > li {
        padding: 0 !important;
        /*#################### HOME ###################*/
        /*#################### FARMACOS ###################*/
        /*#################### MATERIALS ###################*/ }
        #header .box.box-menu ul:nth-child(1) > li:hover {
          background: #000; }
        #header .box.box-menu ul:nth-child(1) > li > ul {
          display: none;
          position: absolute;
          top: 48px;
          left: 0;
          background: #000;
          width: calc(100% + 36px);
          margin-left: -16px;
          z-index: 9;
          padding: 20px; }
        #header .box.box-menu ul:nth-child(1) > li:nth-child(2) > ul li a {
          text-transform: none; }
        #header .box.box-menu ul:nth-child(1) > li:nth-child(2) > ul li ul li a {
          text-transform: none;
          font-weight: normal;
          padding-left: 5px;
          text-decoration: underline; }
          #header .box.box-menu ul:nth-child(1) > li:nth-child(2) > ul li ul li a:before {
            display: none; }
        #header .box.box-menu ul:nth-child(1) > li:nth-child(3) > ul li {
          width: 18%;
          display: inline-block;
          vertical-align: top; }
      #header .box.box-menu ul li {
        margin: 0 16px 0 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        position: static; }
        #header .box.box-menu ul li:before {
          display: none; }
        #header .box.box-menu ul li > ul li a {
          line-height: 1.2; }
          #header .box.box-menu ul li > ul li a:hover {
            text-decoration: underline; }
        #header .box.box-menu ul li > ul li a:before {
          content: "";
          position: absolute;
          left: -0.35em;
          top: 15px;
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -955px -430px;
          width: 8px;
          height: 14px; }
        #header .box.box-menu ul li > ul li ul {
          max-width: 100%;
          calc: 100%;
          display: block; }
        #header .box.box-menu ul li:hover > ul {
          display: block; }
        #header .box.box-menu ul li a {
          color: #fff;
          font-weight: bold;
          text-decoration: none;
          font-size: 16px;
          text-transform: uppercase;
          padding: 11px 16px;
          display: inline-block;
          position: relative; }
        #header .box.box-menu ul li:nth-child(2) ul li {
          display: block; }
