@charset "UTF-8";
.page-home {
  /*#################### BANNER ###################*/
  /*#################### VIDEO ###################*/
  /*#################### FARMACOS ###################*/
  /*#################### CONTACT ###################*/ }
  .page-home .sup {
    color: inherit; }
  .page-home .iconheading h2 {
    position: relative;
    z-index: 5;
    height: auto;
    margin-bottom: 1em;
    font-family: "ITCAvantGardeW01-CnDm",sans-serif;
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase; }
    .page-home .iconheading h2:before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      z-index: 10;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      margin: 0 auto;
      border: solid 6px #fff; }
    .page-home .iconheading h2:after {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      z-index: 1;
      width: 100%;
      height: 2px;
      background-color: #F2F2F2; }
  .page-home .reference-home--banner {
    margin-bottom: 45px; }
    .page-home .reference-home--banner .component-content {
      margin-bottom: 0; }
    .page-home .reference-home--banner h1 {
      font-family: "AvantGardeGothicITCW01D 731075",sans-serif;
      font-size: 48px;
      color: #E31836;
      padding: 90px 0 12px 0;
      margin: 0; }
    .page-home .reference-home--banner h2 {
      font-size: 28px;
      padding: 0 0 20px 0; }
    .page-home .reference-home--banner p {
      font-size: 19.2px;
      font-family: "ITCAvantGardeW01-CnDm",sans-serif;
      line-height: 1.5;
      margin: 0;
      padding: 0 0 40px 0; }
    .page-home .reference-home--banner .component-content {
      background-position: top center; }
  .page-home .reference-home--videos {
    margin-bottom: 100px; }
    .page-home .reference-home--videos .iconheading-webcast h2:before {
      background-image: url(../../assets/img/vx-spritesheet.png);
      background-position: 0px -256px;
      width: 84px;
      height: 84px; }
    .page-home .reference-home--videos .col-md-4.video-1, .page-home .reference-home--videos .col-md-4.video-2, .page-home .reference-home--videos .col-md-4.video-3 {
      position: relative;
      overflow: hidden; }
      .page-home .reference-home--videos .col-md-4.video-1 h3, .page-home .reference-home--videos .col-md-4.video-2 h3, .page-home .reference-home--videos .col-md-4.video-3 h3 {
        position: absolute;
        bottom: -300%;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 130px;
        color: #fff;
        padding: 20px;
        font-size: 16px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .page-home .reference-home--videos .col-md-4.video-1 p, .page-home .reference-home--videos .col-md-4.video-2 p, .page-home .reference-home--videos .col-md-4.video-3 p {
        position: relative;
        z-index: 10;
        color: #000;
        width: 100%;
        padding: 0;
        font-size: 12px;
        font-weight: bold;
        background: #F2F2F2;
        margin: 0; }
        .page-home .reference-home--videos .col-md-4.video-1 p:before, .page-home .reference-home--videos .col-md-4.video-2 p:before, .page-home .reference-home--videos .col-md-4.video-3 p:before {
          content: "\";
          font-family: FontAwesome, sans-serif;
          display: inline-block;
          font-style: normal;
          position: relative;
          font-weight: normal;
          -webkit-font-smoothing: antialiased;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          color: #fff;
          background: #0f808f;
          margin-right: 10px; }
      .page-home .reference-home--videos .col-md-4.video-1:hover, .page-home .reference-home--videos .col-md-4.video-2:hover, .page-home .reference-home--videos .col-md-4.video-3:hover {
        cursor: pointer; }
        .page-home .reference-home--videos .col-md-4.video-1:hover h3, .page-home .reference-home--videos .col-md-4.video-2:hover h3, .page-home .reference-home--videos .col-md-4.video-3:hover h3 {
          bottom: 0;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
    .page-home .reference-home--videos .col-md-4.video-1 {
      padding-right: 10px;
      position: relative; }
    .page-home .reference-home--videos .col-md-4.video-2 {
      padding: 0 5px; }
    .page-home .reference-home--videos .col-md-4.video-3 {
      padding-left: 10px; }
    .page-home .reference-home--videos .container-fluid.video-1,
    .page-home .reference-home--videos .container-fluid.video-2,
    .page-home .reference-home--videos .container-fluid.video-3 {
      display: none;
      margin-top: 30px;
      padding: 30px 0;
      background: #333;
      position: relative; }
      .page-home .reference-home--videos .container-fluid.video-1:before,
      .page-home .reference-home--videos .container-fluid.video-2:before,
      .page-home .reference-home--videos .container-fluid.video-3:before {
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #333; }
      .page-home .reference-home--videos .container-fluid.video-1 *,
      .page-home .reference-home--videos .container-fluid.video-2 *,
      .page-home .reference-home--videos .container-fluid.video-3 * {
        color: #fff; }
      .page-home .reference-home--videos .container-fluid.video-1 h3,
      .page-home .reference-home--videos .container-fluid.video-2 h3,
      .page-home .reference-home--videos .container-fluid.video-3 h3 {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 26px; }
      .page-home .reference-home--videos .container-fluid.video-1 p,
      .page-home .reference-home--videos .container-fluid.video-2 p,
      .page-home .reference-home--videos .container-fluid.video-3 p {
        font-size: 18px;
        line-height: 29px; }
      .page-home .reference-home--videos .container-fluid.video-1 .tags p,
      .page-home .reference-home--videos .container-fluid.video-2 .tags p,
      .page-home .reference-home--videos .container-fluid.video-3 .tags p {
        font-size: 14px;
        line-height: 15px;
        padding: 10px 0 0 0;
        margin: 0; }
      .page-home .reference-home--videos .container-fluid.video-1 .reference-video-player-html5,
      .page-home .reference-home--videos .container-fluid.video-2 .reference-video-player-html5,
      .page-home .reference-home--videos .container-fluid.video-3 .reference-video-player-html5 {
        padding-right: 15px; }
      .page-home .reference-home--videos .container-fluid.video-1 video,
      .page-home .reference-home--videos .container-fluid.video-2 video,
      .page-home .reference-home--videos .container-fluid.video-3 video {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        background: #000; }
      .page-home .reference-home--videos .container-fluid.video-1 .button,
      .page-home .reference-home--videos .container-fluid.video-2 .button,
      .page-home .reference-home--videos .container-fluid.video-3 .button {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: 0;
        display: block;
        font-size: 14px;
        text-decoration: none; }
        .page-home .reference-home--videos .container-fluid.video-1 .button.button-close:after,
        .page-home .reference-home--videos .container-fluid.video-2 .button.button-close:after,
        .page-home .reference-home--videos .container-fluid.video-3 .button.button-close:after {
          content: "";
          display: inline-block;
          -webkit-box-sizing: content-box;
                  box-sizing: content-box;
          margin-left: 0.5em;
          padding: 1px 0;
          vertical-align: middle;
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -913px -328px;
          width: 20px;
          height: 20px; }
    .page-home .reference-home--videos .container-fluid.video-1:before {
      left: 28%; }
    .page-home .reference-home--videos .container-fluid.video-3:before {
      left: 72%; }
  .page-home .reference-home--farmacos {
    margin-bottom: 35px; }
    .page-home .reference-home--farmacos .iconheading-medicines h2:before {
      background-image: url(../../assets/img/vx-spritesheet.png);
      background-position: -312px -464px;
      width: 84px;
      height: 84px; }
    .page-home .reference-home--farmacos .image {
      background: #f2f2f2;
      border-bottom: 4px solid #0f808f;
      padding: 22px 22px; }
    .page-home .reference-home--farmacos .richText.col-md-8 {
      padding-left: 15px; }
      .page-home .reference-home--farmacos .richText.col-md-8.last {
        padding-right: 15px; }
      .page-home .reference-home--farmacos .richText.col-md-8 h3 {
        margin-bottom: 10px; }
      .page-home .reference-home--farmacos .richText.col-md-8 p {
        font-size: 14.4px;
        margin: 5px; }
      .page-home .reference-home--farmacos .richText.col-md-8 ul {
        margin: 0;
        padding: 0; }
        .page-home .reference-home--farmacos .richText.col-md-8 ul li {
          margin: 0;
          padding: 0 !important; }
          .page-home .reference-home--farmacos .richText.col-md-8 ul li:before {
            display: none; }
          .page-home .reference-home--farmacos .richText.col-md-8 ul li a {
            font-size: 14.4px;
            display: block; }
          .page-home .reference-home--farmacos .richText.col-md-8 ul li a.button-file:before {
            content: '';
            background-image: url(../../assets/img/vx-spritesheet.png);
            background-position: -913px -84px;
            width: 20px;
            height: 23px;
            padding: 0 0 10px 30px;
            line-height: 2; }
  .page-home .reference-home--contact {
    margin-bottom: 90px; }
    .page-home .reference-home--contact .container-fluid > .component-content > .content {
      background: #f2f2f2;
      padding: 50px 20px 40px 20px;
      border-bottom: 4px solid #0f808f; }
    .page-home .reference-home--contact h2 {
      font-size: 20px; }
      .page-home .reference-home--contact h2:before {
        content: '';
        left: -99px;
        background-image: url(../../assets/img/vx-spritesheet.png);
        background-position: -573px -104px;
        width: 84px;
        height: 84px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px; }
    .page-home .reference-home--contact p {
      font-size: 16px;
      padding: 12px 0 0 95px; }
    .page-home .reference-home--contact .box-button p {
      padding: 12px 0 0 0; }
      .page-home .reference-home--contact .box-button p a.button {
        display: inline-block;
        padding: 8px 30px;
        color: #E31836;
        background: #fff;
        border: 0;
        text-decoration: none; }

/*#################### MATERIALS ###################*/
.reference-resource-banner {
  background: #333;
  padding: 49px 0;
  margin-bottom: 70px !important; }
  .reference-resource-banner .tabpane-header {
    border-left: 10px solid #E31836;
    margin-bottom: 40px; }
    .reference-resource-banner .tabpane-header h2 {
      font-size: 28px;
      padding-left: 10px;
      color: #fff; }
  .reference-resource-banner h3 {
    color: #fff;
    margin-bottom: 0; }
  .reference-resource-banner ul {
    margin: 0;
    padding: 0; }
    .reference-resource-banner ul li {
      margin: 0;
      padding: 0; }
      .reference-resource-banner ul li:before {
        display: none; }
