@charset "UTF-8";
@font-face {
  font-family: 'Balsamiq Sans Regular';
  src: url("../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.eot");
  src: url("../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.woff") format("woff"), url("../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.ttf") format("truetype"), url("../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.svg#BalsamicSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Balsamiq Sans Bold';
  src: url("../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.eot");
  src: url("../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.woff") format("woff"), url("../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.ttf") format("truetype"), url("../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.svg#BalsamicSansBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../../assets/fonts/FontAwesome/FontAwesome-webfont.eot");
  src: url("../../assets/fonts/FontAwesome/FontAwesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/FontAwesome/FontAwesome-webfont.woff") format("woff"), url("../../assets/fonts/FontAwesome/FontAwesome-webfont.ttf") format("truetype"), url("../../assets/fonts/FontAwesome/FontAwesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvantGarde';
  src: url("../../assets/fonts/33ED2B_0_0.eot");
  src: url("../../assets/fonts/33ED2B_0_0.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/33ED2B_0_0.woff2") format("woff2"), url("../../assets/fonts/33ED2B_0_0.woff") format("woff"), url("../../assets/fonts/33ED2B_0_0.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'AvantGarde';
  src: url("../../assets/fonts/33ED2B_1_0.eot");
  src: url("../../assets/fonts/33ED2B_1_0.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/33ED2B_1_0.woff2") format("woff2"), url("../../assets/fonts/33ED2B_1_0.woff") format("woff"), url("../../assets/fonts/33ED2B_1_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'AvantGarde';
  src: url("../../assets/fonts/33ED2B_2_0.eot");
  src: url("../../assets/fonts/33ED2B_2_0.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/33ED2B_2_0.woff2") format("woff2"), url("../../assets/fonts/33ED2B_2_0.woff") format("woff"), url("../../assets/fonts/33ED2B_2_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'AvantGarde';
  src: url("../../assets/fonts/34D7FA_0_0.eot");
  src: url("../../assets/fonts/34D7FA_0_0.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/34D7FA_0_0.woff2") format("woff2"), url("../../assets/fonts/34D7FA_0_0.woff") format("woff"), url("../../assets/fonts/34D7FA_0_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 1.5rem;
  font-family: "Balsamiq Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #000; }

a {
  color: #4882C0;
  text-decoration: underline; }
  a:hover, a:focus {
    color: #94b6da;
    text-decoration: underline; }

img {
  vertical-align: middle;
  max-width: 100%; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.is-hidden {
  display: none !important;
  visibility: hidden !important; }

h1, h2, h3, h4, h5 {
  font-family: "Balsamiq Sans Bold", Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 1.1;
  color: #000; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.4rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.5rem; }

html,
body {
  width: 100%; }

html {
  background-image: url("../../assets/img/tiny_grid.png"); }

[id="wrapper"] {
  padding-top: 20px; }
  @media (max-width: 767px) {
    [id="wrapper"] {
      padding: 20px 20px 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }

.component {
  margin-bottom: 20px; }
  .component > .component-content {
    margin-bottom: 0; }
    .component > .component-content:before, .component > .component-content:after {
      content: "";
      display: table; }
    .component > .component-content:after {
      clear: both; }

.component-content {
  margin-bottom: 14px; }
  .component-content:before, .component-content:after {
    content: "";
    display: table; }
  .component-content:after {
    clear: both; }

#header {
  /*#################### FIRST LINE ###################*/
  /*#################### LOGO ###################*/
  /*#################### MENU ###################*/
  /*#################### XXXXX ###################*/ }
  #header .component-content {
    margin-bottom: 0; }
  #header .sup {
    color: inherit;
    margin-left: 2px; }
  #header .box.bg-gray .box-adverse p {
    font-size: 13px;
    margin: 0 0 0 -30px;
    padding: 10px 0 10px 40px; }
    #header .box.bg-gray .box-adverse p:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 12px;
      left: -13px;
      background-image: url(../../assets/img/vx-spritesheet.png);
      background-position: -408px -887px;
      width: 16px;
      height: 15px; }
  #header .image.logo.mobile {
    display: none; }
  #header .image.logo img {
    max-width: 285px;
    padding: 21px 0 27px 0; }
  #header .box.box-menu {
    background-color: #E31836; }
    #header .box.box-menu p {
      display: none; }
    #header .box.box-menu br {
      display: none; }
    #header .box.box-menu ul {
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      list-style: none; }
      #header .box.box-menu ul:nth-child(1) > li {
        padding: 0 !important;
        /*#################### HOME ###################*/
        /*#################### FARMACOS ###################*/
        /*#################### MATERIALS ###################*/ }
        #header .box.box-menu ul:nth-child(1) > li:hover {
          background: #000; }
        #header .box.box-menu ul:nth-child(1) > li > ul {
          display: none;
          position: absolute;
          top: 48px;
          left: 0;
          background: #000;
          width: calc(100% + 36px);
          margin-left: -16px;
          z-index: 9;
          padding: 20px; }
        #header .box.box-menu ul:nth-child(1) > li:nth-child(2) > ul li a {
          text-transform: none; }
        #header .box.box-menu ul:nth-child(1) > li:nth-child(2) > ul li ul li a {
          text-transform: none;
          font-weight: normal;
          padding-left: 5px;
          text-decoration: underline; }
          #header .box.box-menu ul:nth-child(1) > li:nth-child(2) > ul li ul li a:before {
            display: none; }
        #header .box.box-menu ul:nth-child(1) > li:nth-child(3) > ul li {
          width: 18%;
          display: inline-block;
          vertical-align: top; }
      #header .box.box-menu ul li {
        margin: 0 16px 0 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        position: static; }
        #header .box.box-menu ul li:before {
          display: none; }
        #header .box.box-menu ul li > ul li a {
          line-height: 1.2; }
          #header .box.box-menu ul li > ul li a:hover {
            text-decoration: underline; }
        #header .box.box-menu ul li > ul li a:before {
          content: "";
          position: absolute;
          left: -0.35em;
          top: 15px;
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -955px -430px;
          width: 8px;
          height: 14px; }
        #header .box.box-menu ul li > ul li ul {
          max-width: 100%;
          calc: 100%;
          display: block; }
        #header .box.box-menu ul li:hover > ul {
          display: block; }
        #header .box.box-menu ul li a {
          color: #fff;
          font-weight: bold;
          text-decoration: none;
          font-size: 16px;
          text-transform: uppercase;
          padding: 11px 16px;
          display: inline-block;
          position: relative; }
        #header .box.box-menu ul li:nth-child(2) ul li {
          display: block; }

.page-home {
  /*#################### BANNER ###################*/
  /*#################### VIDEO ###################*/
  /*#################### FARMACOS ###################*/
  /*#################### CONTACT ###################*/ }
  .page-home .sup {
    color: inherit; }
  .page-home .iconheading h2 {
    position: relative;
    z-index: 5;
    height: auto;
    margin-bottom: 1em;
    font-family: "ITCAvantGardeW01-CnDm",sans-serif;
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase; }
    .page-home .iconheading h2:before {
      content: "";
      display: block;
      position: relative;
      top: 0;
      z-index: 10;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      margin: 0 auto;
      border: solid 6px #fff; }
    .page-home .iconheading h2:after {
      content: "";
      display: block;
      position: absolute;
      top: 50px;
      z-index: 1;
      width: 100%;
      height: 2px;
      background-color: #F2F2F2; }
  .page-home .reference-home--banner {
    margin-bottom: 45px; }
    .page-home .reference-home--banner .component-content {
      margin-bottom: 0; }
    .page-home .reference-home--banner h1 {
      font-family: "AvantGardeGothicITCW01D 731075",sans-serif;
      font-size: 48px;
      color: #E31836;
      padding: 90px 0 12px 0;
      margin: 0; }
    .page-home .reference-home--banner h2 {
      font-size: 28px;
      padding: 0 0 20px 0; }
    .page-home .reference-home--banner p {
      font-size: 19.2px;
      font-family: "ITCAvantGardeW01-CnDm",sans-serif;
      line-height: 1.5;
      margin: 0;
      padding: 0 0 40px 0; }
    .page-home .reference-home--banner .component-content {
      background-position: top center; }
  .page-home .reference-home--videos {
    margin-bottom: 100px; }
    .page-home .reference-home--videos .iconheading-webcast h2:before {
      background-image: url(../../assets/img/vx-spritesheet.png);
      background-position: 0px -256px;
      width: 84px;
      height: 84px; }
    .page-home .reference-home--videos .col-md-4.video-1, .page-home .reference-home--videos .col-md-4.video-2, .page-home .reference-home--videos .col-md-4.video-3 {
      position: relative;
      overflow: hidden; }
      .page-home .reference-home--videos .col-md-4.video-1 h3, .page-home .reference-home--videos .col-md-4.video-2 h3, .page-home .reference-home--videos .col-md-4.video-3 h3 {
        position: absolute;
        bottom: -300%;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 130px;
        color: #fff;
        padding: 20px;
        font-size: 16px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .page-home .reference-home--videos .col-md-4.video-1 p, .page-home .reference-home--videos .col-md-4.video-2 p, .page-home .reference-home--videos .col-md-4.video-3 p {
        position: relative;
        z-index: 10;
        color: #000;
        width: 100%;
        padding: 0;
        font-size: 12px;
        font-weight: bold;
        background: #F2F2F2;
        margin: 0; }
        .page-home .reference-home--videos .col-md-4.video-1 p:before, .page-home .reference-home--videos .col-md-4.video-2 p:before, .page-home .reference-home--videos .col-md-4.video-3 p:before {
          content: "\";
          font-family: FontAwesome, sans-serif;
          display: inline-block;
          font-style: normal;
          position: relative;
          font-weight: normal;
          -webkit-font-smoothing: antialiased;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          color: #fff;
          background: #0f808f;
          margin-right: 10px; }
      .page-home .reference-home--videos .col-md-4.video-1:hover, .page-home .reference-home--videos .col-md-4.video-2:hover, .page-home .reference-home--videos .col-md-4.video-3:hover {
        cursor: pointer; }
        .page-home .reference-home--videos .col-md-4.video-1:hover h3, .page-home .reference-home--videos .col-md-4.video-2:hover h3, .page-home .reference-home--videos .col-md-4.video-3:hover h3 {
          bottom: 0;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
    .page-home .reference-home--videos .col-md-4.video-1 {
      padding-right: 10px;
      position: relative; }
    .page-home .reference-home--videos .col-md-4.video-2 {
      padding: 0 5px; }
    .page-home .reference-home--videos .col-md-4.video-3 {
      padding-left: 10px; }
    .page-home .reference-home--videos .container-fluid.video-1,
    .page-home .reference-home--videos .container-fluid.video-2,
    .page-home .reference-home--videos .container-fluid.video-3 {
      display: none;
      margin-top: 30px;
      padding: 30px 0;
      background: #333;
      position: relative; }
      .page-home .reference-home--videos .container-fluid.video-1:before,
      .page-home .reference-home--videos .container-fluid.video-2:before,
      .page-home .reference-home--videos .container-fluid.video-3:before {
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #333; }
      .page-home .reference-home--videos .container-fluid.video-1 *,
      .page-home .reference-home--videos .container-fluid.video-2 *,
      .page-home .reference-home--videos .container-fluid.video-3 * {
        color: #fff; }
      .page-home .reference-home--videos .container-fluid.video-1 h3,
      .page-home .reference-home--videos .container-fluid.video-2 h3,
      .page-home .reference-home--videos .container-fluid.video-3 h3 {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 26px; }
      .page-home .reference-home--videos .container-fluid.video-1 p,
      .page-home .reference-home--videos .container-fluid.video-2 p,
      .page-home .reference-home--videos .container-fluid.video-3 p {
        font-size: 18px;
        line-height: 29px; }
      .page-home .reference-home--videos .container-fluid.video-1 .tags p,
      .page-home .reference-home--videos .container-fluid.video-2 .tags p,
      .page-home .reference-home--videos .container-fluid.video-3 .tags p {
        font-size: 14px;
        line-height: 15px;
        padding: 10px 0 0 0;
        margin: 0; }
      .page-home .reference-home--videos .container-fluid.video-1 .reference-video-player-html5,
      .page-home .reference-home--videos .container-fluid.video-2 .reference-video-player-html5,
      .page-home .reference-home--videos .container-fluid.video-3 .reference-video-player-html5 {
        padding-right: 15px; }
      .page-home .reference-home--videos .container-fluid.video-1 video,
      .page-home .reference-home--videos .container-fluid.video-2 video,
      .page-home .reference-home--videos .container-fluid.video-3 video {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        background: #000; }
      .page-home .reference-home--videos .container-fluid.video-1 .button,
      .page-home .reference-home--videos .container-fluid.video-2 .button,
      .page-home .reference-home--videos .container-fluid.video-3 .button {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: 0;
        display: block;
        font-size: 14px;
        text-decoration: none; }
        .page-home .reference-home--videos .container-fluid.video-1 .button.button-close:after,
        .page-home .reference-home--videos .container-fluid.video-2 .button.button-close:after,
        .page-home .reference-home--videos .container-fluid.video-3 .button.button-close:after {
          content: "";
          display: inline-block;
          -webkit-box-sizing: content-box;
                  box-sizing: content-box;
          margin-left: 0.5em;
          padding: 1px 0;
          vertical-align: middle;
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -913px -328px;
          width: 20px;
          height: 20px; }
    .page-home .reference-home--videos .container-fluid.video-1:before {
      left: 28%; }
    .page-home .reference-home--videos .container-fluid.video-3:before {
      left: 72%; }
  .page-home .reference-home--farmacos {
    margin-bottom: 35px; }
    .page-home .reference-home--farmacos .iconheading-medicines h2:before {
      background-image: url(../../assets/img/vx-spritesheet.png);
      background-position: -312px -464px;
      width: 84px;
      height: 84px; }
    .page-home .reference-home--farmacos .image {
      background: #f2f2f2;
      border-bottom: 4px solid #0f808f;
      padding: 22px 22px; }
    .page-home .reference-home--farmacos .richText.col-md-8 {
      padding-left: 15px; }
      .page-home .reference-home--farmacos .richText.col-md-8.last {
        padding-right: 15px; }
      .page-home .reference-home--farmacos .richText.col-md-8 h3 {
        margin-bottom: 10px; }
      .page-home .reference-home--farmacos .richText.col-md-8 p {
        font-size: 14.4px;
        margin: 5px; }
      .page-home .reference-home--farmacos .richText.col-md-8 ul {
        margin: 0;
        padding: 0; }
        .page-home .reference-home--farmacos .richText.col-md-8 ul li {
          margin: 0;
          padding: 0 !important; }
          .page-home .reference-home--farmacos .richText.col-md-8 ul li:before {
            display: none; }
          .page-home .reference-home--farmacos .richText.col-md-8 ul li a {
            font-size: 14.4px;
            display: block; }
          .page-home .reference-home--farmacos .richText.col-md-8 ul li a.button-file:before {
            content: '';
            background-image: url(../../assets/img/vx-spritesheet.png);
            background-position: -913px -84px;
            width: 20px;
            height: 23px;
            padding: 0 0 10px 30px;
            line-height: 2; }
  .page-home .reference-home--contact {
    margin-bottom: 90px; }
    .page-home .reference-home--contact .container-fluid > .component-content > .content {
      background: #f2f2f2;
      padding: 50px 20px 40px 20px;
      border-bottom: 4px solid #0f808f; }
    .page-home .reference-home--contact h2 {
      font-size: 20px; }
      .page-home .reference-home--contact h2:before {
        content: '';
        left: -99px;
        background-image: url(../../assets/img/vx-spritesheet.png);
        background-position: -573px -104px;
        width: 84px;
        height: 84px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px; }
    .page-home .reference-home--contact p {
      font-size: 16px;
      padding: 12px 0 0 95px; }
    .page-home .reference-home--contact .box-button p {
      padding: 12px 0 0 0; }
      .page-home .reference-home--contact .box-button p a.button {
        display: inline-block;
        padding: 8px 30px;
        color: #E31836;
        background: #fff;
        border: 0;
        text-decoration: none; }

/*#################### MATERIALS ###################*/
.reference-resource-banner {
  background: #333;
  padding: 49px 0;
  margin-bottom: 70px !important; }
  .reference-resource-banner .tabpane-header {
    border-left: 10px solid #E31836;
    margin-bottom: 40px; }
    .reference-resource-banner .tabpane-header h2 {
      font-size: 28px;
      padding-left: 10px;
      color: #fff; }
  .reference-resource-banner h3 {
    color: #fff;
    margin-bottom: 0; }
  .reference-resource-banner ul {
    margin: 0;
    padding: 0; }
    .reference-resource-banner ul li {
      margin: 0;
      padding: 0; }
      .reference-resource-banner ul li:before {
        display: none; }

#footer .container-fluid {
  padding: 35px 0; }

#footer .logo {
  margin-bottom: 44px; }
  #footer .logo img {
    width: 80px; }

#footer .section-1 {
  padding: 110px 0 0 20px; }
  #footer .section-1 ul {
    margin: 0;
    padding: 0; }
    #footer .section-1 ul li {
      margin: 0;
      padding: 0; }
      #footer .section-1 ul li a {
        font-size: 14px;
        padding-bottom: 12px;
        display: block; }
        #footer .section-1 ul li a.external-link:before {
          content: '';
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -585px -887px;
          width: 15px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 15px; }
      #footer .section-1 ul li:before {
        display: none; }

#footer .section-2 p {
  font-size: 16px;
  line-height: 1.1;
  border-right: 1px solid #dcdcdc;
  padding-bottom: 30px; }

#footer .section-3 p {
  font-size: 14px;
  padding: 110px 0 0 75px; }

.highlight-top {
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  border-top: 3px solid #000 !important;
  border-bottom: 0;
  border-right: 0;
  border-left: 0; }

.highlight-right {
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  border-right: 3px solid #000 !important;
  border-bottom: 0;
  border-top: 0;
  border-left: 0; }

.highlight-left {
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  border-left: 3px solid #000 !important;
  border-bottom: 0;
  border-top: 0;
  border-right: 0; }

.highlight-bottom {
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  border-bottom: 3px solid #000 !important;
  border-left: 0;
  border-top: 0;
  border-right: 0; }

.bg-info,
.bg-primary,
.bg-secondary {
  padding: 20px 30px;
  background: #D9D9D9; }
  .bg-info .text-highlight,
  .bg-primary .text-highlight,
  .bg-secondary .text-highlight {
    background: #FFF; }

.text-highlight {
  background: #D9D9D9;
  display: inline-block;
  padding: 0 3px; }

.btn,
.btn-primary {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  display: inline-block;
  text-decoration: none !important;
  background: #FFF;
  letter-spacing: 0;
  font-weight: bold;
  padding: 7px 15px;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #000;
          box-shadow: 3px 3px 0 #000;
  color: #000; }
  .btn:hover,
  .btn-primary:hover {
    color: #000;
    background: #94b6da; }

.btn + .btn {
  margin-left: 10px; }
  @media (max-width: 479px) {
    .btn + .btn {
      margin-left: 0;
      margin-top: 10px; } }

/* ===== GENERAL ===== */
html {
  font-size: 16px; }

body {
  color: #333;
  font-family: "AvantGarde",sans-serif !important;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: none;
  background: #fff; }

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.4rem 0;
  font-family: "AvantGarde",sans-serif !important;
  font-weight: 600;
  line-height: 1.3; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem;
  margin: 0px; }

h3 {
  font-size: 1.25rem; }

.container-fluid > .component-content {
  margin: 0 auto;
  text-align: left;
  max-width: 1260px;
  float: none;
  display: block;
  padding-right: 30px;
  padding-left: 30px; }

.container {
  width: auto !important;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px; }

#content {
  padding: 0px !important; }

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
  padding-right: 0px; }

.paragraphSystem, .row {
  margin-left: 0px;
  margin-right: 0px; }

.component {
  margin-bottom: 0px; }

a {
  color: #E31836;
  text-decoration: underline; }
  a .external-link:after {
    content: '';
    background-image: url(../../assets/img/vx-spritesheet.png);
    background-position: -585px -887px;
    width: 15px;
    height: 15px;
    display: inline-block; }

.richText ul {
  padding: 0px;
  margin: 0px; }
  .richText ul li {
    padding-left: 10px !important;
    line-height: 1.625rem;
    margin: 0px; }
    .richText ul li:before {
      content: "\2022";
      display: inline-block;
      width: 1rem;
      margin-left: -1rem;
      color: #E31836;
      position: relative !important;
      font-size: 6px !important;
      top: -4px !important;
      left: 3px !important; }

p {
  font-size: 0.875rem;
  margin: 0 0 0.5rem 0;
  line-height: 1.625em; }

.bg-gray {
  background: #F2F2F2; }

.sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  font-size: 0.625em;
  color: #0F808F;
  font-weight: 500;
  top: -0.5em;
  margin-left: 0px;
  text-align: left; }

sup {
  font-size: 0.625em; }

/* ===== PRODUCT SECTION 1 ===== */
.banner {
  position: relative;
  min-height: 318px;
  border-top: 1px solid #F2F2F2;
  width: 104.7325%;
  margin-left: -2.36625%; }
  .banner .banner-content {
    padding: 40px;
    text-align: left;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    z-index: 2; }
    .banner .banner-content h1 {
      margin: 0;
      max-width: none;
      width: 50%;
      line-height: 1.2;
      font-size: 2rem;
      color: #713f95;
      font-weight: 400; }
  .banner .product-logo {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 40px;
    vertical-align: middle;
    width: 250px; }
  .banner .banner-image {
    height: 318px;
    border-right: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    width: 100%;
    min-height: 247px;
    position: absolute;
    top: 0;
    overflow: hidden; }
    .banner .banner-image:after {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 4px solid #e2298f;
      z-index: 1;
      position: absolute;
      clear: both;
      left: 0;
      bottom: 0; }
    .banner .banner-image img {
      width: 100%;
      max-width: none;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0; }

.product-download {
  margin-top: 1.5rem;
  margin-bottom: 0.938rem; }
  .product-download h2 {
    margin-bottom: 30px;
    font-weight: 400; }
  .product-download .download-1 {
    margin-bottom: 1.813em;
    font-size: 0.875em; }
    .product-download .download-1:after {
      content: "";
      background-image: url("../../assets/img/vx-spritesheet.png");
      background-position: -585px -887px;
      width: 15px;
      height: 15px;
      text-decoration: none;
      display: block; }
  .product-download .download-2 {
    margin-bottom: 1.813em;
    font-size: 0.875em; }
    .product-download .download-2:after {
      content: "";
      background-image: url("../../assets/img/vx-spritesheet.png");
      background-position: -955px -430px;
      width: 8px;
      height: 14px;
      display: block; }
  .product-download p {
    margin: 0px;
    font-size: 1rem; }

.product-about ul {
  margin-bottom: 1.875rem;
  width: 50%; }

.product-about p {
  margin-bottom: 1.875rem;
  line-height: 1.625rem;
  font-size: 1rem; }

/* ===== PRODUCT SECTION 2 ===== */
.tabpane-button {
  display: none; }

.tabpane-title {
  margin-bottom: 1.429rem;
  margin-top: 3rem;
  padding-left: 10px;
  font-size: 1.75rem;
  border-left: 8px solid #E31836;
  display: inline-block;
  font-weight: 600; }

.content-heading {
  font-size: 1.25rem;
  font-weight: 600; }

.product-section-2 .producttab-indicationright {
  padding-left: 10px;
  overflow: hidden;
  border-left: 4px solid #0F808F; }
  .product-section-2 .producttab-indicationright p {
    font-size: 1rem; }

.product-section-2 .indications-tablet {
  display: table;
  float: right;
  height: 83px;
  margin-top: 1em;
  padding-right: 79px;
  text-align: right;
  background: url("../../assets/img/icon_pill.png") no-repeat right top; }
  .product-section-2 .indications-tablet p {
    display: table-cell;
    padding-right: 15px;
    font-size: 1.750rem;
    text-align: right;
    vertical-align: bottom;
    font-weight: 600;
    padding-left: 30px; }

.product-section-2 .indications-convenient {
  position: relative;
  margin: 2rem 0 3rem;
  padding: 1rem 1.5rem;
  overflow: visible;
  border: 1px solid #dcdcdc;
  background: #fff;
  text-align: center; }
  .product-section-2 .indications-convenient .image {
    height: auto;
    width: 100%;
    margin: 2em 0 0;
    padding: 0 4px;
    text-align: center;
    background: none;
    display: inline-block;
    float: none;
    vertical-align: top;
    max-width: 180px; }
    .product-section-2 .indications-convenient .image p {
      display: block;
      margin-top: 2em;
      font-weight: 600; }

.footnotes {
  margin: 1em 0 3em;
  padding: 1em 1em 1em 2em;
  border-left: 4px solid #E31836;
  background: #F2F2F2; }
  .footnotes p {
    font-size: 0.875rem; }

/* ===== PRODUCT SECTION 4 ===== */
.product-section-4 h3 {
  margin-top: 15px; }

.umbraco-copy li {
  font-size: 0.875rem;
  margin-bottom: 0px !important;
  line-height: 22.75px !important; }

.umbraco-copy p {
  font-size: 15px;
  margin: 0 0 3px 0;
  line-height: 21px; }

.umbraco-copy strong {
  font-weight: 600; }

.umbraco-copy img {
  display: block;
  width: auto !important;
  height: auto !important;
  margin: 2em auto;
  padding: 1% 5%;
  border: 1px solid #F2F2F2; }

/* ===== PRODUCT SECTION 3 ===== */
.table.table-container {
  border: none;
  margin-bottom: 40px; }
  .table.table-container table {
    border-spacing: 4px;
    border-collapse: separate;
    background-color: #fff; }
    .table.table-container table th {
      width: 50%;
      height: 60px;
      padding: 1em 1.2em;
      background: #CFE6E9;
      text-align: center;
      font-weight: 600; }
    .table.table-container table td {
      padding: 1em;
      background: #fff;
      width: 50%;
      line-height: 19.2px; }
    .table.table-container table .even td {
      background: #F2F2F2; }

/* ===== PRODUCT SECTION 5 ===== */
.product-section-5 .table.table-container table tbody tr:first-child th:first-child {
  background: #F2F2F2; }
