@import '../../core/mixins';

.accordion-container {
    @include frame();
    list-style: none;
    padding: 0;
    margin: 0;
}

.accordion-slide {
    border-top: 2px solid black;
}

.accordion-head {
    @include heading();
    @include filled();
    @include innerspace();
    background: #e1e1e1;
    padding: 0;
    color: #939191;
}

.accordion-slide:first-child {
    border-top: 0;
}

.accordion-title {
    display: inline-block;
    margin: 0;
    float: none;
}

.accordion-content {
    @include innerspace();
}

.accordion-content-wrapper {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.mod-js {
    .accordion-slide .accordion-head:hover {
        color: $textHoverColor;
    }

    .accordion-slide.is-active > .accordion-head:hover {
        @include filled();
    }

    .accordion-slide.is-active > .accordion-head {
        color: $black;
    }

    .accordion-content-wrapper {
        visibility: hidden;
        height: 0;
        position: relative;
        top: -999999px;
        left: -999999px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .accordion-slide.is-active > .accordion-content-wrapper {
        visibility: visible;
        position: relative;
        top: auto;
        left: auto;
        height: auto;
    }

    .accordion-slide.is-active:last-child > .accordion-content-wrapper {
        border-bottom: none;
    }

    .accordion-head {
        cursor: pointer;
        position: relative;
        &:after {
            @include font-awesome($fa-var-chevron-right);
            position: absolute;
            top: 50%;
            font-size: 12px;
            margin-top: -10px;
        }
    }

    .accordion-slide.is-active > .accordion-head:hover {
        color: $textHoverColor;
        cursor: pointer;
        &:after {
            @include font-awesome($fa-var-chevron-down);
        }
    }
}
