.navigation-vertical {
  .navigation-root {
    &.navigation-level1 {
      @include frame;
      padding: 0;
      display: block;
      list-style: none;
    }

    display: none;
    list-style: none;
    padding-left: 0;
    position: relative !important; // Overrides navigation-base
    margin-top: 0 !important; // Overrides navigation-base
    left: 0 !important; // Overrides navigation-base
    border: 0;
  }

  .navigation-item {
    background: #FFF;
    display: block;
    border: 0;
    margin: 0;
    padding: 0 !important; // Overrides navigation-base
    width: 100% !important; // Overrides navigation-base

    &.navigation-level1 {
      padding: 0;
    }

    &.navigation-level2 > .navigation-item-title {
      padding-left: 24px;
      &:before {
        content: '- ';
      }
    }

    &.navigation-level3 > .navigation-item-title {
      padding-left: 32px;
      &:before {
        content: '-- ';
      }
    }

    &.navigation-level4 > .navigation-item-title {
      padding-left: 40px;
      &:before {
        content: '--- ';
      }
    }

    &.has-children {
      > .navigation-item-title > .navigation-item-decoration {
        outline: none;

        &:after {
          @include font-awesome($fa-var-chevron-down);
          position: absolute;
          right: 16px;
          top: 8px;
        }
      }
    }

    &:hover,
    &:focus {
      > .navigation-root {
        display: none;
      }
    }

    &.is-active,
    &.has-active-child {
      background: darken(#FFF, 1%);
    }
  }

  .navigation-item-title {
    padding: 10px 16px !important;
    position: relative;
    display: block;
    color: $text-color !important;
  }
}