.navigation-fat {
  .navigation-root {
    padding: 0;
    margin: 0;
    display: block;
    position: static;
  }

  .navigation-item-title {
    padding: 0 !important; // Base override
  }

  .navigation-item-decoration {
    display: none !important;
  }

  .navigation-level1 {
    &.navigation-root {
      display: table;
      table-layout : fixed;
      width: 100%;
    }

    &.navigation-item {
      display: table-cell;
      padding: 15px;

      > .navigation-item-title {
        padding: 0;
      }
    }
  }

  .navigation-level1.navigation-item + .navigation-level1.navigation-item {
    @include frame;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
  }

  .navigation-level2 {
    &.navigation-root {
      font-size: em(1.3);
      margin-top: 15px !important;
      border: 0;
    }

    &.navigation-item {
      position: relative;
      padding-left: 12px;
      margin-left: 0;
      word-break: break-word;

      &:before {
        @include font-awesome($fa-var-caret-right);
        position: absolute;
        top: 1px;
        left: 2px;
      }
    }
  }

  .navigation-item {
    line-height: 1.2;
    list-style-type: none;
    margin: 0 0 8px;
    background: none !important; // Base override

    &:hover,
    &:focus {
      .navigation-item {
        width: auto; // Base override
        padding: 0 0 0 15px; // Base override
      }

      .navigation-root {
        display: block; // Base override
      }
    }
  }

  @include respond-to(tablet-portrait) {
    .navigation-level1 {
      &.navigation-item {
        display: block;
      }
    }

    .navigation-level1.navigation-item + .navigation-level1.navigation-item {
      border-left: 0;
      border-top: 3px solid $black;
    }

    .navigation-item.navigation-level2 {
      margin: 0 0 8px !important; // Base override
    }

    .navigation-item .navigation-item-title { // Base override
      padding-left: 0;

      &:before {
        content: '';
      }
    }
  }
}