.navigation-mobile {
  @include respond-to(tablet-landscape-desktop) {
    .navigation-root.navigation-level1 {
      display: block !important;
    }
  }

  @include respond-to(tablet-portrait) {
    .navigation-mobile-menu {
      @include frame;
      display: block;
      outline: none;
      background: none;
      padding: 0;
      margin-bottom: -3px;

      &:hover {
        background: $link-hover-color;
      }

      &:before {
        @include font-awesome($fa-var-bars);
        font-size: 2.5rem;
        display: block;
        width: 41px;
        height: 41px;
        line-height: 38px;
        color: $black;
      }
    }

    .navigation-root.navigation-level1 {
      display: none;
    }
  }
}