.navigation-sidebar {
  .navigation-item-title {
    display: block;
    padding: 0 !important;

    &:hover {
      text-decoration: none;
    }
  }

  .navigation-item {
    overflow: hidden;
    display: block !important;
    padding: 10px !important;
    box-sizing: border-box;
    margin: 0;

    &:hover,
    &:focus {
      background: none !important;

      > .navigation-root {
        display: none;
      }

      .navigation-item {
        width: auto;
        padding: 0;
      }
    }

    &.has-active-child:hover,
    &.has-active-child:focus {
      > .navigation-root {
        display: block;
      }
    }

    &.is-active,
    &.has-active-child {
      background: none;
      margin-top: 10px;
    }

    &.is-active {
      background: $gray !important;
    }
  }

  .navigation-root {
    &.navigation-level1 {
      @include frame;
      padding: 0;
      display: block;
    }

    list-style: none;
    border: 0;
    display: none;
    position: static; // Base override
  }

  .has-active-child > .navigation-root {
    display: block;
  }

  .has-children > .navigation-item-title > .navigation-item-decoration {
    &:after {
      @include font-awesome($fa-var-chevron-right);
      font-size: 70%;
      padding-left: 5px;
      top: -1px;
      right: auto;
    }
  }

  @include respond-to(tablet-portrait) {
    .has-children > .navigation-item-title > .navigation-item-decoration {
      &:after {
        @include font-awesome($fa-var-chevron-right);
        font-size: 70%;
        padding-left: 5px;
        top: -1px;
      }
    }

    .navigation-item .navigation-item-title { // Base override
      padding-left: 0;

      &:before {
        content: '';
      }
    }
  }
}