.navigation-mobile-menu {
  display: none;
}

.navigation-root {
  @include frame;
  background: $body-bg;
  display: none;
  list-style: none;
  padding-left: 0;

  &.navigation-level1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
  }

  &.navigation-level2,
  &.navigation-level3,
  &.navigation-level4,
  &.navigation-level5 {
    position: absolute;
    z-index: $zindex-nav;
  }

  &.navigation-level3,
  &.navigation-level4,
  &.navigation-level5 {
    margin-top: -32px;
    left: 100%;
  }
}

.navigation-item {
  position: relative;

  &:hover,
  &:focus {
    background: $link-hover-color !important;
  }

  &.is-active,
  &.has-active-child {
    background: $gray;
  }

  &.navigation-level1 {
    display: inline-block;
    margin: 0 5px;

    > .navigation-item-title {
      padding: 10px;
      display: block;
    }
  }

  &:hover,
  &:focus {
    > .navigation-root {
      display: block;

      > .navigation-item {
        padding: 10px 20px;
        width: 150px;
      }
    }
  }
}

.navigation-item-title {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
  }
}

@include respond-to(tablet-portrait) {
  .navigation-root {
    display: none;
    list-style: none;
    padding-left: 0;
    position: relative !important;
    margin-top: 0 !important;
    left: 0 !important;
    border: 0;

    &.navigation-level1 {
      @include frame;
      display: block;
      padding: 0;
      list-style: none;
    }
  }

  .navigation-item {
    background: #FFF;
    padding: 0;

    &:hover,
    &:focus {
      > .navigation-root > .navigation-item,
      > .navigation-root > .navigation-item {
        width: auto;
        padding: 0;
      }
    }

    &.navigation-level1 {
      display: block;
      margin: 0;
    }

    &.navigation-level2 > .navigation-item-title {
      padding-left: 24px;

      &:before {
        content: '- ';
      }
    }

    &.navigation-level3 > .navigation-item-title {
      padding-left: 32px;

      &:before {
        content: '-- ';
      }
    }

    &.navigation-level4 > .navigation-item-title {
      padding-left: 40px;

      &:before {
        content: '--- ';
      }
    }

    &.has-children {
      > .navigation-item-title > .navigation-item-decoration {
        outline: none;

        &:after {
          @include font-awesome($fa-var-chevron-down);
          position: absolute;
          right: 0;
          top: 0;
          padding: 8px 12px;
        }
      }
    }

    &:hover,
    &:focus {
      > .navigation-root {
        display: none;
      }
    }
  }

  .navigation-item-title {
    padding: 10px 16px !important;
    position: relative;
    display: block;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}