.table {
  @include frame;
  background: $body-bg;

  table {
    table-layout: fixed;
    width: 100%;
    margin-top: -1px;

    #{headers()} {
      margin: 0.5em;
    }
  }

  th {
    background: $gray;
  }

  th,
  td {
    padding: 10px;
  }

  .table-caption {
    @include frame;
    padding: 30px 20px;
    background: $gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 2px;
  }

  .table-heading {
    margin: 0;
  }

  .table-button {
    padding: 8px 15px;
    top: 5px;
    position: relative;
    border-radius: 3px;

    &:hover {
      text-decoration: none;
    }
  }

  .button-group {
    display: none;

    &.button-group-inline {
      display: block;
    }
  }

  @include respond-to(tablet-portrait) {
    table {
      overflow-x: auto;
      display: block;
      text-align: center;
    }

    tbody {
      display: inline-block;
    }
  }
}