@import '../../core/mixins';

.video-heading {
  @include heading();
}

.video-nojs {
  display: none;
  text-align: center;
  padding: 20px 0;
  color: red;
}

.no-js .video-nojs {
  display: block;
}

.video object,
.video embed {
  width: 100% !important;
}

.video-video {
  @include frame();
}

.video-video-container {
  margin: 0 auto;
}

.video-description {
  @include frame();
  @include innerspace();
  margin-top: -2px;
}