/* IE8 Specific Styles */
/* Lighbox */
/* line 4, ../../sass/utils/ie8.scss */
.lightboxOverlay {
  background-image: url("../img/white.png");
}

/* line 7, ../../sass/utils/ie8.scss */
.lightboxContainer {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#d2d2d2')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#d2d2d2');
  zoom: 1;
}

/* line 12, ../../sass/utils/ie8.scss */
.lbClose {
  background-image: url("../../assets/img/lb-close.png");
}
