.video-nojs {
  display: none;
  text-align: center;
  padding: 20px 0;
  color: red;
}

.no-js .video-nojs {
  display: block;
}

.video object,
.video embed {
  width: 100% !important;
}

.video-video-container {
  margin: 0 auto;
}

.mejs-container {
  outline: none;
}

.mejs-container .mejs-controls {
  @include frame;
  box-sizing: border-box;
  background: $body-bg;
  height: 55px;
}

.mejs-controls .mejs-button button {
  background: none;
  outline: none;

  &:before {
    font-size: 2.4rem;
    color: $black;
  }
}

.mejs-controls .mejs-playpause-button button {
  position: relative;
  left: -6px;
  top: 3px;
  height: 35px;
  width: 35px;

  &:before {
    @include font-awesome($fa-var-play-circle-o);
    font-size: 3.5rem;
  }
}

.mejs-controls .mejs-volume-button {
  top: 10px;
}

.mejs-container .mejs-controls .mejs-fullscreen-button {
  margin-top: 14px;
}

.mejs-controls .mejs-pause button {
  left: -7px;

  &:before {
    @include font-awesome($fa-var-pause);
    font-size: 2.8rem;
  }
}

.mejs-controls div.mejs-time-rail {
  padding-top: 10px;

  .mejs-time-total {
    @include frame;
    height: 10px;
    background: $body-bg;
  }

  .mejs-time-current {
    height: 10px;
    background: $gray;
  }

  .mejs-time-handle {
    border-radius: 50%;
    top: -4px;
    left: -3px;
    border: 2px solid $black;

    &:hover {
      background: $link-hover-color;
    }
  }
}

.mejs-container .mejs-controls .mejs-time {
  display: none;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
  background: $body-bg;
  border: 2px solid $black;
  margin-top: -7px;
  left: -3px;

  .mejs-volume-current {
    width: 3px;
    background: $link-color;
  }

  .mejs-volume-total {
    width: 3px;
    background: $gray;
  }
}

.mejs-overlay-button {
  opacity: 1;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px solid $black;
  background: $body-bg;

  &:before {
    font-size: 4rem;
    background: none;
    border: 0;
    top: 3px;
  }
}