.accordion-horizontal {
  @include respond-to(desktop) {
    .accordion-slide {
      transition: height 0.3s linear;
      width: 40px;
      height: 300px;
      float: left;
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      margin-left: -3px;
      background: $body-bg;
    }

    .accordion-head {
      transform: rotate(-90deg);
      transform-origin: 0;
      position: absolute;
      left: 15px;
      bottom: -20px;
      padding-left: 20px;
      min-width: 1000px;
    }

    .accordion-content {
      padding-left: 51px;
      padding-right: 20px;
      padding-top: 0;
      overflow: hidden;
    }

    .accordion-content-wrapper {
      position: absolute !important;
      height: auto !important;
    }
  }

  @include respond-to(tablet-portrait) {
    .accordion-slide {
      width: 100% !important;
    }

    .accordion-content-wrapper {
      width: 100% !important;
    }
  }
}