.accordion-container {
  padding: 0;
  margin: 0;
  list-style: none;
  background: $body-bg;
}

.accordion-title {
  font-size: 1.6rem;
  display: inline-block;
  margin: 0;
}

.accordion-slide {
  @include frame;
  margin-top: -3px;
}

.accordion-content {
  padding-top: $component-spacing;
}

.accordion-head {
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
  float: none;

  a {
    color: $black;
    text-decoration: none;
  }

  .is-active & {
    @include frame;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  &:hover {
    background: lighten($blue, 20%);
  }
}

.accordion-content-wrapper {
  padding: 0 10px;
}

.mod-js {
  .accordion-content-wrapper {
    visibility: hidden;
    height: 0;
    position: relative;
    top: -999999px;
    left: -999999px;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
  }

  .accordion-slide.is-active > .accordion-content-wrapper {
    visibility: visible;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    overflow: hidden;
  }
}