.fileList-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fileList-file {
  @include frame;
  padding: 30px 280px 30px 20px;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;

  &.has-image {
    min-height: 114px;

    .fileList-title,
    .fileList-description {
      padding-left: 115px;
    }
  }
}

.fileList-title {
  margin: 0;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileList-download {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  right: 20px;
}

.fileList-download-size {
  font-size: em(1.1);
  display: block;
  float: left;
  line-height: 44px;
  margin-right: 10px;
}

.fileList-thumbnail {
  max-width: 100px;
  max-height: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fileList-download-link {
  @include frame;
  display: inline-block;
  text-decoration: none !important;
  background: $body-bg;
  letter-spacing: 0;
  font-weight: bold;
  padding: 7px 15px;
  outline: none;
  box-shadow: 3px 3px 0 #000;
  color: $black;

  &:hover {
    color: $black;
    background: lighten($blue, 20%);
  }
}


@include respond-to(tablet-portrait) {
  .fileList-file {
    padding-right: 20px;

    &.has-image {
      .fileList-title,
      .fileList-description {
        padding-left: 0;
      }

      .fileList-thumbnail {
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        position: static;
        margin-bottom: 10px;
      }
    }
  }

  .fileList-title,
  .fileList-description {
    text-align: center;
  }

  .fileList-title {
    margin-bottom: 10px;
  }

  .fileList-download {
    position: static;
    margin-top: 0;
  }

  .fileList-download-size {
    float: none;
    line-height: inherit;
  }

  .fileList-download-link {
    margin-top: 10px;
  }
}