.sitemap-column {
  > ul {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    list-style: none;

    ul {
      padding: 0;

      li {
        list-style: none;
        padding: 0 0 5px 0;

        ul {
          padding: 5px 0 0 10px;
        }

        a {
          &:before {
            @include font-awesome($fa-var-chevron-right);
            font-size: .9rem;
            margin-right: 5px;
            top: -1px;
          }
        }
      }
    }
  }

  h3 {
    padding-bottom: 5px;
    margin: 10px 10px 8px 0;

    a {
      color: $headings-color;
      text-decoration: none;
    }
  }

  @include respond-to(tablet-portrait) {
    > ul {
      width: 100%;
    }
  }
}