.imageGallery-description {
  margin: 10px 0;
}

.imageGallery {
  &.is-playing {
    .imageGallery-view-overlay {
      &:before {
        @include font-awesome($fa-var-pause);
        font-size: 3rem;
        position: absolute;
      }
    }
  }
}

.imageGallery-view-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;

  &:before {
    @include font-awesome($fa-var-play);
    font-size: 4rem;
    color: $black;
    position: absolute;
    background: $body-bg;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    top: 50%;
    left: 50%;
    border: 5px solid $black;
    margin: -35px 0 0 -35px;
  }

  &:hover {
    opacity: 1;
  }
}

.imageGallery-view {
  @include frame;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;

  img {
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.imageGallery-thumbnails {
  position: relative;
  margin: 20px 0;
}

.imageGallery-list {
  overflow: hidden;
  margin: 0 10%;
  position: relative;
}

.imageGallery-list-inner {
  overflow: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 4000px;
}

.imageGallery-thumbnail {
  @include frame;
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: block;

  a {
    display: block;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

.imageGallery-arrow {
  @include frame;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  font-size: 0;
  text-align: center;
  background: $body-bg;
  text-decoration: none;

  &:hover {
    background: $link-hover-color;
  }
}

.imageGallery-arrow-left,
.imageGallery-arrow-right {
  &:before {
    font-size: 2.3rem;
    line-height: 22px;
    color: $black;
  }
}

.imageGallery-view {
  .imageGallery-arrow {
    margin-top: -18px;
    width: 36px;
    height: 36px;
  }

  .imageGallery-arrow-left,
  .imageGallery-arrow-right {
    &:before {
      font-size: 3rem;
      line-height: 36px;
      color: $black;
    }
  }
}

.imageGallery-arrow-left {
  left: -3px;

  &:before {
    @include font-awesome($fa-var-caret-left);
  }
}

.imageGallery-arrow-right {
  right: -3px;

  &:before {
    @include font-awesome($fa-var-caret-right);
  }
}