@import '../../core/mixins';

.imageGallery {
  > .component-content {
    @include frame();
    @include innerspace();
    @include filled();
  }
}

.imageGallery-heading {
  @include heading();
}

.imageGallery-view {
  @include frame();
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: $backgroundActiveColor;
}

.imageGallery-view img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.imageGallery-description {
  margin: 10px 0;
}

.imageGallery-thumbnails {
  position: relative;
  margin: 20px 0;
}

.imageGallery-list {
  overflow: hidden;
  margin: 0 50px;
  position: relative;
}

.imageGallery-arrow,
.imageGallery-arrow.is-disabled:hover {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  width: 35px;
  height: 60px;
  // background-position: 50%;
  // background-repeat: no-repeat;
  font: 0/0 serif;
  color: transparent;
  &:before {
    position: absolute;
    top: 50%;
    color: #AAA;
  }
}

.imageGallery-arrow:hover:before {
  color: #888;
}

.imageGallery-description {
  margin: 15px 0;
}

.imageGallery-arrow.is-disabled {
  opacity: 0.5;
}

.imageGallery-arrow {
  text-align: center;
}

.imageGallery-arrow-left,
.imageGallery-arrow-left.is-disabled:hover {
  left: 0;
  &:before {
    @include font-awesome($fa-var-chevron-left);
    font-size: 30px;
  }
}

.imageGallery-arrow-right,
.imageGallery-arrow-right.is-disabled:hover {
  right: 0;
  &:before {
    @include font-awesome($fa-var-chevron-right);
    font-size: 30px;
  }
}

.imageGallery-list-inner {
  overflow: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 4000px;
}

.imageGallery-thumbnail {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: block;
  border: solid 4px $borderColor;
  opacity: .7;
  filter: alpha(opacity=70);
  -moz-transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
}

.imageGallery-thumbnail:hover,
.imageGallery-thumbnail.is-active {
  opacity: 1;
  filter: alpha(opacity=100);
}

.imageGallery-thumbnail-cover {
  display: block;
  max-width: none;
}

.imageGallery-thumbnail-title {
  display: block;
  margin: 10px auto 0 auto;
  font-size: 11px;
  width: 71px;
}

.imageGallery .thumbnails-list li:hover .image,
.imageGallery .thumbnails-list li.active .image {
  border: solid 4px $borderColor;
  margin: 0;
}

.imageGallery-thumbnail-image {
  margin: 2px;
  border: solid 2px $borderColor;
  position: relative;
}

.imageGallery-thumbnail-overlay {
  opacity: 0.7;
  height: 28px;
  left: 50%;
  margin: -14px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 30px;
  cursor: pointer;
  &:before {
    @include font-awesome($fa-var-play);
    display: inline-block;
    font-size: 15px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #3e3e3e;
    text-indent: 7px;
    background: #fff;
    text-align: center;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.imageGallery-thumbnail.is-active .imageGallery-thumbnail-overlay {
  opacity: 0;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

.imageGallery-thumbnail a {
  display: block;
}

.imageGallery-thumbnail-image img {
  display: block;
  width: 63px;
  height: 52px;
  margin: 0 auto;
}

.imageGallery-view {
  cursor: pointer;
}

.imageGallery-view-overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 73px;
  height: 69px;
  margin: -34px 0 0 -36px;
  cursor: pointer;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
  &:before {
    @include font-awesome($fa-var-play);
    @include box-sizing(border-box);
    @include border-radius(50%);
    display: inline-block;
    font-size: 30px;
    width: 100%;
    height: 100%;
    border: 3px solid #3e3e3e;
    text-indent: 5px;
    background: #fff;
    text-align: center;
    line-height: 65px;
  }
}

.imageGallery.is-playing .imageGallery-view-overlay {
  &:before {
    @include font-awesome($fa-var-pause);
    text-indent: 0px;
  }
}

.imageGallery .gallery-play {
  color: $textColor;
}

.imageGallery-view:hover .imageGallery-view-overlay {
  opacity: 0.7;
}

.imageGallery-view .imageGallery-view-overlay:hover {
  opacity: 1;
  text-decoration: none;
}

.mod-js {
  .imageGallery-thumbnail {
    padding: 0;
  }

  .imageGallery-thumbnails {
    position: relative;
  }
}

/*no js view*/
.no-js .imageGallery-view {
  display: none;
}

.no-js .imageGallery-list {
  margin: 0;
}

.no-js .imageGallery-thumbnail img {
  width: auto;
  height: auto;
}

.no-js .imageGallery-thumbnail {
  border: 0;
  opacity: 1;
  float: none;
  overflow: hidden;
}

.no-js .imageGallery-thumbnail a:after {
  content: attr(data-description);
  display: block;
  padding: 10px 0 30px;
  text-align: left;
}

.no-js .imageGallery-arrow {
  display: none;
}