/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/accessranking.scss */
.accessranking .accessRankingResults ol li:before {
  background: none repeat scroll 0 0 #f36633;
  border: 1px solid #D5D1CE;
  border-radius: 10px;
  color: white;
  content: counter(item,decimal) " ";
  counter-increment: item;
  font-weight: 700;
  padding: 3px 8px;
  text-align: center;
  margin-right: 5px;
  display: inline-block;
}

/* line 16, ../../sass/components/accessranking.scss */
.accessranking .accessRankingResults ol {
  counter-reset: item;
  padding-left: 10px;
}
/* line 20, ../../sass/components/accessranking.scss */
.accessranking .accessRankingResults ol .accessRankingResults li {
  color: #635a54;
  list-style-type: decimal;
  display: block;
  font-size: 12px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 1px;
}
