/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/acregistration.scss */
.acregister form {
  padding: 15px 10px;
}

/* line 6, ../../sass/components/acregistration.scss */
.acregister .wsform-item.register-form-checkbox .wsform-controls {
  padding-top: 14px;
}

/* line 9, ../../sass/components/acregistration.scss */
.acregistration .acregister-failure p {
  color: #ce381b;
}
