/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/article.teaser.scss */
.articleTeaser .articleTeaser-image-holder.articleTeaser-image-top img {
  border-bottom: solid 4px #f36633;
}

/* line 6, ../../sass/components/article.teaser.scss */
.articleTeaser .articleTeaser-text-content .articleTeaser-text-link {
  background-color: #f36633;
  border-radius: 3px;
  color: white;
  padding: 8px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
}
/* line 190, ../../sass/core/_mixins.scss */
.articleTeaser .articleTeaser-text-content .articleTeaser-text-link:hover {
  background-color: #939191;
  color: white;
}
/* line 193, ../../sass/core/_mixins.scss */
.articleTeaser .articleTeaser-text-content .articleTeaser-text-link:active {
  background-color: #939191;
  color: white;
}

/* Mobile view 767 max width */
@media only screen and (max-width: 767px) {
  /* line 16, ../../sass/components/article.teaser.scss */
  .articleTeaser .component-content.hero-article .articleTeaser-text-content {
    width: 100%;
  }

  /* line 19, ../../sass/components/article.teaser.scss */
  .articleTeaser .articleTeaser-image-holder {
    text-align: center;
  }
}
