/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/coupons.scss */
.coupons {
  padding: 10px;
  border: 1px solid #D5D1CE;
  position: relative;
  margin-bottom: 10px;
}
/* line 8, ../../sass/components/coupons.scss */
.coupons .couponsImage {
  float: left;
  width: 30%;
  margin-right: 10px;
}
/* line 13, ../../sass/components/coupons.scss */
.coupons .couponsDescription {
  float: left;
  width: 60%;
}

/* line 21, ../../sass/components/coupons.scss */
.coupons .couponsContainer .button,
.coupons .couponsContainer a.lightbox {
  bottom: 10px;
  position: absolute;
  right: 25px;
}

/* line 28, ../../sass/components/coupons.scss */
.coupons a.lightbox, .overlay-content-inner a.couponCancel, .overlay-content-inner a.couponSubmit {
  background-color: #f36633;
  border-radius: 3px;
  color: white;
  padding: 8px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
}
/* line 190, ../../sass/core/_mixins.scss */
.coupons a.lightbox:hover, .overlay-content-inner a.couponCancel:hover, .overlay-content-inner a.couponSubmit:hover {
  background-color: #939191;
  color: white;
}
/* line 193, ../../sass/core/_mixins.scss */
.coupons a.lightbox:active, .overlay-content-inner a.couponCancel:active, .overlay-content-inner a.couponSubmit:active {
  background-color: #939191;
  color: white;
}
