/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/dosage.calculator.scss */
.dosageCalculator .dosageCalculatorInput {
  padding: 20px 10px 0 10px;
  border: 1px solid #D5D1CE;
}
/* line 6, ../../sass/components/dosage.calculator.scss */
.dosageCalculator .dosageCalculatorInput .dosageOptionGroup {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
}
/* line 10, ../../sass/components/dosage.calculator.scss */
.dosageCalculator .dosageCalculatorInput .dosageOptionGroup input {
  padding: 7px 0;
  border: solid 1px #e0e0e0;
  max-width: 125px;
}

/* line 18, ../../sass/components/dosage.calculator.scss */
.dosageCalculator .dosageDatepicker {
  background: #fff url("../../img/calendar-icon.jpg") no-repeat scroll right center;
}

/* line 23, ../../sass/components/dosage.calculator.scss */
.dosageCalculatorButton {
  background-color: #f36633;
  border-radius: 3px;
  color: white;
  padding: 8px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
}
/* line 190, ../../sass/core/_mixins.scss */
.dosageCalculatorButton:hover {
  background-color: #939191;
  color: white;
}
/* line 193, ../../sass/core/_mixins.scss */
.dosageCalculatorButton:active {
  background-color: #939191;
  color: white;
}

/* Jquery UI Datepicker */
/* line 30, ../../sass/components/dosage.calculator.scss */
.ui-helper-hidden {
  display: none;
}

/* line 33, ../../sass/components/dosage.calculator.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 43, ../../sass/components/dosage.calculator.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 53, ../../sass/components/dosage.calculator.scss */
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

/* line 59, ../../sass/components/dosage.calculator.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 62, ../../sass/components/dosage.calculator.scss */
.ui-helper-clearfix {
  min-height: 0;
}

/* line 65, ../../sass/components/dosage.calculator.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 74, ../../sass/components/dosage.calculator.scss */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
/* line 80, ../../sass/components/dosage.calculator.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 87, ../../sass/components/dosage.calculator.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 97, ../../sass/components/dosage.calculator.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 104, ../../sass/components/dosage.calculator.scss */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

/* line 109, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

/* line 113, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

/* line 120, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

/* line 124, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

/* line 127, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

/* line 130, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

/* line 133, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

/* line 136, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

/* line 145, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

/* line 150, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

/* line 154, ../../sass/components/dosage.calculator.scss */
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

/* line 158, ../../sass/components/dosage.calculator.scss */
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

/* line 164, ../../sass/components/dosage.calculator.scss */
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

/* line 170, ../../sass/components/dosage.calculator.scss */
.ui-datepicker td {
  border: 0;
  padding: 1px;
}

/* line 174, ../../sass/components/dosage.calculator.scss */
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: center;
  text-decoration: none;
}

/* line 181, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

/* line 189, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

/* line 197, ../../sass/components/dosage.calculator.scss */
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
/* line 203, ../../sass/components/dosage.calculator.scss */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

/* line 206, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

/* line 209, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

/* line 213, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

/* line 216, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

/* line 219, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

/* line 222, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

/* line 226, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

/* line 229, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
/* line 236, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl {
  direction: rtl;
}

/* line 239, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

/* line 243, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

/* line 247, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

/* line 251, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

/* line 255, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

/* line 258, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

/* line 261, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

/* line 265, ../../sass/components/dosage.calculator.scss */
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* Component containers
----------------------------------*/
/* line 273, ../../sass/components/dosage.calculator.scss */
.ui-widget {
  font-size: 1.1em;
}

/* line 276, ../../sass/components/dosage.calculator.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 279, ../../sass/components/dosage.calculator.scss */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-size: 1em;
}

/* line 285, ../../sass/components/dosage.calculator.scss */
.ui-widget-content {
  border: 1px solid #d9d6c4;
  background: #eeeeee;
  color: #1f1f1f;
}

/* line 290, ../../sass/components/dosage.calculator.scss */
.ui-widget-content a {
  color: #1f1f1f;
}

/* line 293, ../../sass/components/dosage.calculator.scss */
.ui-widget-header {
  border: 1px solid #EEECE4;
  background: white;
  color: #323131;
  font-weight: bold;
}

/* line 299, ../../sass/components/dosage.calculator.scss */
.ui-widget-header a {
  color: #323131;
}

/* Interaction states
----------------------------------*/
/* line 306, ../../sass/components/dosage.calculator.scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cbc7bd;
  background: #f8f7f6;
  font-weight: bold;
  color: #654b24;
}

/* line 314, ../../sass/components/dosage.calculator.scss */
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #654b24;
  text-decoration: none;
}

/* line 320, ../../sass/components/dosage.calculator.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #FF7A21;
  background: #FF7A21;
  font-weight: bold;
  color: #ffffff;
}

/* line 331, ../../sass/components/dosage.calculator.scss */
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* line 342, ../../sass/components/dosage.calculator.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #FF7A21;
  background: #FF7A21;
  font-weight: bold;
  color: #ffffff;
}

/* line 350, ../../sass/components/dosage.calculator.scss */
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
/* line 360, ../../sass/components/dosage.calculator.scss */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #FF7A21;
  background: #eeece4;
  color: #3a3427;
}

/* line 367, ../../sass/components/dosage.calculator.scss */
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #3a3427;
}

/* line 372, ../../sass/components/dosage.calculator.scss */
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #681818;
  background: #b83400;
  color: #ffffff;
}

/* line 379, ../../sass/components/dosage.calculator.scss */
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff;
}

/* line 384, ../../sass/components/dosage.calculator.scss */
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff;
}

/* line 389, ../../sass/components/dosage.calculator.scss */
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

/* line 394, ../../sass/components/dosage.calculator.scss */
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* line 401, ../../sass/components/dosage.calculator.scss */
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* line 408, ../../sass/components/dosage.calculator.scss */
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/
/* states and images */
/* line 416, ../../sass/components/dosage.calculator.scss */
.ui-icon {
  width: 16px;
  height: 16px;
}

/* line 420, ../../sass/components/dosage.calculator.scss */
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(../../img/ui-icons_222222_256x240.png);
}

/* line 424, ../../sass/components/dosage.calculator.scss */
.ui-widget-header .ui-icon {
  background-image: url(../../img/ui-icons_FF7A21_256x240.png);
}

/* line 427, ../../sass/components/dosage.calculator.scss */
.ui-state-default .ui-icon {
  background-image: url(../../img/ui-icons_FF7A21_256x240.png);
}

/* line 430, ../../sass/components/dosage.calculator.scss */
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(../../img/ui-icons_ffffff_256x240.png);
}

/* line 434, ../../sass/components/dosage.calculator.scss */
.ui-state-active .ui-icon {
  background-image: url(../../img/ui-icons_ffffff_256x240.png);
}

/* line 437, ../../sass/components/dosage.calculator.scss */
.ui-state-highlight .ui-icon {
  background-image: url(../../img/ui-icons_3572ac_256x240.png);
}

/* line 440, ../../sass/components/dosage.calculator.scss */
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(../../img/ui-icons_fbdb93_256x240.png);
}

/* positioning */
/* line 446, ../../sass/components/dosage.calculator.scss */
.ui-icon-blank {
  background-position: 16px 16px;
}

/* line 449, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

/* line 452, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

/* line 455, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-1-e {
  background-position: -32px 0;
}

/* line 458, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-1-se {
  background-position: -48px 0;
}

/* line 461, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-1-s {
  background-position: -64px 0;
}

/* line 464, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

/* line 467, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-1-w {
  background-position: -96px 0;
}

/* line 470, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

/* line 473, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

/* line 476, ../../sass/components/dosage.calculator.scss */
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

/* line 479, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

/* line 482, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

/* line 485, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

/* line 488, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

/* line 491, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 494, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

/* line 497, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

/* line 500, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

/* line 503, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

/* line 506, ../../sass/components/dosage.calculator.scss */
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

/* line 509, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

/* line 512, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

/* line 515, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

/* line 518, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

/* line 521, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

/* line 524, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

/* line 527, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

/* line 530, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

/* line 533, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

/* line 536, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

/* line 539, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

/* line 542, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

/* line 545, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

/* line 548, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

/* line 551, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

/* line 554, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

/* line 557, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

/* line 560, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

/* line 563, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

/* line 566, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

/* line 569, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

/* line 572, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

/* line 575, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

/* line 578, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

/* line 581, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/* line 584, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

/* line 587, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

/* line 590, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

/* line 593, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

/* line 596, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

/* line 599, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

/* line 602, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

/* line 605, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

/* line 608, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

/* line 611, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

/* line 614, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

/* line 617, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

/* line 620, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

/* line 623, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

/* line 626, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

/* line 629, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

/* line 632, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

/* line 635, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

/* line 638, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

/* line 641, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

/* line 644, ../../sass/components/dosage.calculator.scss */
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

/* line 647, ../../sass/components/dosage.calculator.scss */
.ui-icon-extlink {
  background-position: -32px -80px;
}

/* line 650, ../../sass/components/dosage.calculator.scss */
.ui-icon-newwin {
  background-position: -48px -80px;
}

/* line 653, ../../sass/components/dosage.calculator.scss */
.ui-icon-refresh {
  background-position: -64px -80px;
}

/* line 656, ../../sass/components/dosage.calculator.scss */
.ui-icon-shuffle {
  background-position: -80px -80px;
}

/* line 659, ../../sass/components/dosage.calculator.scss */
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

/* line 662, ../../sass/components/dosage.calculator.scss */
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

/* line 665, ../../sass/components/dosage.calculator.scss */
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

/* line 668, ../../sass/components/dosage.calculator.scss */
.ui-icon-folder-open {
  background-position: -16px -96px;
}

/* line 671, ../../sass/components/dosage.calculator.scss */
.ui-icon-document {
  background-position: -32px -96px;
}

/* line 674, ../../sass/components/dosage.calculator.scss */
.ui-icon-document-b {
  background-position: -48px -96px;
}

/* line 677, ../../sass/components/dosage.calculator.scss */
.ui-icon-note {
  background-position: -64px -96px;
}

/* line 680, ../../sass/components/dosage.calculator.scss */
.ui-icon-mail-closed {
  background-position: -80px -96px;
}

/* line 683, ../../sass/components/dosage.calculator.scss */
.ui-icon-mail-open {
  background-position: -96px -96px;
}

/* line 686, ../../sass/components/dosage.calculator.scss */
.ui-icon-suitcase {
  background-position: -112px -96px;
}

/* line 689, ../../sass/components/dosage.calculator.scss */
.ui-icon-comment {
  background-position: -128px -96px;
}

/* line 692, ../../sass/components/dosage.calculator.scss */
.ui-icon-person {
  background-position: -144px -96px;
}

/* line 695, ../../sass/components/dosage.calculator.scss */
.ui-icon-print {
  background-position: -160px -96px;
}

/* line 698, ../../sass/components/dosage.calculator.scss */
.ui-icon-trash {
  background-position: -176px -96px;
}

/* line 701, ../../sass/components/dosage.calculator.scss */
.ui-icon-locked {
  background-position: -192px -96px;
}

/* line 704, ../../sass/components/dosage.calculator.scss */
.ui-icon-unlocked {
  background-position: -208px -96px;
}

/* line 707, ../../sass/components/dosage.calculator.scss */
.ui-icon-bookmark {
  background-position: -224px -96px;
}

/* line 710, ../../sass/components/dosage.calculator.scss */
.ui-icon-tag {
  background-position: -240px -96px;
}

/* line 713, ../../sass/components/dosage.calculator.scss */
.ui-icon-home {
  background-position: 0 -112px;
}

/* line 716, ../../sass/components/dosage.calculator.scss */
.ui-icon-flag {
  background-position: -16px -112px;
}

/* line 719, ../../sass/components/dosage.calculator.scss */
.ui-icon-calendar {
  background-position: -32px -112px;
}

/* line 722, ../../sass/components/dosage.calculator.scss */
.ui-icon-cart {
  background-position: -48px -112px;
}

/* line 725, ../../sass/components/dosage.calculator.scss */
.ui-icon-pencil {
  background-position: -64px -112px;
}

/* line 728, ../../sass/components/dosage.calculator.scss */
.ui-icon-clock {
  background-position: -80px -112px;
}

/* line 731, ../../sass/components/dosage.calculator.scss */
.ui-icon-disk {
  background-position: -96px -112px;
}

/* line 734, ../../sass/components/dosage.calculator.scss */
.ui-icon-calculator {
  background-position: -112px -112px;
}

/* line 737, ../../sass/components/dosage.calculator.scss */
.ui-icon-zoomin {
  background-position: -128px -112px;
}

/* line 740, ../../sass/components/dosage.calculator.scss */
.ui-icon-zoomout {
  background-position: -144px -112px;
}

/* line 743, ../../sass/components/dosage.calculator.scss */
.ui-icon-search {
  background-position: -160px -112px;
}

/* line 746, ../../sass/components/dosage.calculator.scss */
.ui-icon-wrench {
  background-position: -176px -112px;
}

/* line 749, ../../sass/components/dosage.calculator.scss */
.ui-icon-gear {
  background-position: -192px -112px;
}

/* line 752, ../../sass/components/dosage.calculator.scss */
.ui-icon-heart {
  background-position: -208px -112px;
}

/* line 755, ../../sass/components/dosage.calculator.scss */
.ui-icon-star {
  background-position: -224px -112px;
}

/* line 758, ../../sass/components/dosage.calculator.scss */
.ui-icon-link {
  background-position: -240px -112px;
}

/* line 761, ../../sass/components/dosage.calculator.scss */
.ui-icon-cancel {
  background-position: 0 -128px;
}

/* line 764, ../../sass/components/dosage.calculator.scss */
.ui-icon-plus {
  background-position: -16px -128px;
}

/* line 767, ../../sass/components/dosage.calculator.scss */
.ui-icon-plusthick {
  background-position: -32px -128px;
}

/* line 770, ../../sass/components/dosage.calculator.scss */
.ui-icon-minus {
  background-position: -48px -128px;
}

/* line 773, ../../sass/components/dosage.calculator.scss */
.ui-icon-minusthick {
  background-position: -64px -128px;
}

/* line 776, ../../sass/components/dosage.calculator.scss */
.ui-icon-close {
  background-position: -80px -128px;
}

/* line 779, ../../sass/components/dosage.calculator.scss */
.ui-icon-closethick {
  background-position: -96px -128px;
}

/* line 782, ../../sass/components/dosage.calculator.scss */
.ui-icon-key {
  background-position: -112px -128px;
}

/* line 785, ../../sass/components/dosage.calculator.scss */
.ui-icon-lightbulb {
  background-position: -128px -128px;
}

/* line 788, ../../sass/components/dosage.calculator.scss */
.ui-icon-scissors {
  background-position: -144px -128px;
}

/* line 791, ../../sass/components/dosage.calculator.scss */
.ui-icon-clipboard {
  background-position: -160px -128px;
}

/* line 794, ../../sass/components/dosage.calculator.scss */
.ui-icon-copy {
  background-position: -176px -128px;
}

/* line 797, ../../sass/components/dosage.calculator.scss */
.ui-icon-contact {
  background-position: -192px -128px;
}

/* line 800, ../../sass/components/dosage.calculator.scss */
.ui-icon-image {
  background-position: -208px -128px;
}

/* line 803, ../../sass/components/dosage.calculator.scss */
.ui-icon-video {
  background-position: -224px -128px;
}

/* line 806, ../../sass/components/dosage.calculator.scss */
.ui-icon-script {
  background-position: -240px -128px;
}

/* line 809, ../../sass/components/dosage.calculator.scss */
.ui-icon-alert {
  background-position: 0 -144px;
}

/* line 812, ../../sass/components/dosage.calculator.scss */
.ui-icon-info {
  background-position: -16px -144px;
}

/* line 815, ../../sass/components/dosage.calculator.scss */
.ui-icon-notice {
  background-position: -32px -144px;
}

/* line 818, ../../sass/components/dosage.calculator.scss */
.ui-icon-help {
  background-position: -48px -144px;
}

/* line 821, ../../sass/components/dosage.calculator.scss */
.ui-icon-check {
  background-position: -64px -144px;
}

/* line 824, ../../sass/components/dosage.calculator.scss */
.ui-icon-bullet {
  background-position: -80px -144px;
}

/* line 827, ../../sass/components/dosage.calculator.scss */
.ui-icon-radio-on {
  background-position: -96px -144px;
}

/* line 830, ../../sass/components/dosage.calculator.scss */
.ui-icon-radio-off {
  background-position: -112px -144px;
}

/* line 833, ../../sass/components/dosage.calculator.scss */
.ui-icon-pin-w {
  background-position: -128px -144px;
}

/* line 836, ../../sass/components/dosage.calculator.scss */
.ui-icon-pin-s {
  background-position: -144px -144px;
}

/* line 839, ../../sass/components/dosage.calculator.scss */
.ui-icon-play {
  background-position: 0 -160px;
}

/* line 842, ../../sass/components/dosage.calculator.scss */
.ui-icon-pause {
  background-position: -16px -160px;
}

/* line 845, ../../sass/components/dosage.calculator.scss */
.ui-icon-seek-next {
  background-position: -32px -160px;
}

/* line 848, ../../sass/components/dosage.calculator.scss */
.ui-icon-seek-prev {
  background-position: -48px -160px;
}

/* line 851, ../../sass/components/dosage.calculator.scss */
.ui-icon-seek-end {
  background-position: -64px -160px;
}

/* line 854, ../../sass/components/dosage.calculator.scss */
.ui-icon-seek-start {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
/* line 859, ../../sass/components/dosage.calculator.scss */
.ui-icon-seek-first {
  background-position: -80px -160px;
}

/* line 862, ../../sass/components/dosage.calculator.scss */
.ui-icon-stop {
  background-position: -96px -160px;
}

/* line 865, ../../sass/components/dosage.calculator.scss */
.ui-icon-eject {
  background-position: -112px -160px;
}

/* line 868, ../../sass/components/dosage.calculator.scss */
.ui-icon-volume-off {
  background-position: -128px -160px;
}

/* line 871, ../../sass/components/dosage.calculator.scss */
.ui-icon-volume-on {
  background-position: -144px -160px;
}

/* line 874, ../../sass/components/dosage.calculator.scss */
.ui-icon-power {
  background-position: 0 -176px;
}

/* line 877, ../../sass/components/dosage.calculator.scss */
.ui-icon-signal-diag {
  background-position: -16px -176px;
}

/* line 880, ../../sass/components/dosage.calculator.scss */
.ui-icon-signal {
  background-position: -32px -176px;
}

/* line 883, ../../sass/components/dosage.calculator.scss */
.ui-icon-battery-0 {
  background-position: -48px -176px;
}

/* line 886, ../../sass/components/dosage.calculator.scss */
.ui-icon-battery-1 {
  background-position: -64px -176px;
}

/* line 889, ../../sass/components/dosage.calculator.scss */
.ui-icon-battery-2 {
  background-position: -80px -176px;
}

/* line 892, ../../sass/components/dosage.calculator.scss */
.ui-icon-battery-3 {
  background-position: -96px -176px;
}

/* line 895, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-plus {
  background-position: 0 -192px;
}

/* line 898, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-minus {
  background-position: -16px -192px;
}

/* line 901, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-close {
  background-position: -32px -192px;
}

/* line 904, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

/* line 907, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

/* line 910, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

/* line 913, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

/* line 916, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

/* line 919, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

/* line 922, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

/* line 925, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

/* line 928, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

/* line 931, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

/* line 934, ../../sass/components/dosage.calculator.scss */
.ui-icon-circle-check {
  background-position: -208px -192px;
}

/* line 937, ../../sass/components/dosage.calculator.scss */
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

/* line 940, ../../sass/components/dosage.calculator.scss */
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

/* line 943, ../../sass/components/dosage.calculator.scss */
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

/* line 946, ../../sass/components/dosage.calculator.scss */
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

/* line 949, ../../sass/components/dosage.calculator.scss */
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

/* line 952, ../../sass/components/dosage.calculator.scss */
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

/* line 955, ../../sass/components/dosage.calculator.scss */
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

/* line 958, ../../sass/components/dosage.calculator.scss */
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

/* line 961, ../../sass/components/dosage.calculator.scss */
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

/* line 964, ../../sass/components/dosage.calculator.scss */
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

/* line 967, ../../sass/components/dosage.calculator.scss */
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/* line 970, ../../sass/components/dosage.calculator.scss */
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* line 973, ../../sass/components/dosage.calculator.scss */
.privacyPolicy {
  overflow: hidden;
}

/* line 976, ../../sass/components/dosage.calculator.scss */
.privacyPolicy p {
  margin: 0;
}

/* line 979, ../../sass/components/dosage.calculator.scss */
.privacyPolicy .wsform-hint {
  display: none;
}

/* line 982, ../../sass/components/dosage.calculator.scss */
.privacyPolicy input[type='checkbox'] {
  float: left;
}

/* line 985, ../../sass/components/dosage.calculator.scss */
.privacyPolicy-text {
  padding-left: 20px;
}
