/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/editusername.scss */
.editusername .editUserNameFormSuccess, .editUserNameFormFailure {
  display: none;
}

/* line 6, ../../sass/components/editusername.scss */
.editusername .component-content .editUserNameFormSuccess p {
  color: #8A0808;
  margin-bottom: 10px;
}

/* line 10, ../../sass/components/editusername.scss */
.editusername .component-content .editUserNameFormFailure p {
  color: #8A0808;
  margin-bottom: 10px;
}

/* line 14, ../../sass/components/editusername.scss */
.editUserNameForm .control-group .button {
  margin-top: 15px;
}

/* line 18, ../../sass/components/editusername.scss */
.button {
  background-color: #f36633;
  border-radius: 3px;
  color: white;
  padding: 8px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
}
/* line 190, ../../sass/core/_mixins.scss */
.button:hover {
  background-color: #939191;
  color: white;
}
/* line 193, ../../sass/core/_mixins.scss */
.button:active {
  background-color: #939191;
  color: white;
}
