/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 5, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-eventDate,
.eventDetails-itineraryDayDate {
  color: #72635e;
}

/* line 10, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-speakerPhotoUrl {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

/* line 16, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-speakerProfile {
  display: inline-block;
}

/* line 20, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-location, .eventdetails .eventDetails-locationName {
  background: url("../../img/location.png") no-repeat left center;
  padding: 5px 15px;
}

/* line 24, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-locale {
  background: url("../../img/locale.png") no-repeat left center;
  padding: 5px 20px;
}

/* line 28, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetailsInfo h2 {
  color: #72635e;
}

/* line 32, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-itineraryDayDate {
  background: #f36633;
}

/* line 35, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-itineraryDayDate h5 {
  color: white;
  padding: 7px 10px;
}

/* line 40, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-keyDocumentsDownload a {
  background: url("../../img/Download_Icon.png") no-repeat left center;
  padding-left: 17px;
}

/* line 44, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-locationPic {
  width: 250px;
  height: 200px;
}

/* line 48, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-itineraryItemInfo p {
  display: inline-block;
}

/* line 51, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetailsSpeaker {
  margin-bottom: 15px;
}

/* line 55, ../../sass/components/eventdetails.scss */
.eventdetails ul {
  padding-left: 0;
}
/* line 57, ../../sass/components/eventdetails.scss */
.eventdetails ul li {
  list-style-type: none;
}

/* line 62, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetailsSpeakerInfo .eventDetails-speakerProfile .eventDetails-speakerPhoto {
  float: left;
  margin: 0 15px 0 0;
}

/* line 66, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetailsSpeakerInfo .eventDetails-speakerProfile h4,
.eventdetails .eventDetailsSpeakerInfo .eventDetails-speakerProfile p {
  padding: 10px;
}

/* line 70, ../../sass/components/eventdetails.scss */
.eventdetails button.eventDetails-eventRegister-button, .eventdetails .eventDetails-eventUnRegister-button,
.eventdetails .eventDetails-eventLaunch-button, .eventdetails .eventDetails-eventNotLoggedIn a {
  background-color: #f36633;
  border: 1px solid #D5D1CE;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
  margin-top: 10px;
}

/* line 83, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetailsItineraryInfo .eventDetails-itineraryItemInfo {
  border-bottom: 1px solid #D5D1CE;
  padding: 5px 0;
}

/* line 88, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetailsItineraryInfo span.eventDetails-itineraryItemEndDate,
.eventdetails .eventDetailsItineraryInfo span.eventDetails-itineraryItemDate {
  display: inline-block;
  width: 90px;
}

/* line 95, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelatedList-img-small, .eventdetails .eventRelatedList-description,
.eventdetails .eventRelatedList-location, .eventdetails .eventRelated-eventLive {
  display: inline-block;
  vertical-align: top;
}

/* line 100, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelatedList-img-small {
  width: 10%;
}

/* line 103, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelatedList-description {
  width: 68%;
}

/* line 106, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelatedList-location {
  width: 15%;
}

/* line 109, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelated-eventLive {
  width: 5%;
}

/* line 112, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelated-eventLive p {
  background: #f36633;
  color: white;
  padding: 40px 10px;
}

/* line 118, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelatedList-location .eventDetails-eventWebinar {
  background: url("../../img/video.png") no-repeat left center;
  padding: 5px 23px;
}

/* line 122, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelatedList-location .eventRelated-eventLive, .eventdetails .eventRelatedList-location .eventDetails-eventWebinar, .eventdetails .eventRelatedList-location .eventDetails-duration,
.eventdetails .eventDetails-eventNotWebinar {
  display: none;
}

/* line 126, ../../sass/components/eventdetails.scss */
.eventdetails .showWebinarEvent.eventRelatedList-location .eventDetails-eventWebinar,
.eventdetails .showWebinarEvent.eventRelatedList-location .eventDetails-duration {
  display: block;
}

/* line 130, ../../sass/components/eventdetails.scss */
.eventdetails .showEventLocation.eventRelatedList-location .eventDetails-eventNotWebinar {
  display: block;
}

/* line 133, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelated-eventLive.hideLiveEvent {
  display: none;
}

/* line 136, ../../sass/components/eventdetails.scss */
.eventdetails .eventRelated-eventLive.showLiveEvent {
  display: inline-block;
}

/* line 139, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-eventRegister .eventDetails-eventRegister-button.eventDetails-button-disabled:disabled {
  background-color: #cccccc;
  color: #e0e0e0;
}

/* line 143, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-zincCode p {
  float: right;
}

/* line 147, ../../sass/components/eventdetails.scss */
.eventDetails-relatedEvents .eventDetails-duration, .eventDetails-pastRelatedEvents .eventDetails-duration {
  background: url("../../img/clock.png") no-repeat left center;
  padding: 5px 20px;
}

/* line 151, ../../sass/components/eventdetails.scss */
.eventList-prescription .eventList-prescriptionurl {
  background: url("../../img/Download_Icon.png") no-repeat left center;
  padding-left: 17px;
}

/* line 156, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-category.showWebinarEvent .eventDetails-eventWebinar,
.eventdetails .eventDetails-category.showEventLocation .eventDetails-eventNotWebinar {
  display: block;
}

/* line 160, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-category.showWebinarEvent .eventDetails-eventNotWebinar,
.eventdetails .eventDetails-category.showEventLocation .eventDetails-eventWebinar {
  display: none;
}

/* line 164, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-category .eventDetails-eventWebinar {
  background: url("../../img/video.png") no-repeat left center;
  padding: 5px 25px;
}

/* line 168, ../../sass/components/eventdetails.scss */
.eventdetails .eventDetails-category .eventDetails-eventNotWebinar {
  background: transparent url("../../img/location.png") no-repeat scroll left center;
  padding: 5px 15px;
}
