/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 8, ../../sass/components/eventCalendar.scss */
.eventcalendar .eventCalendarFilter {
  border: solid 1px #D5D1CE;
}
/* line 10, ../../sass/components/eventCalendar.scss */
.eventcalendar .eventCalendarFilter h4 {
  border-bottom: 1px solid #D5D1CE;
  text-align: center;
  padding-bottom: 5px;
  font-size: 1.5em;
  color: #f36633;
}
/* line 13, ../../sass/components/eventCalendar.scss */
.eventcalendar .eventCalendarFilter .eventCalendarSearchSection div {
  margin-bottom: 15px;
  padding: 0 10px;
}
/* line 16, ../../sass/components/eventCalendar.scss */
.eventcalendar .eventCalendarFilter .eventCalendarSearchSection div label {
  display: inline-block;
  width: 200px;
}
/* line 20, ../../sass/components/eventCalendar.scss */
.eventcalendar .eventCalendarFilter .eventCalendarSearchSection div select {
  width: 200px;
  min-height: 30px;
}
/* line 24, ../../sass/components/eventCalendar.scss */
.eventcalendar .eventCalendarFilter .eventCalendarSearchSection div input {
  width: 195px;
  min-height: 30px;
}
/* line 29, ../../sass/components/eventCalendar.scss */
.eventcalendar .eventCalendarFilter .eventCalendarButtons .eventCalendarSubmit {
  float: right;
}

/* line 36, ../../sass/components/eventCalendar.scss */
.eventCalendarTemplate, .event-results-label,
.eventcalendar .searchResultDetails {
  display: none;
}
