/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/eventlist.scss */
.eventlist .eventListContent {
  border-bottom: solid 1px #e0e0e0;
  margin-bottom: 10px;
}

/* line 8, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .eventList-img-small, .eventlist .eventListContainer .eventList-description,
.eventlist .eventListContainer .eventList-img-large {
  display: inline-block;
  vertical-align: top;
  float: left;
}

/* line 15, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .eventList-img-small img {
  width: 100px;
  height: 100px;
}

/* line 20, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .eventList-description {
  padding: 0 15px;
  width: 60%;
}

/* line 25, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .eventList-description p {
  margin: 0 0 10px 0;
}

/* line 29, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .eventList-webinarLink, .eventlist .eventListContainer .eventList-location,
.eventlist .eventListContainer .eventList-button {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}

/* line 36, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .event-list-live_event {
  vertical-align: middle;
  padding: 30px 15px;
  float: right;
  background: #f36633;
  color: white;
}

/* line 44, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer ul li {
  list-style-type: none;
  position: relative;
}
/* line 47, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer ul li li.live {
  background: #e0e0e0;
}

/* line 51, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .eventList-webinarLink span.eventList-duration {
  background: url("../../img/clock.png") no-repeat left center;
  padding: 5px 20px;
}

/* line 55, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .eventList-webinarLink span.eventList-webinar-icon {
  background: url("../../img/webinar_icon.png") no-repeat left center;
  padding-left: 70px;
  display: block;
  margin-bottom: 7px;
  width: 60px;
  height: 11px;
}

/* line 63, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .eventList-location span.eventList-location {
  background: url("../../img/location.png") no-repeat left center;
  padding-left: 15px;
}

/* line 67, ../../sass/components/eventlist.scss */
.event-filter-container .event-filter-button {
  margin-top: 15px;
}

/* line 70, ../../sass/components/eventlist.scss */
.eventlist .event-list-live_event {
  display: none;
}

/* line 73, ../../sass/components/eventlist.scss */
.eventlist li.live .event-list-live_event {
  display: inline-block;
}

/* line 76, ../../sass/components/eventlist.scss */
.event-filter-container .event-filter-button .event-filter-submit {
  background-color: #f36633;
  border: 1px solid #D5D1CE;
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
}

/* line 86, ../../sass/components/eventlist.scss */
.event-filter-date .searchFilter-start-date, .event-filter-date .searchFilter-end-date {
  display: inline-block;
}

/* line 89, ../../sass/components/eventlist.scss */
.event-filter-taggroup .searchFilter-control, .event-filter-format .searchFilter-control {
  background: none repeat scroll 0 0 #f5f5f5;
  border-bottom: 1px solid #D5D1CE;
  padding: 7px 5px;
}

/* line 94, ../../sass/components/eventlist.scss */
.eventlist .eventList-category {
  margin-top: 10px;
}

/* line 97, ../../sass/components/eventlist.scss */
.event-filter-format, .event-filter-date, .event-filter-button {
  display: none;
}

/* line 100, ../../sass/components/eventlist.scss */
.eventlist .eventListContainer .loading {
  padding: 50px;
  text-align: center;
}

/* line 104, ../../sass/components/eventlist.scss */
.eventList-eventNotWebinar, .eventList-duration, .eventList-eventWebinar {
  display: none;
}

/* line 107, ../../sass/components/eventlist.scss */
.showWebinarEvent .eventList-eventWebinar, .showWebinarEvent .eventList-duration {
  display: block;
}

/* line 110, ../../sass/components/eventlist.scss */
.showEventLocation .eventList-eventNotWebinar {
  display: block;
}

/* line 113, ../../sass/components/eventlist.scss */
.eventlist .eventList-location .eventList-eventWebinar {
  background: url("../../img/video.png") no-repeat left center;
  padding: 5px 23px;
}

/* line 116, ../../sass/components/eventlist.scss */
.eventlist .eventList-location .eventList-duration {
  background: url("../../img/clock.png") no-repeat left center;
  padding: 5px 20px;
}

/* line 120, ../../sass/components/eventlist.scss */
.eventlist .eventList-zincCode p {
  float: right;
}

/* line 123, ../../sass/components/eventlist.scss */
.eventlist .eventList-eventLive.showLiveEvent {
  display: inline-block;
}

/* line 126, ../../sass/components/eventlist.scss */
.eventlist .eventList-eventLive p {
  background: #f36633;
  color: white;
  padding: 40px 10px;
}

/* line 131, ../../sass/components/eventlist.scss */
.eventlist .eventList-eventLive.hideEvent {
  display: none;
}

/* line 134, ../../sass/components/eventlist.scss */
.eventList-availableOnline {
  position: absolute;
  bottom: 15px;
  background: #605e5e;
  color: white;
}

/* line 140, ../../sass/components/eventlist.scss */
.eventList-availableOnline p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 6px;
}

/* Tablet View Start */
@media only screen and (min-width: 768px) and (max-width: 989px) {
  /* line 150, ../../sass/components/eventlist.scss */
  .eventlist .eventListContainer .eventList-description {
    width: 95%;
  }
}
/* Mobile View Start */
@media only screen and (max-width: 767px) {
  /* line 158, ../../sass/components/eventlist.scss */
  .eventlist .eventListContainer .eventList-img {
    display: block;
    text-align: center;
  }
}
