/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-province ul li, .hospitalSearch-city ul li {
  list-style-type: none;
  display: inline-block;
}

/* line 7, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-province ul li button,
.hospitalSearch-city ul li button, .hospitalSearch button.hospitalSearch-submit {
  background-color: #f36633;
  border-radius: 3px;
  color: white;
  padding: 8px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
}
/* line 190, ../../sass/core/_mixins.scss */
.hospitalSearch .hospitalSearch-province ul li button:hover,
.hospitalSearch-city ul li button:hover, .hospitalSearch button.hospitalSearch-submit:hover {
  background-color: #939191;
  color: white;
}
/* line 193, ../../sass/core/_mixins.scss */
.hospitalSearch .hospitalSearch-province ul li button:active,
.hospitalSearch-city ul li button:active, .hospitalSearch button.hospitalSearch-submit:active {
  background-color: #939191;
  color: white;
}

/* line 12, ../../sass/components/hospitalsearch.scss */
.hospitalSearch-city ul li button {
  display: none;
}

/* line 15, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-province ul li button.active,
.hospitalSearch-city ul li button.active {
  background-color: #115A64;
}

/* line 19, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-type label {
  margin-right: 20px;
  vertical-align: middle;
}

/* line 23, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-result-list ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

/* line 29, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-result-list ul li p {
  margin: 2px 0;
}

/* line 32, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-pagination {
  cursor: default;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

/* line 40, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-result-list {
  margin-top: 10px;
}

/* line 43, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-pagination-item {
  cursor: default;
  display: inline-block;
  margin: 1px;
  border: solid 1px #e0e0e0;
  padding: 5px 10px;
}

/* line 50, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-results .hospitalSearch-input {
  padding: 4px 5px;
  width: 200px;
}

/* line 54, ../../sass/components/hospitalsearch.scss */
.hospitalSearch .hospitalSearch-province, .hospitalSearch .hospitalSearch-city,
.hospitalSearch .hospitalSearch-results {
  display: none;
}
