/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/manageuserbox.scss */
.manageuserbox .component-content {
  border: 1px solid #D5D1CE;
  padding: 13px;
  background: #fff;
}

/* line 8, ../../sass/components/manageuserbox.scss */
.manageuserbox .manageUserLinks ul {
  padding: 0;
  margin: 0;
}

/* line 12, ../../sass/components/manageuserbox.scss */
.manageuserbox .component-content .manageUserLinks ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* line 16, ../../sass/components/manageuserbox.scss */
.manageuserbox .component-content .manageUserLinks ul li a {
  background: url("../../img/boxlink-arrow.png") no-repeat scroll 0 2px;
  color: #1a768d;
  padding: 5px 0 6px 25px;
  text-decoration: none;
}

/* line 23, ../../sass/components/manageuserbox.scss */
.manageuserbox .component-content .richText ul li {
  background: none;
  padding-left: 0;
}
