/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageStaffProfile ul {
  padding-left: 0;
}
/* line 5, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageStaffProfile ul .managerUserProfileList .manageUserOverlayContainer ul li {
  float: none;
  margin: 0;
  padding: 2px 3px;
}
/* line 9, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageStaffProfile ul .managerUserProfileList .manageUserOverlayContainer ul li a {
  color: white;
}
/* line 13, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageStaffProfile ul .managerUserProfileList .manageUserOverlayContainer li:nth-child(odd) {
  background: white;
  color: black;
}
/* line 18, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageStaffProfile ul li {
  background: #e0e0e0;
  cursor: pointer;
  float: left;
  list-style-type: none;
  margin: 0 10px 10px 0;
  padding: 8px;
}
/* line 25, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageStaffProfile ul li a {
  color: white;
}
/* line 30, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageStaffProfile ul li:nth-child(odd) {
  background: #f36633;
  color: white;
}

/* line 39, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageUserLinks {
  border-right: 1px solid #e0e0e0;
}
/* line 41, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageUserLinks ul li {
  margin-bottom: 7px;
}
/* line 43, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageUserLinks ul li a {
  background: url("../../img/boxlink-arrow.png") no-repeat scroll 0 2px;
  color: #1a768d;
  padding: 5px 0 6px 30px;
  text-decoration: none;
}

/* line 53, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .component-content .manageUserLinks ul li
.manageuserprofile .manageUserOverlayContainer .overlay-bg {
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* line 67, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageUserOverlayContainer .overlay-content {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 5px solid #D5D1CE;
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  min-height: 80px;
  min-width: 80px;
  moz-border-radius: 10px 10px 10px 10px;
  padding: 10px 10px 10px;
  position: relative;
  text-align: left;
  top: 150px;
  webkit-border-radius: 10px 10px 10px 10px;
  width: 60%;
}

/* line 82, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageUserOverlayContainer .overlay-close {
  background: url("../../img/overlay-close-icon.png") no-repeat scroll 0 0/20px auto transparent;
  cursor: pointer;
  display: none;
  font-size: 25px;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 20px;
  z-index: 9999;
}

/* line 94, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageUserOverlayContainer .close-btn:hover {
  background: #05abe0;
}

/* line 97, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageUserOverlayContainer li span {
  font-weight: 700;
}

/* line 100, ../../sass/components/manageuserprofile.scss */
.manageuserprofile .manageUserOverlayContainer li span.managerUserTitle {
  display: inline-block;
  font-weight: normal;
  width: 40%;
}

/* line 105, ../../sass/components/manageuserprofile.scss */
.manageuserprofile h4 {
  margin-top: 0;
  margin-bottom: 9px;
}

@media only screen and (max-width: 767px) {
  /* line 108, ../../sass/components/manageuserprofile.scss */
  .manageuserprofile .manageUserOverlayContainer li span {
    font-size: 11px;
    font-weight: normal;
  }

  /* line 112, ../../sass/components/manageuserprofile.scss */
  .manageuserprofile .manageUserOverlayContainer li span.managerUserTitle {
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    width: 50%;
  }

  /* line 118, ../../sass/components/manageuserprofile.scss */
  .manageuserprofile .manageUserOverlayContainer .overlay-content {
    width: 80%;
  }
}
