/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/messageconfiguration.scss */
.messageconfiguration {
  margin-top: 20px;
}

/* line 9, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .sendMessage, .cfButton {
  background-color: #f36633;
  border: 1px solid #D5D1CE;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
  display: inline-block;
}

/* line 19, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .emailTemplate table {
  width: 100%;
}

/* line 23, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .messagaeConfigurationContent .messageInput select {
  display: inline-block;
  width: 35%;
}

/* line 27, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .messagaeConfigurationContent .messageInput label {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

/* line 32, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .messagaeConfigurationContent .messageInput {
  margin-bottom: 15px;
}

/* line 35, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .messagaeConfigurationContent .emailTemplateContainer {
  margin-bottom: 10px;
}
/* line 37, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .messagaeConfigurationContent .emailTemplateContainer h5 {
  border: 1px solid #e0e0e0;
  padding: 10px;
}
/* line 41, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .messagaeConfigurationContent .emailTemplateContainer p {
  margin: 0;
  margin-bottom: 10px;
}
/* line 44, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .messagaeConfigurationContent .emailTemplateContainer table {
  width: 100%;
}

/* line 51, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .responseMessageText p {
  border: solid 1px #DDB5B3;
  border-radius: 2px;
  color: #7B474D;
  padding: 5px;
  margin-right: 10px;
  font-size: 11px;
}

/* line 60, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .responseMessageText p.msgResFailure {
  background: #FFD3D4;
}

/* line 63, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .responseMessageText p.msgResSuccess {
  background: #D5FECC;
}

/* line 66, ../../sass/components/messageconfiguration.scss */
.messageconfiguration .messagaeConfigurationContent .sendMessage:disabled {
  background: #e0e0e0;
  cursor: default;
}
