/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/notification.scss */
.notification .notificationFormElement {
  margin-bottom: 15px;
}

/* line 7, ../../sass/components/notification.scss */
.notification label {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  width: 200px;
}
/* line 13, ../../sass/components/notification.scss */
.notification input[type="text"], .notification textarea, .notification select {
  display: inline-block;
  width: 200px;
}
/* line 16, ../../sass/components/notification.scss */
.notification .btn {
  margin-top: 15px;
  float: right;
}

/* line 22, ../../sass/components/notification.scss */
.notification .notificationSuccessBox, .notificationFailureBox {
  display: none;
}

/* line 26, ../../sass/components/notification.scss */
.notificationSuccessBox, .notificationFailureBox {
  border: solid 2px #f36633;
  padding: 0 10px 5px 10px;
  margin-bottom: 15px;
}

/* line 32, ../../sass/components/notification.scss */
.notification .fixedRecipientNotification input {
  border: none;
  width: 75%;
}
/* line 36, ../../sass/components/notification.scss */
.notification .fixedRecipientNotification label {
  font-weight: 700;
}
/* line 37, ../../sass/components/notification.scss */
.notification .fixedRecipientNotification .btn {
  background-color: #f36633;
  border-radius: 3px;
  color: white;
  padding: 8px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
}
/* line 190, ../../sass/core/_mixins.scss */
.notification .fixedRecipientNotification .btn:hover {
  background-color: #939191;
  color: white;
}
/* line 193, ../../sass/core/_mixins.scss */
.notification .fixedRecipientNotification .btn:active {
  background-color: #939191;
  color: white;
}
