/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 4, ../../sass/components/pcodeloginpanel.scss */
.pcodeloginpanel .passcodeButton {
  background-color: #f36633;
  border-radius: 3px;
  color: white;
  padding: 8px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
}
/* line 190, ../../sass/core/_mixins.scss */
.pcodeloginpanel .passcodeButton:hover {
  background-color: #939191;
  color: white;
}
/* line 193, ../../sass/core/_mixins.scss */
.pcodeloginpanel .passcodeButton:active {
  background-color: #939191;
  color: white;
}
/* line 7, ../../sass/components/pcodeloginpanel.scss */
.pcodeloginpanel input[type=text] {
  padding: 4px 0;
}
/* line 10, ../../sass/components/pcodeloginpanel.scss */
.pcodeloginpanel .errorPasscode {
  margin-top: 3px;
}
/* line 13, ../../sass/components/pcodeloginpanel.scss */
.pcodeloginpanel .hidePasscodeError {
  display: none;
}
