/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/poll.scss */
.poll {
  border: 1px solid #D5D1CE;
  padding: 15px;
}

/* line 7, ../../sass/components/poll.scss */
.poll .content-component {
  border: 1px solid #D5D1CE;
  border-top: none;
}

/* line 11, ../../sass/components/poll.scss */
.poll .poll-description, .poll .pollOptionContainer, .pollResultContainer {
  padding: 0 13px;
}

/* line 15, ../../sass/components/poll.scss */
.poll .genericPollGroup clear:both
.button {
  margin-bottom: 15px;
}

/* line 20, ../../sass/components/poll.scss */
.pollResultsContainer {
  border-top: solid 1px #e0e0e0;
  padding-top: 10px;
  margin-top: 15px;
}
/* line 24, ../../sass/components/poll.scss */
.pollResultsContainer h4 span.pollResultValue {
  display: inline-block;
  background-color: #F36633;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
}

/* line 32, ../../sass/components/poll.scss */
.poll .pollTitle {
  text-align: right;
  margin-right: 15px;
}

/* line 36, ../../sass/components/poll.scss */
.poll .genericPollGroup {
  clear: both;
}

/* line 38, ../../sass/components/poll.scss */
.poll .pollControl-radio {
  float: left;
  margin: 0;
  padding: 0;
  width: 21px;
}
/* line 43, ../../sass/components/poll.scss */
.poll .pollControl-radio input[type="radio"] {
  float: left;
  margin: 2px 2px 0 0;
  padding: 0;
  width: 15px;
}
/* line 49, ../../sass/components/poll.scss */
.poll .pollControl-radio label {
  float: left;
  padding: 1px 0 0;
}

/* line 56, ../../sass/components/poll.scss */
.poll button.showPollResult {
  margin: 15px 0 0 0;
}

/* line 60, ../../sass/components/poll.scss */
.poll .pollError p {
  border: solid 1px #e0e0e0;
  color: #c1056f;
  padding: 10px;
  font-size: 12px;
}

/* line 67, ../../sass/components/poll.scss */
.cfButton {
  background-color: #F36633;
  border: 1px solid #D5D1CE;
  color: #fff;
  padding: 5px 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
}
