/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/powerreviews.scss */
.powerreviews {
  border: solid 1px #e0e0e0;
  padding: 5px 10px 0 10px;
  margin-bottom: 5px;
}

/* line 8, ../../sass/components/powerreviews.scss */
.powerreviews .p-w-r .pr-header-title {
  color: #f36633;
}

/* line 11, ../../sass/components/powerreviews.scss */
.powerreviews .p-w-r .pr-star-selected {
  background-color: #f36633;
}

/* line 14, ../../sass/components/powerreviews.scss */
.powerreviews .pr-snapshot-rating .pr-stars {
  background-image: url("../../img/stars.gif");
}

/* line 17, ../../sass/components/powerreviews.scss */
.powerreviews .pr-review-rating .pr-stars-small, .powerreviews .pr-snippet-stars .pr-stars-small {
  background-image: url("../../img/stars_small.gif");
}

/* line 20, ../../sass/components/powerreviews.scss */
.powerreviews.pr-base-modal a, .powerreviews .pr-pa-snippet a, .powerreviews .pr-review-engine a, .powerreviews .pr-snippet a, .powerreviews .prImageSnippet a {
  color: #f36633;
}
