/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/questionanswers.scss */
.questionanswers.hideScoreBox .quizScoreBox, .quizResultBoxContainer {
  display: none;
}

/* line 6, ../../sass/components/questionanswers.scss */
.quizResultBoxContainer.showBoxQuiz {
  display: block;
}

/* line 9, ../../sass/components/questionanswers.scss */
.quizButton img {
  cursor: pointer;
}
