/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/quiz.scss */
.questionWithCheck {
  border: dotted 1px #D5D1CE;
  padding: 10px;
}
/* line 6, ../../sass/components/quiz.scss */
.questionWithCheck .formControl-radio {
  float: left;
  margin: 0;
  padding: 0;
  width: 21px;
}

/* line 14, ../../sass/components/quiz.scss */
.questionWithRadio .formControl-radio {
  float: left;
  margin: 0;
  padding: 0;
  width: 21px;
}

/* line 20, ../../sass/components/quiz.scss */
.questionWithRadio .genericFormGroup span input[type="radio"],
.questionWithCheck .genericFormGroup span input[type="checkbox"] {
  float: left;
  margin: 2px 2px 0 0;
  padding: 0;
  width: 15px;
}

/* line 27, ../../sass/components/quiz.scss */
.questionWithRadio .genericFormGroup label,
.questionWithCheck .genericFormGroup label {
  float: left;
  padding: 1px 0 0;
  width: auto;
  margin-right: 15px;
}

/* line 34, ../../sass/components/quiz.scss */
.questionWithRadio .genericFormGroup .quizRadioImg label,
.questionWithCheck .genericFormGroup .quizRadioImg label {
  width: 100px;
}

/* line 38, ../../sass/components/quiz.scss */
.quiz .nextQuestionPage {
  float: right;
}

/* line 42, ../../sass/components/quiz.scss */
.questionWithRadio .quizScoreBox, .questionWithCheck .quizScoreBox {
  border: 1px solid #0F61AF;
  background: white;
  text-align: center;
  font-weight: 700;
  padding: 5px;
  width: 50px;
  height: 15px;
  margin-left: 20px;
  float: left;
}

/* line 53, ../../sass/components/quiz.scss */
.questionWithRadio .imgContainer,
.questionWithCheck .imgContainer {
  width: 100%;
  float: left;
}

/* line 58, ../../sass/components/quiz.scss */
.questionWithRadio .quizQuestion p,
.questionWithCheck .quizQuestion p {
  margin: 0 0 15px 0;
}

/* line 63, ../../sass/components/quiz.scss */
.questionWithRadio .quizScoreBox p,
.questionWithCheck .quizScoreBox p {
  margin: 0;
  font-weight: 700;
}

/* line 68, ../../sass/components/quiz.scss */
.quizHideBox {
  display: none;
}

/* line 71, ../../sass/components/quiz.scss */
.quizOverlayContainer .overlay-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000;
  /* high z-index */
  background: #000;
  /* fallback */
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
}

/* line 84, ../../sass/components/quiz.scss */
.quizOverlayContainer .overlay-content {
  background: none repeat scroll 0 0 #FFFFFF;
  display: inline-block;
  max-width: 90%;
  min-height: 80px;
  min-width: 80px;
  padding: 30px 10px 10px;
  position: relative;
  text-align: left;
  top: 150px;
}

/* line 95, ../../sass/components/quiz.scss */
.quizOverlayContainer .overlay-close {
  background: url("../../img/overlay-close-icon.png") no-repeat scroll 0 0/20px auto transparent;
  cursor: pointer;
  display: none;
  font-size: 25px;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 20px;
  z-index: 9999;
}

/* line 107, ../../sass/components/quiz.scss */
.quizOverlayContainer .close-btn:hover {
  background: #05abe0;
}

/* line 110, ../../sass/components/quiz.scss */
.questionWithImage {
  clear: both;
}

/* line 113, ../../sass/components/quiz.scss */
.quizResultContainer {
  width: 92%;
}

/* line 116, ../../sass/components/quiz.scss */
.questionWithImage .quizQuestion {
  border: 2px solid #0F61AF;
  background: #D5DCEF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 15px 10px 20px 10px;
  float: left;
  width: 80%;
}

/* line 126, ../../sass/components/quiz.scss */
.questionWithImage .quizQuestion p {
  font-weight: 700;
  line-height: 1.2em;
  margin: 10px 0 0 0;
  vertical-align: middle;
  color: black;
}

/* line 133, ../../sass/components/quiz.scss */
.questionWithImage .imgContainer {
  float: left;
  width: 50%;
  text-align: center;
}

/* line 138, ../../sass/components/quiz.scss */
.questionWithImage .imgContainer span {
  border: 3px solid #78A7D2;
  padding: 10px;
  height: 36px;
  width: 36px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}

/* line 147, ../../sass/components/quiz.scss */
.questionWithImage .imgContainer img {
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}

/* line 152, ../../sass/components/quiz.scss */
.questionWithImage .quesLeftCaption, .questionWithImage .quesRightCaption {
  float: left;
  width: 25%;
}

/* line 156, ../../sass/components/quiz.scss */
.quizScoreBox {
  border: 2px solid #0F61AF;
  background: #D5DCEF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 5px;
  width: 58px;
  height: 62px;
  margin-left: 20px;
  float: left;
}

/* line 168, ../../sass/components/quiz.scss */
.quizScoreBox p {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  color: black;
  margin-top: 15px;
}

/* line 177, ../../sass/components/quiz.scss */
.quizScoreBox.totalScoreBox, .quiz .generateScore {
  float: right;
}

/* line 180, ../../sass/components/quiz.scss */
.quiz .button.generateScore {
  width: 230px;
  padding: 10px;
  font-weight: 700;
  font-size: 22px;
  color: white;
  background: #0047BD;
}

/* line 189, ../../sass/components/quiz.scss */
.quiz .button.generateScoreNewPage {
  padding: 10px;
  font-weight: 700;
  color: #0073BD;
  border: solid 1px #fff;
  background: #E4FE98;
}

/* line 197, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage {
  float: left;
}

/* line 200, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage .quizQuestionBox {
  background-color: #FFF1D0;
  padding: 20px;
  width: 70%;
}

/* line 206, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage .quizQuestionBox h2 {
  color: #4469A1;
  font-size: 40px;
  margin-bottom: 0;
}

/* line 211, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage .quizQuestionBox p {
  font-size: 18px;
  color: #5C5D59;
  margin: 0;
  line-height: 22px;
}

/* line 218, ../../sass/components/quiz.scss */
.quizWithBGImage.questionOption1 .quizQuestionOption,
#question3 .quizWithBGImage.questionOption2,
#question3 .quizWithBGImage.questionOption2 .quizQuestionOption {
  height: 450px;
}

/* line 223, ../../sass/components/quiz.scss */
.quizWithBGImage.questionOption2 .quizQuestionOption,
.quizWithBGImage.questionOption3 .quizQuestionOption,
.quizWithBGImage.questionOption4 .quizQuestionOption,
.quizWithBGImage.questionOption5 .quizQuestionOption {
  height: 225px;
}

/* line 229, ../../sass/components/quiz.scss */
.quizWithBGImage.questionOption1,
.quizWithBGImage.questionOption4,
#question3 .quizWithBGImage.questionOption2 {
  width: 50%;
}

/* line 235, ../../sass/components/quiz.scss */
.quizWithBGImage.questionOption2 {
  width: 25%;
}

/* line 238, ../../sass/components/quiz.scss */
.quizWithBGImage.questionOption3,
#question2 .quizWithBGImage.questionOption3,
#question2 .quizWithBGImage.questionOption4,
#question2 .quizWithBGImage.questionOption5 {
  width: 25%;
}

/* line 244, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage .quizQuestionOption {
  position: relative;
}

/* line 249, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage .quizOptionButton {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #E2F1F3;
  padding: 17px 25px 17px 25px;
  font-size: 20px;
  border: 0;
  border-radius: 0;
  color: #73A1A7;
}

/* line 260, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage .quizOptionButton:focus {
  border: dotted 1px #000;
}

/* line 263, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage .quizOptionButton span {
  background: url("../../img/boxlink-arrow.png") no-repeat right center;
  padding-right: 25px;
}

/* line 267, ../../sass/components/quiz.scss */
.quizProgressBar {
  background: white;
  border: solid 1px #fff;
  padding: 20px 0;
  border-color: white;
  box-shadow: 0 0 10px #9ecaed;
}

/* line 274, ../../sass/components/quiz.scss */
.quiz.quizProgressBar .quizProgressBarDots {
  background-color: #E1E1E1;
  border: 1px solid #E1E1E1;
  border-radius: 18px;
  height: 10px;
  padding: 5px;
  position: relative;
}

/* line 282, ../../sass/components/quiz.scss */
.quiz.quizProgressBar .quizProgressDots.active {
  background-color: #099696;
  height: 16px;
  width: 16px;
  left: 0;
  position: absolute;
  top: 2px;
}

/* line 290, ../../sass/components/quiz.scss */
.quiz.quizProgressBar .quizProgressDots.firstactive {
  background-color: #099696;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
}

/* line 298, ../../sass/components/quiz.scss */
.quiz.quizProgressBar .quizProgressDots.progressActive {
  background-color: #099696;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
}

/* line 306, ../../sass/components/quiz.scss */
.quiz.quizProgressBar .quizProgressDots {
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 12px;
  box-shadow: none;
  border: 0px solid gainsboro;
}

/* line 319, ../../sass/components/quiz.scss */
.progressDotActive {
  width: 2%;
  background: #099696;
  height: 10px;
}

/* line 324, ../../sass/components/quiz.scss */
.quiz.quizProgressBar .quizProgressBarQuestions {
  background-color: white;
  padding: 5px;
  position: relative;
  margin-bottom: 35px;
}

/* line 330, ../../sass/components/quiz.scss */
.quiz.quizProgressBar .quizProgressBarQuestions .quizProgressBarQuestion {
  color: #22508E;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  top: 2px;
  padding: 0;
  border: none;
  background: none;
  cursor: text;
}

/* line 342, ../../sass/components/quiz.scss */
.quizRadioImg {
  float: left;
  width: 100px;
}

/* line 346, ../../sass/components/quiz.scss */
.questionWithRadio button {
  background: white;
  border: 1px solid #fff;
  border-radius: 0;
  float: left;
  margin-right: 15px;
}

/* line 353, ../../sass/components/quiz.scss */
.questionWithRadio button.optionActive {
  border: solid 1px #D5DCEF;
}

/* line 356, ../../sass/components/quiz.scss */
.quiz.quizWithBGImage .quizQuestionOption {
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 360, ../../sass/components/quiz.scss */
.hideQuizTotalBox .quizResultContainer {
  display: none;
}

/* Mobile start */
@media only screen and (max-width: 767px) {
  /* line 368, ../../sass/components/quiz.scss */
  .questionWithCheck .formControl-radio {
    clear: both;
    display: block;
  }
}
@media only screen and (max-width: 420px) {
  /* line 376, ../../sass/components/quiz.scss */
  .questionWithRadio .formControl-radio, .questionWithCheck .formControl-radio {
    clear: both;
    display: block;
    float: left;
    width: 6%;
  }

  /* line 382, ../../sass/components/quiz.scss */
  .questionWithRadio .genericFormGroup label,
  .questionWithCheck .genericFormGroup label {
    display: block;
    float: left;
    width: 50%;
  }

  /* line 388, ../../sass/components/quiz.scss */
  .quizRadioImg {
    width: 100%;
  }

  /* line 391, ../../sass/components/quiz.scss */
  .questionWithImage .quizQuestion {
    width: 60%;
  }

  /* line 394, ../../sass/components/quiz.scss */
  .quiz.quizProgressBar .quizProgressBarQuestions .quizProgressBarQuestion {
    font-size: 12px;
    font-weight: 700;
  }

  /* line 398, ../../sass/components/quiz.scss */
  .quiz.quizWithBGImage {
    width: 100%;
    display: block;
  }

  /* line 402, ../../sass/components/quiz.scss */
  .quiz.quizProgressBar .quizProgressBarQuestions {
    margin-bottom: 15px;
  }

  /* line 405, ../../sass/components/quiz.scss */
  .quiz.quizWithBGImage .quizQuestionOption {
    width: 100%;
    display: block;
    background: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: 100% 100%;
  }

  /* line 412, ../../sass/components/quiz.scss */
  .quizWithBGImage.questionOption1,
  .quizWithBGImage.questionOption4,
  #question3 .quizWithBGImage.questionOption2 {
    width: 100%;
  }

  /* line 417, ../../sass/components/quiz.scss */
  .quizWithBGImage.questionOption2 {
    width: 100%;
  }

  /* line 420, ../../sass/components/quiz.scss */
  .quizWithBGImage.questionOption3, #question2 .quizWithBGImage.questionOption3, #question2 .quizWithBGImage.questionOption4, #question2 .quizWithBGImage.questionOption5 {
    width: 100%;
  }

  /* line 423, ../../sass/components/quiz.scss */
  .quiz.quizWithBGImage .quizQuestionOption {
    width: 100%;
    display: block;
  }

  /* line 427, ../../sass/components/quiz.scss */
  .questionWithImage .quesLeftCaption, .questionWithImage .quesRightCaption, .questionWithImage .imgContainer {
    display: block;
    width: 100%;
  }
}
