/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-commentList-header-commentsCount,
.ratingsandreviews div.gig-comments-headerLinks {
  padding-top: 0px;
}

/* line 7, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews a.gig-comments-headerLinks-rss,
.ratingsandreviews a.gig-comments-headerLinks-rss:hover,
.ratingsandreviews a.gig-comments-headerLinks-rss:link,
.ratingsandreviews a.gig-comments-headerLinks-rss:active,
.ratingsandreviews a.gig-comments-headerLinks-rss:visited,
.ratingsandreviews a.gig-comments-headerLinks-subscribe,
.ratingsandreviews a.gig-comments-headerLinks-subscribe:hover,
.ratingsandreviews a.gig-comments-headerLinks-subscribe:link,
.ratingsandreviews a.gig-comments-headerLinks-subscribe:active,
.ratingsandreviews a.gig-comments-headerLinks-subscribe:visited,
.ratingsandreviews span.gig-comments-replies-length {
  text-decoration: none;
}

/* line 20, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews {
  padding: 20px;
  border: 1px solid #D5D1CE;
}

/* line 21, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-rating-writeYourReview,
.ratingsandreviews a.gig-comments-button,
.ratingsandreviews a.gig-comments-button:link,
.ratingsandreviews a.gig-comments-button:active,
.ratingsandreviews a.gig-comments-button:visited,
.ratingsandreviews .gig-rating-writeYourReview:link,
.ratingsandreviews .gig-rating-writeYourReview:active,
.ratingsandreviews .gig-rating-writeYourReview:visited {
  background: #F36633;
  border: 1px solid #D5D1CE;
  border-radius: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 3px 2px;
}

/* line 37, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews a.gig-comments-button.gig-comments-button-vote {
  background: none;
  padding: 5px;
}

/* line 41, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews a.gig-comments-button-post,
.ratingsandreviews a.gig-comments-button-post:hover,
.ratingsandreviews a.gig-comments-button-post:link,
.ratingsandreviews a.gig-comments-button-post:active,
.ratingsandreviews a.gig-comments-button-post:visited,
.ratingsandreviews a.gig-comments-button-ok,
.ratingsandreviews a.gig-comments-button-ok:hover,
.ratingsandreviews a.gig-comments-button-ok:link,
.ratingsandreviews a.gig-comments-button-ok:active,
.ratingsandreviews a.gig-comments-button-ok:visited,
.ratingsandreviews .gig-comments-linksContainer li,
.ratingsandreviews .gig-composebox-post, .gig-composebox-post:hover {
  background: #F36633;
  border: 1px solid #D5D1CE;
  border-radius: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 2px 3px;
}

/* line 61, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-composebox-post {
  padding: 3px 25px;
}

/* line 64, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-comments-linksContainer li:after {
  background: none;
}

/* line 68, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-comments-rss a:link,
.ratingsandreviews .gig-comments-rss a:visited,
.ratingsandreviews .gig-comment-repliesArrow-text {
  color: white;
}

/* line 73, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews a.gig-comments-dropdown,
.ratingsandreviews a.gig-comments-dropdown:link,
.ratingsandreviews a.gig-comments-dropdown:active,
.ratingsandreviews a.gig-comments-dropdown:visited {
  padding: 2px;
  background: none;
}

/* line 81, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews span.gig-comments-username {
  color: #F36633;
}

/* line 82, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-dottedLine {
  background-image: none;
  height: 1px;
  border-bottom: 1px dotted #D5D1CE;
  margin-top: 5px;
}

/* line 91, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-comments-container {
  width: auto !important;
}

/* line 92, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-commentBox-bottom {
  border-top: none;
}

/* line 93, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-comment-body {
  color: #635A54;
}

/* line 94, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-headerText {
  color: #F36633;
  font-weight: 700;
}

/* line 95, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews textarea.gig-comments-textarea, .ratingsandreviews div.gig-comments-textarea-wrapper {
  height: 180px;
}

/* line 96, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-commentBox-bottom {
  margin-top: 10px;
}

/* line 97, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-star {
  background-image: url("../../img/review-and-ratings/star_grey.gif");
}

/* line 98, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-star-full,
.ratingsandreviews .gig-comment-rating-star-full,
.ratingsandreviews .gig-composebox-rating-star-full,
.ratingsandreviews .gig-selfreview-rating-star-full {
  background-image: url("../../img/review-and-ratings/Favourite.gif");
}

/* line 105, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-star {
  width: 15px;
  height: 14px;
}

/* line 106, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-providerIcons {
  background-image: url("../../img/review-and-ratings/ButtonLogin_Icons.png");
}

/* line 107, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-star-editable,
.ratingsandreviews div.gig-comments-star-editable-empty,
.ratingsandreviews div.gig-comments-addComment-ratings-error
.ratingsandreviews div.gig-comments-star-editable-empty,
.ratingsandreviews div.gig-comments-star-myRating {
  background-image: url("../../img/review-and-ratings/star_icon_big.png");
}

/* line 115, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-rating-star {
  background-image: url("../../img/review-and-ratings/star_gray_big.png");
}

/* line 118, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-rating-star-full,
.ratingsandreviews .gig-selfreview-rating-star.gig-selfreview-rating-star-full {
  background-image: url("../../img/review-and-ratings/star_selected_big.png");
}

/* line 122, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-rating-star-half {
  background-image: url("../../img/review-and-ratings/Star_half_big.png");
}

/* line 125, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-vote-up, .ratingsandreviews .gig-comment-vote-pos.gig-comment-vote-with-value {
  background-image: url("../../img/review-and-ratings/thumbsup_hover.png");
}

/* line 129, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-expand-arrow {
  background-image: url("../../img/review-and-ratings/icon_ExpandReply.png");
}

/* line 132, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-collapse-arrow {
  background-image: url("../../img/review-and-ratings/icon_CollapsReply.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 13px;
  vertical-align: bottom;
  width: 10px;
}

/* line 141, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-close-icon {
  background-image: url("../../img/review-and-ratings/overlay-close-icon.png");
}

/* line 145, ../../sass/components/ratingsandreviews.scss */
div.gig-comments-star-editable-full, div.gig-comments-star-myRating-full,
div.gig-comments-addComment-ratings-error div.gig-comments-star-editable-full {
  background-image: url("../../img/review-and-ratings/star_selected_big.png");
}

/* line 151, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews div.gig-comments-star-editable-full,
.ratingsandreviews div.gig-comments-star-myRating-full,
.ratingsandreviews div.gig-comments-addComment-ratings-error,
.ratingsandreviews div.gig-comments-star-editable-full,
.ratingsandreviews .gig-composebox-rating-star.gig-composebox-rating-star-full {
  background-image: url("../../img/review-and-ratings/star_selected_big.png");
}

/* line 159, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-rating-readReviewsLink,
.ratingsandreviews .gig-rating-readReviewsLink:link,
.ratingsandreviews .gig-rating-readReviewsLink:active,
.ratingsandreviews .gig-rating-readReviewsLink:visited,
.ratingsandreviews .gig-rating-readReviewsLink:hover {
  color: #1A768D;
  text-decoration: none;
}

/* line 166, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews textarea.gig-comments-textarea {
  background-image: none;
}

/* line 169, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-comment {
  background: #fff;
  margin-bottom: 10px;
}

/* line 171, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .gig-comment-title,
.ratingsandreviews .gig-comment-photo,
.ratingsandreviews .gig-comment-data {
  padding: 5px;
}

/* line 175, ../../sass/components/ratingsandreviews.scss */
.ratingsandreviews .reviewPageDetails.hideLikeLink .gig-comment-likeLink,
.ratingsandreviews .reviewPageDetails.hideLikeLink .gig-comment-vote-posneg,
.ratingsandreviews .hideCommentReply .gig-comment-replyLink,
.ratingsandreviews .hideShareButton .gig-comment-shareLink,
.ratingsandreviews .hideOtherComments .gig-comments-comments,
.ratingsandreviews .hideHeaderBar .gig-comments-header {
  display: none;
}
