/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/readmessage.scss */
.readmessage .messageResultContainer ul {
  padding-left: 0;
}
/* line 5, ../../sass/components/readmessage.scss */
.readmessage .messageResultContainer ul li {
  list-style-type: none;
}
/* line 7, ../../sass/components/readmessage.scss */
.readmessage .messageResultContainer ul li .msgTitle {
  min-width: 130px;
  display: inline-block;
}

/* line 17, ../../sass/components/readmessage.scss */
.readmessage .readmessagaeContent .messageResultContainer ul.messageList li a {
  background: #f36633;
  border: 1px solid #d5d1ce;
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 700;
}

/* line 28, ../../sass/components/readmessage.scss */
.readmessage .readmessagaeContent .messageResultContainer ul.messageList li.readMessageDone a {
  background: #e0e0e0;
  color: #f36633;
  font-weight: normal;
}

/* line 33, ../../sass/components/readmessage.scss */
.readMessageOverlayContainer .overlay-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1000;
  /* high z-index */
  background: #000;
  /* fallback */
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
}

/* line 46, ../../sass/components/readmessage.scss */
.readMessageOverlayContainer .overlay-content {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 5px solid #D5D1CE;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  display: inline-block;
  width: 40%;
  min-height: 80px;
  min-width: 80px;
  padding: 10px 10px 10px;
  position: relative;
  text-align: left;
  top: 150px;
}

/* line 61, ../../sass/components/readmessage.scss */
.readMessageOverlayContainer .overlay-close {
  background: url("../../img/overlay-close-icon.png") no-repeat scroll 0 0/20px auto transparent;
  cursor: pointer;
  display: none;
  font-size: 25px;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 20px;
  z-index: 9999;
}

/* line 73, ../../sass/components/readmessage.scss */
.readMessageOverlayContainer .close-btn:hover {
  background: #05abe0;
}
