/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/rssfeed.scss */
.rssfeed #rssFeedsDiv article {
  border-bottom: dotted 1px;
  margin-bottom: 10px;
}
/* line 6, ../../sass/components/rssfeed.scss */
.rssfeed #rssFeedsDiv article h4 {
  margin: 0;
}

/* line 11, ../../sass/components/rssfeed.scss */
.rssfeed .component-content p {
  margin: 5px 0;
}

/* line 15, ../../sass/components/rssfeed.scss */
.rssfeed .component-content p.rssFeedDate {
  font-style: italic;
}

/* line 18, ../../sass/components/rssfeed.scss */
.rssfeed .component-content p.rssFeedLink {
  text-align: right;
  font-weight: 700;
}
