/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/* line 3, ../../sass/components/search.filter.scss */
.searchFilter {
	border: solid 1px #dfdfdf;
}

/* line 8, ../../sass/components/search.filter.scss */
.searchFilter-title {
	background-color: #fff;
	background: url("../../img/down_arrow_black.png") no-repeat 90% center;
	margin: 0;
	padding: 13px;
	cursor: pointer;
}

/* line 14, ../../sass/components/search.filter.scss */
.searchFilter-controls {
	border-top: solid 4px #f36533;
}

.searchFilter-controls .searchFilterContent {
	display: block;
}
/* line 21, ../../sass/components/search.filter.scss */
.searchFilter-selection,.searchFilter-checkbox,.searchFilter-phrase {
	overflow: hidden;
	margin: 5px 0;
}

/* line 27, ../../sass/components/search.filter.scss */
.searchFilter-label {
	float: left;
	margin-right: 10px;
	min-width: 85%;
}

/* line 33, ../../sass/components/search.filter.scss */
.searchFilter-checkbox .searchFilter-label {
	float: none;
	margin-right: 0;
}

/* line 38, ../../sass/components/search.filter.scss */
.searchFilter-submit {
	padding: 13px;
	margin: 5px 0;
	overflow: hidden;
	display: block;
}
/* line 42, ../../sass/components/search.filter.scss */
.searchFilter-submit button {
	float: right;
}

/* line 49, ../../sass/components/search.filter.scss */
.searchFilter-horizontal .searchFilter-controls {
	float: left;
}
/* line 55, ../../sass/components/search.filter.scss */
.searchFilter-horizontal .searchFilter-selection,.searchFilter-horizontal .searchFilter-checkbox,.searchFilter-horizontal .searchFilter-phrase
	{
	float: left;
	clear: none;
	margin-right: 10px;
}
/* line 61, ../../sass/components/search.filter.scss */
.searchFilter-horizontal .searchFilter-label {
	min-width: 0;
}
/* line 64, ../../sass/components/search.filter.scss */
.searchFilter-horizontal .searchFilter-control {
	float: left;
}

.tagRadioFilter fieldset,.metadataFilter fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.tagRadioFilter .searchFilter-control,.metadataFilter .searchFilter-control
	{
	padding: 7px 5px;
	background: #f5f5f5;
	border-bottom: solid 1px #dfdfdd;
}

.tagRadioFilter fieldset legend,.metadataFilter fieldset legend,.searchFilter-sorting h4
	{
	background: url("../../img/filter-plus.png") no-repeat right center;
	color: #000000;
	font-size: 16px;
	padding: 0px 10px;
	display: block;
	width: 93%;
	cursor: pointer;
	margin: 7px 10px;
}

.tagRadioFilter input,.metadataFilter input[type="radio"] {
	float: right;
}

.tagRadioFilter fieldset legend.filter-active,.metadataFilter fieldset legend.filter-active
	{
	background: url("../../img/filter-minus.png") no-repeat right center;
}

.searchFilter-form .search-productFilter,.searchFilter-form .search-theraphyFilter,.searchFilter-form .search-indicationFilter
	{
	font-size: 1.2em;
	font-style: italic;
	padding: 0 20px;
}

.searchResults-number {
	display: none;
}

.searchFilter-content{
	display:none;
}
