/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/search.results.scss */
.searchResults-pagination {
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default;
}

/* line 12, ../../sass/components/search.results.scss */
.searchResults-pagination-list {
  padding: 0;
  margin: 0;
}

/* line 17, ../../sass/components/search.results.scss */
.searchResults-pagination-item {
  display: inline-block;
  line-height:12px; 
  margin: 1px;
  cursor: default;
  border-right: solid 1px #D5D1CE;
  *display: inline;
}
.searchResults-pagination-item:first-child {
background: url("../../img/arrows/page-arrow-1.png")left center no-repeat;height:20px;width:20px;
border-right:none;
  line-height:20px; 
}
.searchResults-pagination-item:last-child {
background: url("../../img/arrows/page-arrow-2.png")left center no-repeat;height:20px;width:20px;
  line-height:20px; 

border-right:none;
}
.searchResults-pagination-item:last-child a{
text-indent:-1299px;

}

.searchResults-pagination-item:first-child a{
text-indent:-999px;
}
/* line 26, ../../sass/components/search.results.scss */
.searchResults-pagination-item a {
  display: inline-block;  
  padding: 0 5px 0 0px;
  cursor: pointer;
  line-height:12px;
}

/* line 34, ../../sass/components/search.results.scss */
.searchResults-pagination-item a:hover {
  color:#F36633; 	
  text-decoration: none;
}

/* line 39, ../../sass/components/search.results.scss */
.searchResults-pagination-item.is-active a{
  font-weight: bold;
  color:#F36633;
}

/* line 43, ../../sass/components/search.results.scss */
.searchResults-title {
  display: block;
  color: #F36633;
  font-family:Georgia;
  font-style:italic;  
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 5px;
  margin-bottom:0;
 }

/* line 47, ../../sass/components/search.results.scss */
.searchResults-term {
  font-style: italic;
}

/* line 51, ../../sass/components/search.results.scss */
.searchResults-number {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

/* line 57, ../../sass/components/search.results.scss */
.searchResults-results {
  margin-bottom: 10px;

}

/* line 61, ../../sass/components/search.results.scss */
.searchResults-result {
  position: relative;
  overflow: hidden;
  padding: 8px 10px 10px 10px;
   border-bottom:solid 1px #D5D1CE;
}

/* line 68, ../../sass/components/search.results.scss */
.searchResults-result:nth-child(even) {
  background-color: inherit;
}

/* line 72, ../../sass/components/search.results.scss */
.searchResults-icon-wrapper {
  position: absolute;
  text-align: center;
  width: 70px;
  margin-top: 10px;
  left: 0;
  top: 0;
}

/* line 81, ../../sass/components/search.results.scss */
.searchResults-date {
  margin-bottom: 10px;
  font-family:Georgia;
  font-style:italic;  
  font-size: 12px;
  color:#635A54;
 
  }

/* line 85, ../../sass/components/search.results.scss */
.searchResults-url {
  margin-top: 10px;
 
}
.searchResults-url a{
  width:20px;
  height:20px;
  line-height:20px;
  background-image:url('../../img/arrows/carousel-arrow.png');background-repeat:no-repeat;background-position:left center;
  padding:3px 0 3px 28px; 
}
/* line 91, ../../sass/components/search.results.scss */
.lt-ie8 .searchResults-pagination-item {
  display: inline;
  zoom: 1;
  margin: 3px;
}
/* line 97, ../../sass/components/search.results.scss */
.lt-ie8 .searchResults-pagination-item a {
  display: block;
  zoom: 1;
}

/* line 106, ../../sass/components/search.results.scss */
.searchResults-tags {
  list-style-type: none;
  padding: 0;
}

/* line 111, ../../sass/components/search.results.scss */
.searchResults-tags-item {
  display: inline-block;
  margin: 0 2px;
}

/* line 116, ../../sass/components/search.results.scss */
.searchResults-tags-item-link {
  background: #b9b8b8;
  color: black;
  border: 1px solid #939191;
  padding: 1px;
  display: block;
  font-size: 0.85em;
}

.searchResults-description p{
font-family:arial;
font-size:12px;
color:#635A54;
}
.searchResults{width:100%;}
.searchResults .searchResults-stickyNav{float:right;padding-left:20px;} 
.searchResults .searchResults-stickyNav ul{padding-left:0;}
.searchResults .searchResults-stickyNav ul li{list-style-type:none;display:block;text-align:center;margin-bottom:10px;}
.searchResults .searchResults-stickyNav ul li.active a{color:#F98033;font-size:12px;font-weight:700;}
.searchResults .searchResults-stickyNav ul li a{color:#000;} 