/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/* line 4, ../../sass/components/social.share.scss */
.socialShare .component-content {
  overflow: visible;
}

/* line 12, ../../sass/components/social.share.scss */
.socialShare-title,
.socialShare-content,
.socialShare-share,
.socialShare-url {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

/* line 17, ../../sass/components/social.share.scss */
.socialShare-share span {
  cursor: pointer;
}

/* line 22, ../../sass/components/social.share.scss */
.socialShare-url {
  position: relative;
}

/* line 26, ../../sass/components/social.share.scss */
.copyMessage {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding: 6px 12px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 999;
  white-space: nowrap;
  left: 50%;
}
/* line 37, ../../sass/components/social.share.scss */
.copyMessage:after {
  content: " ";
  position: absolute;
  border: 6px solid transparent;
  border-top-color: #000;
  border-top-color: rgba(0, 0, 0, 0.8);
  height: 0;
  width: 0;
  left: 50%;
  top: 100%;
  margin-left: -6px;
  pointer-events: none;
}
