/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/* line 50, arrows/*.png */
.arrows-sprite, .sortableTable .table th.asc span:after, .sortableTable .table th.desc span:after {
  background: url('../../img/arrows.png') no-repeat;
}

/* line 5, ../../sass/components/sortable.table.scss */
.sortableTable .table {
  border: solid 2px #323131;
  width: 100%;
  position: relative;
}
/* line 9, ../../sass/components/sortable.table.scss */
.sortableTable .table th, .sortableTable .table td {
  text-align: center;
  border: solid 2px #323131;
  padding: 10px;
}
/* line 14, ../../sass/components/sortable.table.scss */
.sortableTable .table th {
  background-color: #e1e1e1;
  color: #323131;
  font-weight: bold;
}
/* line 18, ../../sass/components/sortable.table.scss */
.sortableTable .table th.sortable {
  cursor: pointer;
}
/* line 22, ../../sass/components/sortable.table.scss */
.sortableTable .table th.asc span:after, .sortableTable .table th.desc span:after {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  background-position: 0 0;
  content: '';
  width: 16px;
  height: 10px;
  margin-left: 10px;
}
/* line 33, ../../sass/components/sortable.table.scss */
.sortableTable .table th.desc span:after {
  background-position: 0 -63px;
}
/* line 39, ../../sass/components/sortable.table.scss */
.sortableTable .table td {
  color: #72635d;
}
/* line 41, ../../sass/components/sortable.table.scss */
.sortableTable .table td:first-of-type {
  text-align: left;
}
/* line 45, ../../sass/components/sortable.table.scss */
.sortableTable .table tr:nth-child(even) {
  background: #f5f5f5;
}
