/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/tagbasedfilter.scss */
.genericFormGroup {
  clear: both;
}

/* line 7, ../../sass/components/tagbasedfilter.scss */
.initialTabBasedFilter {
  background-color: #E1E1E1;
  border: 2px solid #323131;
  padding: 15px 60px;
  position: relative;
}

/* line 13, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilter .formControl-radio {
  float: left;
  margin: 0;
  padding: 0;
  width: 21px;
}

/* line 19, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilter .genericFormGroup span input[type="radio"], .tagBasedFilter .genericFormGroup span input[type="checkbox"] {
  float: left;
  margin: 2px 2px 0 0;
  padding: 0;
  width: 15px;
}

/* line 25, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilter .genericFormGroup label {
  float: left;
  padding: 1px 0 0;
  width: auto;
}

/* line 31, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilterResults-Information {
  border: 1px solid #C5C4C4;
}

/* line 35, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilterResults-Information .tagBasedFilterResults-productImage {
  border-bottom: 1px solid #C5C4C4;
  text-align: center;
}

/* line 39, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilterResults-Information .tagBasedFilterResults-description {
  padding: 20px;
}

/* line 43, ../../sass/components/tagbasedfilter.scss */
.prd-category {
  border-bottom: 1px solid #C5C4C4;
  border-top: 1px solid #C5C4C4;
  font-size: 11px;
  display: block;
  padding: 5px 0;
  text-align: center;
}

/* line 51, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilterResults-Information .tagBasedFilterResults-description h2 {
  font-size: 26px;
  margin: 16px 0 0;
  text-align: center;
}

/* line 56, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilterResults-Information .tagBasedFilterResults-description p {
  text-align: center;
}

/* line 59, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilterResults-box-content .product-button {
  border: 1px solid #C5C4C4;
  display: inline-block;
  font-size: 11px;
  margin: 10px 0 0;
  padding: 10px;
}

/* line 66, ../../sass/components/tagbasedfilter.scss */
.tagbasedfilter .simpleTagFilter input[type="button"] {
  background-color: #f36633;
  border: 1px solid #d5d1ce;
  border-radius: 0;
  color: white;
  padding: 5px 10px;
}

/*Multi Level Filter*/
/* line 76, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilter .multiLevelFilterContent input[type="button"] {
  background: url("../../img/quiz1_nrml.png") no-repeat scroll center center transparent;
  border: none;
  cursor: pointer;
  display: block;
  padding: 95px 0 0 0;
  min-width: 100px;
}

/* line 85, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilter .multiLevelFilterContent input[type="button"]:hover, .tagBasedFilter.multiLevelFilter .genericFormGroup span input[type="button"]:focus {
  background: url("../../img/quiz1_hover.png") no-repeat scroll center center;
}

/* line 88, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilter .multiLevelFilterContent input[type="button"].selected {
  background: url("../../img/quiz_selected.png") no-repeat scroll 50% 50%;
  width: 100%;
}

/* line 93, ../../sass/components/tagbasedfilter.scss */
.multiLevelFilter-Container .multiLevelFilter-level1 {
  margin-left: 25px;
}

/* line 96, ../../sass/components/tagbasedfilter.scss */
.multiLevelFilter-Container .multiLevelFilter-level2 {
  margin-left: 45px;
}

/* line 99, ../../sass/components/tagbasedfilter.scss */
.multiLevelFilter-Container .multiLevelFilter-level3 {
  margin-left: 65px;
}

/* line 102, ../../sass/components/tagbasedfilter.scss */
.tagBasedFilter .multiLevelFilter-ContainerResults .tagBasedFilterResults {
  overflow: hidden;
  margin-top: 10px;
  padding-top: 15px;
}

/* line 105, ../../sass/components/tagbasedfilter.scss */
.multiLevelFilter .genericFormGroup {
  border-bottom: 1px dotted #e0e0e0;
  overflow: hidden;
  padding: 5px 0;
}

/* line 110, ../../sass/components/tagbasedfilter.scss */
.tagBasedNoResult {
  color: #ff0000;
  font-weight: 700;
}

/* line 112, ../../sass/components/tagbasedfilter.scss */
.multiLevelFilter-Container .buttonTypeContent .multiLevelFilter-level1,
.multiLevelFilter-Container .buttonTypeContent .multiLevelFilter-level2,
.multiLevelFilter-Container .buttonTypeContent .multiLevelFilter-level3,
.multiLevelFilter-Container .buttonTypeContent .multiLevelFilter-level4 {
  margin-left: 0;
}

/* line 119, ../../sass/components/tagbasedfilter.scss */
.multiLevelFilter-Container .buttonTypeContent.multiLevelFilter-level0,
.multiLevelFilter-Container .buttonTypeContent .multiLevelFilter-level1 input,
.multiLevelFilter-Container .buttonTypeContent .multiLevelFilter-level2 input,
.multiLevelFilter-Container .buttonTypeContent .multiLevelFilter-level3 input {
  float: left;
}

/* line 123, ../../sass/components/tagbasedfilter.scss */
.tagbasedfilter-primary .multiLevelFilter-Container .multiLevelFilterContent {
  float: left;
}
