/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/tellafriend.scss */
.tellafriend .tellfriendButton {
  margin-top: 15px;
}

/* line 6, ../../sass/components/tellafriend.scss */
.tellafriend .errorDivTellaFriend p {
  color: #8A0808;
}

/* line 9, ../../sass/components/tellafriend.scss */
.tellafriend .successDivTellaFriend p {
  color: #84B200;
}

/* line 12, ../../sass/components/tellafriend.scss */
.tellafriend .wsform-item textarea {
  width: 220px;
}
