/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 4, ../../sass/components/user.box.scss */
.userBox-header-text {
  font-size: 2em;
}

/* line 7, ../../sass/components/user.box.scss */
.userBox .logged-in, .userBox .logged-out {
  border: 1px solid #D5D1CE;
  padding: 13px;
  margin: 10px 0;
}

/* line 13, ../../sass/components/user.box.scss */
.userBox .logged-in .button, .userBox .logged-in a, .userBox .logged-out .button, .userBox .logged-out a {
  background-color: #e1e1e1;
  border: 1px solid #D5D1CE;
  margin-left: 1%;
  margin-right: 1%;
  color: #323131;
  padding: 5px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
}

/* line 25, ../../sass/components/user.box.scss */
.userBox .logged-in .button:hover,
.userBox .logged-in a:hover,
.userBox .logged-out .button:hover,
.userBox .logged-out a:hover {
  background-color: #939191;
  color: white;
}

/* line 32, ../../sass/components/user.box.scss */
.userBox .logged-in .lt-ie8 .button,
.userBox .logged-out .lt-ie8 .button {
  display: inline;
}

/* line 36, ../../sass/components/user.box.scss */
.userBox .logged-in .button,
.userBox .logged-out .button {
  float: right;
}

/* line 40, ../../sass/components/user.box.scss */
.userBox .logged-in .user {
  font-weight: bold;
}

/* line 43, ../../sass/components/user.box.scss */
.user-box.user-type-gigya {
  display: none;
}
