/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/video.scss */
.video-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 7, ../../sass/components/video.scss */
.video-nojs {
  display: none;
  text-align: center;
  padding: 20px 0;
  color: red;
}

/* line 14, ../../sass/components/video.scss */
.no-js .video-nojs {
  display: block;
}

/* line 18, ../../sass/components/video.scss */
.video object.responsive {
  width: 100% !important;
}

/* line 22, ../../sass/components/video.scss */
.video-video {
  border: solid 2px #323131;
}

/* line 26, ../../sass/components/video.scss */
.video-video-container {
  margin: 0 auto;
}

/* line 30, ../../sass/components/video.scss */
.video-description {
  border: solid 2px #323131;
  padding: 13px;
  margin-top: -2px;
}

/* MEDIAELEMENT LIBRARY
--------------------------------- */
/* line 39, ../../sass/components/video.scss */
.mejs-container {
  position: relative;
  background: #000;
  margin-left: auto;
  margin-right: auto;
}

/* line 46, ../../sass/components/video.scss */
.mejs-container-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

/* line 55, ../../sass/components/video.scss */
.mejs-container-fullscreen .mejs-mediaelement, .mejs-container-fullscreen video {
  width: 100%;
  height: 100%;
}

/* Start: LAYERS */
/* line 61, ../../sass/components/video.scss */
.mejs-background {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 67, ../../sass/components/video.scss */
.mejs-mediaelement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 75, ../../sass/components/video.scss */
.mejs-poster {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 81, ../../sass/components/video.scss */
.mejs-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 87, ../../sass/components/video.scss */
.mejs-overlay-play {
  cursor: pointer;
}

/* line 91, ../../sass/components/video.scss */
#content .therapy-video .mejs-overlay.mejs-layer.mejs-overlay-play .mejs-overlay-button{
	display:none;
}
.mejs-overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background: url(../../assets/img/bigplay.png) top left no-repeat;
}

/* line 101, ../../sass/components/video.scss */
.mejs-overlay:hover .mejs-overlay-button {
  background-position: 0 -100px;
}

/* line 105, ../../sass/components/video.scss */
.mejs-overlay-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: #333;
  background: url(../background.png);
  background: rgba(0, 0, 0, 0.9);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(50, 50, 50, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
  background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
  background-image: -o-linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9));
}

/* line 118, ../../sass/components/video.scss */
.mejs-overlay-loading span {
  display: block;
  width: 80px;
  height: 80px;
  background: transparent url(../../img/loading.gif) center center no-repeat;
}

/* End: LAYERS */
/* Start: CONTROL BAR */
/* line 128, ../../sass/components/video.scss */
.mejs-container .mejs-controls {
  position: absolute;
  background: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  background: url(../../img/background.png);
  background: rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(50, 50, 50, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  height: 30px;
  width: 100%;
}

/* line 143, ../../sass/components/video.scss */
.mejs-container .mejs-controls div {
  list-style-type: none;
  background-image: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  font-size: 11px;
  line-height: 11px;
  background: 0;
  border: 0;
}

/* line 158, ../../sass/components/video.scss */
.mejs-controls .mejs-button button {
  cursor: pointer;
  display: block;
  font-size: 0px;
  line-height: 0;
  text-decoration: none;
  margin: 7px 5px;
  padding: 0;
  position: absolute;
  height: 12px;
  width: 12px;
  border: 0;
  background: transparent url(../../img/controls.png) 0 0 no-repeat;
}

/* End: CONTROL BAR */
/* Start: Time (current / duration) */
/* line 176, ../../sass/components/video.scss */
.mejs-container .mejs-controls .mejs-time {
  color: #fff;
  display: block;
  height: 17px;
  width: auto;
  padding: 8px 3px 0 3px;
  overflow: hidden;
  text-align: center;
  padding: auto 4px;
}

/* line 187, ../../sass/components/video.scss */
.mejs-container .mejs-controls .mejs-time span {
  font-size: 11px;
  color: #fff;
  line-height: 12px;
  display: block;
  float: left;
  margin: 1px 2px 0 0;
  width: auto;
}

/* End: Time (current / duration) */
/* Start: Play/pause */
/* line 200, ../../sass/components/video.scss */
.mejs-controls .mejs-play button {
  background-position: 0 0;
}

/* line 204, ../../sass/components/video.scss */
.mejs-controls .mejs-pause button {
  background-position: 0 -16px;
}

/* End: Play/pause */
/* Stop */
/* line 211, ../../sass/components/video.scss */
.mejs-controls .mejs-stop button {
  background-position: -112px 0;
}

/* End: Play/pause */
/* Start: Progress bar */
/* line 218, ../../sass/components/video.scss */
.mejs-controls div.mejs-time-rail {
  width: 200px;
  padding-top: 5px;
}

/* line 223, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail span {
  display: block;
  position: absolute;
  width: 180px;
  height: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}

/* line 234, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail .mejs-time-total {
  margin: 5px;
  background: #333;
  background: rgba(50, 50, 50, 0.8);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(30, 30, 30, 0.8)), color-stop(100%, rgba(60, 60, 60, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
  background-image: -moz-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
  background-image: -o-linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
  background-image: linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#1E1E1E, endColorstr=#3C3C3C);
}

/* line 242, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #3caac8;
  background: rgba(60, 170, 200, 0.8);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(44, 124, 145, 0.8)), color-stop(100%, rgba(78, 183, 212, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
  background-image: -moz-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
  background-image: -o-linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
  background-image: linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#2C7C91, endColorstr=#4EB7D4);
  width: 0;
}

/* line 250, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail .mejs-time-current {
  width: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(200, 200, 200, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#C8C8C8);
}

/* line 258, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail .mejs-time-handle {
  display: none;
  position: absolute;
  margin: 0;
  width: 10px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: solid 2px #333;
  top: -2px;
  text-align: center;
}

/* line 273, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail .mejs-time-float {
  visibility: hidden;
  position: absolute;
  display: block;
  background: #eee;
  width: 36px;
  height: 17px;
  border: solid 1px #333;
  top: -26px;
  margin-left: -18px;
  text-align: center;
  color: #111;
}

/* line 287, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail:hover .mejs-time-float {
  visibility: visible;
}

/* line 291, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail .mejs-time-float-current {
  margin: 2px;
  width: 30px;
  display: block;
  text-align: center;
  left: 0;
}

/* line 299, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail .mejs-time-float-corner {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 5px #eee;
  border-color: #eee transparent transparent transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 15px;
  left: 13px;
}

/*
.mejs-controls .mejs-time-rail:hover .mejs-time-handle {
    visibility:visible;
}
*/
/* End: Progress bar */
/* Start: Fullscreen */
/* line 322, ../../sass/components/video.scss */
.mejs-controls .mejs-fullscreen-button button {
  background-position: -32px 0;
}

/* line 326, ../../sass/components/video.scss */
.mejs-controls .mejs-unfullscreen button {
  background-position: -32px -16px;
}

/* End: Fullscreen */
/* Start: Mute/Volume */
/* line 337, ../../sass/components/video.scss */
.mejs-controls .mejs-mute button {
  background-position: -16px -16px;
}

/* line 341, ../../sass/components/video.scss */
.mejs-controls .mejs-unmute button {
  background-position: -16px 0;
}

/* line 345, ../../sass/components/video.scss */
.mejs-controls .mejs-volume-button {
  position: relative;
}

/* line 349, ../../sass/components/video.scss */
.mejs-controls .mejs-volume-button .mejs-volume-slider {
  display: none;
  height: 115px;
  width: 25px;
  background: url(../../img/background.png);
  background: rgba(50, 50, 50, 0.7);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: -115px;
  left: 0;
  z-index: 1;
  position: absolute;
  margin: 0;
}

/* line 365, ../../sass/components/video.scss */
.mejs-controls .mejs-volume-button:hover {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* line 371, ../../sass/components/video.scss */
.mejs-controls .mejs-volume-button:hover .mejs-volume-slider {
  display: block;
}

/* line 375, ../../sass/components/video.scss */
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
  position: absolute;
  left: 11px;
  top: 8px;
  width: 2px;
  height: 100px;
  background: #ddd;
  background: rgba(255, 255, 255, 0.5);
  margin: 0;
}

/* line 386, ../../sass/components/video.scss */
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
  position: absolute;
  left: 11px;
  top: 8px;
  width: 2px;
  height: 100px;
  background: #ddd;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
}

/* line 397, ../../sass/components/video.scss */
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
  position: absolute;
  left: 4px;
  top: -3px;
  width: 16px;
  height: 6px;
  background: #ddd;
  background: rgba(255, 255, 255, 0.9);
  cursor: N-resize;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0;
}

/* End: Mute/Volume */
/* Start: TRACK (Captions and Chapters) */
/* line 415, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button {
  position: relative;
}

/* line 419, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button button {
  background-position: -48px 0;
}

/* line 423, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button .mejs-captions-selector {
  position: absolute;
  bottom: 5px;
  right: -30px;
  width: 130px;
  height: 100px;
  background: url(../../img/background.png);
  background: rgba(50, 50, 50, 0.7);
  border: solid 1px transparent;
  padding: 10px;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 440, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button:hover .mejs-captions-selector {
  display: block;
}

/* line 444, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none !important;
  overflow: hidden;
}

/* line 452, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li {
  margin: 0 0 6px 0;
  padding: 0;
  list-style-type: none !important;
  display: block;
  color: #ffffff;
  overflow: hidden;
}

/* line 461, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input {
  clear: both;
  float: left;
  margin: 3px 3px 0px 5px;
}

/* line 467, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {
  width: 100px;
  float: left;
  padding: 4px 0 0 0;
  line-height: 15px;
  font-size: 10px;
}

/* line 475, ../../sass/components/video.scss */
.mejs-controls .mejs-captions-button .mejs-captions-translations {
  font-size: 10px;
  margin: 0 0 5px 0;
}

/* line 480, ../../sass/components/video.scss */
.mejs-chapters {
  position: absolute;
  top: 0;
  left: 0;
  -xborder-right: solid 1px #fff;
  width: 10000px;
}

/* line 488, ../../sass/components/video.scss */
.mejs-chapters .mejs-chapter {
  position: absolute;
  float: left;
  background: #222;
  background: rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(50, 50, 50, 0.7)), color-stop(100%, rgba(0, 0, 0, 0.7)));
  background-image: -webkit-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background-image: -moz-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232, endColorstr=#000000);
  overflow: hidden;
  border: 0;
}

/* line 499, ../../sass/components/video.scss */
.mejs-chapters .mejs-chapter .mejs-chapter-block {
  font-size: 11px;
  color: #fff;
  padding: 5px;
  display: block;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
  cursor: pointer;
}

/* line 509, ../../sass/components/video.scss */
.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
  border-right: none;
}

/* line 513, ../../sass/components/video.scss */
.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
  /*background: #333;*/
  background: #666;
  background: rgba(102, 102, 102, 0.7);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(102, 102, 102, 0.7)), color-stop(100%, rgba(50, 50, 50, 0.6)));
  background-image: -webkit-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
  background-image: -moz-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
  background-image: -o-linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
  background-image: linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6));
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666, endColorstr=#323232);
}

/* line 521, ../../sass/components/video.scss */
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
  font-size: 12px;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0 3px 0;
  line-height: 12px;
}

/* line 531, ../../sass/components/video.scss */
.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
  font-size: 12px;
  line-height: 12px;
  margin: 3px 0 4px 0;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 540, ../../sass/components/video.scss */
.mejs-captions-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  /*font-weight: bold;*/
  line-height: 22px;
  font-size: 12px;
  color: #fff;
}

/* line 551, ../../sass/components/video.scss */
.mejs-captions-layer a {
  color: #fff;
  text-decoration: underline;
}

/* line 556, ../../sass/components/video.scss */
.mejs-captions-layer[lang=ar] {
  font-size: 20px;
  font-weight: normal;
}

/* line 561, ../../sass/components/video.scss */
.mejs-captions-position {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 0;
}

/* line 568, ../../sass/components/video.scss */
.mejs-captions-position-hover {
  bottom: 45px;
}

/* line 572, ../../sass/components/video.scss */
.mejs-captions-text {
  padding: 3px 5px;
  background: url(../../img/background.png);
  background: rgba(20, 20, 20, 0.8);
}

/* End: TRACK (Captions and Chapters) */
/* line 579, ../../sass/components/video.scss */
.mejs-clear {
  clear: both;
}

/* Start: ERROR */
/* line 588, ../../sass/components/video.scss */
.me-cannotplay a {
  color: #fff;
  font-weight: bold;
}

/* line 593, ../../sass/components/video.scss */
.me-cannotplay span {
  padding: 15px;
  display: block;
}

/* End: ERROR */
/* Start: Loop */
/* line 601, ../../sass/components/video.scss */
.mejs-controls .mejs-loop-off button {
  background-position: -64px -16px;
}

/* line 605, ../../sass/components/video.scss */
.mejs-controls .mejs-loop-on button {
  background-position: -64px 0;
}

/* End: Loop */
/* Start: backlight */
/* line 612, ../../sass/components/video.scss */
.mejs-controls .mejs-backlight-off button {
  background-position: -80px -16px;
}

/* line 616, ../../sass/components/video.scss */
.mejs-controls .mejs-backlight-on button {
  background-position: -80px 0;
}

/* End: backlight */
/* Start: picture controls */
/* line 623, ../../sass/components/video.scss */
.mejs-controls .mejs-picturecontrols-button {
  background-position: -96px 0;
}

/* End: picture controls */
/* MEJS Zen garden skin */
/* line 630, ../../sass/components/video.scss */
.mejs-controls {
  display: block;
  visibility: visible;
}

/* line 635, ../../sass/components/video.scss */
.video .mejs-container .mejs-controls {
  z-index: 25;
  height: 47px;
  background: #d6d6d6;
  border-top: 2px solid #303030;
}

/* line 642, ../../sass/components/video.scss */
.video .mejs-controls .mejs-button {
  width: 20px;
  height: 20px;
  margin: 4px 6px;
}

/* line 648, ../../sass/components/video.scss */
.video .mejs-controls .mejs-button button {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background: url(../../img/controls.png);
  background-repeat: no-repeat;
}

/* line 661, ../../sass/components/video.scss */
.video .mejs-controls .mejs-playpause-button button {
  background-position: 3px -130px;
}

/* line 665, ../../sass/components/video.scss */
.video .mejs-controls .mejs-playpause-button button:hover {
  background-position: -19px -130px;
}

/* line 669, ../../sass/components/video.scss */
.video .mejs-controls .mejs-pause button {
  background-position: 0px -83px;
  width: 15px;
}

/* line 674, ../../sass/components/video.scss */
.video .mejs-controls .mejs-pause button:hover {
  background-position: 0px -109px;
  width: 15px;
}

/* line 683, ../../sass/components/video.scss */
.video .mejs-controls .mejs-fullscreen-button button {
  background-position: 0 0;
}

/* line 687, ../../sass/components/video.scss */
.video .mejs-controls .mejs-fullscreen-button button:hover {
  background-position: 0 0;
}

/* line 695, ../../sass/components/video.scss */
.video .mejs-controls .mejs-share-button button {
  background-position: -2px -39px;
}

/* line 699, ../../sass/components/video.scss */
.video .mejs-controls .mejs-share-button button:hover {
  background-position: -2px -3px;
}

/* line 703, ../../sass/components/video.scss */
.video .mejs-controls .mejs-volume-button {
  margin: 4px 6px;
}

/* line 707, ../../sass/components/video.scss */
.video .mejs-controls .mejs-volume-button button {
  background-position: -2px -219px;
}

/* line 711, ../../sass/components/video.scss */
.video .mejs-controls .mejs-mute button {
  background-position: 0 -26px;
}

/* line 715, ../../sass/components/video.scss */
.video .mejs-controls .mejs-mute button:hover {
  background-position: 0 -26px;
}

/* line 719, ../../sass/components/video.scss */
.video .mejs-controls .mejs-unmute button {
  background-position: 1px -54px;
}

/* line 723, ../../sass/components/video.scss */
.video .mejs-controls .mejs-unmute button:hover {
  background-position: 1px -54px;
}

/* line 727, ../../sass/components/video.scss */
.video .mejs-controls .mejs-horizontal-volume-slider {
  background: url(../../img/controls.png) 0 -83px no-repeat;
  display: block !important;
  width: 34px;
  height: 21px;
  margin-top: 12px;
  position: relative;
}

/* line 736, ../../sass/components/video.scss */
.video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  width: 34px;
}

/* line 740, ../../sass/components/video.scss */
.video .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: url(../../img/controls.png) 0 -108px no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  height: 21px;
}

/* line 748, ../../sass/components/video.scss */
.video .mejs-controls .mejs-volume-button .mejs-volume-handle {
  display: none;
}

/* line 752, ../../sass/components/video.scss */
.video .mejs-controls .mejs-time-rail {
  height: 20px;
  padding-top: 8px;
  margin-left: 2px;
}

/* line 758, ../../sass/components/video.scss */
.video .mejs-controls .mejs-time-rail .mejs-time-total {
  height: 3px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #303030;
}

/* line 768, ../../sass/components/video.scss */
.video .mejs-controls .mejs-time-rail .mejs-time-loaded {
  height: 6px;
  background-color: transparent;
  filter: none;
  background-image: none;
  display: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 781, ../../sass/components/video.scss */
.video .mejs-controls .mejs-time-rail .mejs-time-current {
  height: 3px;
  background-color: #303030;
  filter: none;
  background-image: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 793, ../../sass/components/video.scss */
.video .mejs-controls .mejs-time-rail .mejs-time-handle {
  background: #fff;
  border: 1px solid #303030;
  height: 14px;
  width: 14px;
  top: -6px;
  display: block;
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 808, ../../sass/components/video.scss */
.video .mejs-container .mejs-controls .mejs-time {
  width: 100px;
  margin: 15px 0 0 0;
  padding: 0;
  position: absolute;
  left: 8px;
  top: 12px;
}

/* line 817, ../../sass/components/video.scss */
.video .mejs-container .mejs-controls .mejs-time span {
  float: left;
  color: #303030;
  font-size: 14px;
}

/* line 828, ../../sass/components/video.scss */
.mejs-controls .mejs-time-rail .mejs-time-float {
  z-index: 10;
}

/* line 832, ../../sass/components/video.scss */
.video .mejs-container-fullscreen {
  z-index: 10000 !important;
}

/* line 836, ../../sass/components/video.scss */
.mejs-overlay:hover .mejs-overlay-button {
  background-position: 0 0;
  opacity: 1;
}

/* line 841, ../../sass/components/video.scss */
.mejs-overlay-loading {
  background: url(../../img/loader.gif) center center no-repeat;
}

/* Share overlay */
/* line 846, ../../sass/components/video.scss */
.video .share {
  display: none;
}

/* line 850, ../../sass/components/video.scss */
.video .mejs-container {
  overflow: hidden;
  border:2px solid #000000;
  box-sizing:border-box;
  width: 100% !important;
}

/* line 854, ../../sass/components/video.scss */
.video .mejs-share {
  position: absolute;
  z-index: 20;
}

/* line 859, ../../sass/components/video.scss */
.video .share-container {
  width: 90%;
  margin: auto;
  padding: 10px 10px 60px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(#fefefe, #efefef);
  background-image: -moz-linear-gradient(#fefefe, #efefef);
  background-image: -o-linear-gradient(#fefefe, #efefef);
  background-image: linear-gradient(#fefefe, #efefef);
  border: 1px solid #efefef;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.5);
}

/* line 874, ../../sass/components/video.scss */
.video .share-container td {
  width: 30px;
  height: 30px;
}

/* line 879, ../../sass/components/video.scss */
.video .share-container td, .video .share-container td a {
  color: #437cc4;
  text-decoration: none;
  font-size: 10px;
}

/* line 885, ../../sass/components/video.scss */
.video .share-container td a:hover {
  text-decoration: underline;
}

/* line 889, ../../sass/components/video.scss */
.video .share-container td img {
  vertical-align: middle;
}

/* grid classes for sharing*/
/* line 894, ../../sass/components/video.scss */
.grid_3 .share-container a + a, .grid_4 .share-container a + a, .grid_5 .share-container a + a {
  display: none;
}

/* line 898, ../../sass/components/video.scss */
.video .share-container table {
  width: 100%;
}

/* line 902, ../../sass/components/video.scss */
.video .share-container th {
  width: 50px;
}

/* line 906, ../../sass/components/video.scss */
.video .share-container td {
  width: auto;
  max-width: 70%;
}

/* line 911, ../../sass/components/video.scss */
.video .share-container td input {
  width: 90%;
  font-size: .9em;
}

/* Related content */
/* line 917, ../../sass/components/video.scss */
.video .related {
  display: none;
}

/* line 921, ../../sass/components/video.scss */
.video .mejs-related {
  position: absolute;
  z-index: 15;
  display: none;
  background: #333;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
}

/* line 930, ../../sass/components/video.scss */
.video .related-container {
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(#fefefe, #efefef);
  background-image: -moz-linear-gradient(#fefefe, #efefef);
  background-image: -o-linear-gradient(#fefefe, #efefef);
  background-image: linear-gradient(#fefefe, #efefef);
  border: 1px solid #efefef;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  height: 100%;
}

/* line 942, ../../sass/components/video.scss */
.video .related-container .column {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 261px;
  border: 1px solid #fff;
  padding: 0 10px;
  font-size: 11px;
  color: #787878;
  height: 100%;
  line-height: 1.5em;
}

/* line 955, ../../sass/components/video.scss */
.video .related-container .button {
  /* font-size: .9em; */
}

/* line 960, ../../sass/components/video.scss */
.grid_4 .video .related-container, .grid_5 .video .related-container, .grid_6 .video .related-container {
  height: -moz-calc(100% -35px);
  overflow: auto;
}

/* line 965, ../../sass/components/video.scss */
.grid_4 .video .related-container .column, .grid_5 .video .related-container .column, .grid_6 .video .related-container .column {
  height: -moz-calc(100% -2px);
  width: -moz-calc(100% -22px);
}

/* line 970, ../../sass/components/video.scss */
.grid_7 .video .related-container .column, .grid_8 .video .related-container .column, .grid_9 .video .related-container .column, .grid_10 .video .related-container .column, .grid_11 .video .related-container .column, .grid_12 .video .related-container .column {
  height: -moz-calc(100% -2px);
  width: -moz-calc(50% -22px);
}

/* line 975, ../../sass/components/video.scss */
.grid_7 .video .related-container .column.wide, .grid_8 .video .related-container .column.wide, .grid_9 .video .related-container .column.wide, .grid_10 .video .related-container .column.wide, .grid_11 .video .related-container .column.wide, .grid_12 .video .related-container .column.wide {
  float: none;
  width: auto;
}

/* line 980, ../../sass/components/video.scss */
.video .related-container h4 {
  font-size: 14px;
  padding: 10px;
  margin: 0 -10px 10px;
  background-color: #efefef;
  display: block;
}

/* line 988, ../../sass/components/video.scss */
.video .related-container .img {
  float: left;
  padding-right: 10px;
  max-width: 50%;
  max-height: 180px;
}

/* line 995, ../../sass/components/video.scss */
.video .related-container .img img {
  max-width: 100%;
  max-height: 80px;
}

/* line 1000, ../../sass/components/video.scss */
.video .related-container li .excerpt a {
  background: url(../../img/arrow-blue-right.png) no-repeat scroll right 50% transparent;
  padding-right: 8px;
}

/* line 1005, ../../sass/components/video.scss */
.video .related-container li .subtitle {
  color: #444;
}

/* line 1009, ../../sass/components/video.scss */
.video .related-container li {
  clear: left;
  border-bottom: 1px dotted #CCC;
  overflow: hidden;
  padding: 0 0 10px;
  margin: 0 0 10px;
}

/* line 1017, ../../sass/components/video.scss */
.video .related-container li:last-child {
  border-bottom: none;
}

/* line 1021, ../../sass/components/video.scss */
.video .related-container .contact, .video .related-container .contact .fn, .video .related-container .contact .title {
  font-size: 11px;
}

/* line 1025, ../../sass/components/video.scss */
.video .related-container .contact .fn {
  margin-left: 95px;
  color: #444;
  font-weight: normal;
  font-size: 11px;
}

/*responsive*/
/* line 1033, ../../sass/components/video.scss */
.videoPlayer.responsive video {
  width: 100%;
}

/* line 1037, ../../sass/components/video.scss */
.mejs-overlay-button {
  opacity: 0.7;
  background: url(../../assets/img/bigplay.png) no-repeat scroll left top transparent;
  height: 69px;
  left: 50%;
  margin: -35px 0 0 -36px;
  position: absolute;
  top: 50%;
  width: 73px;
}
.mejs-overlay-button:before{
	display:none;
}
/* line 1048, ../../sass/components/video.scss */
.grid_1 .mejs-controls {
  display: none !important;
}


/*------------------------ OVERWRITTEN ----------------------*/

.video-video{
  border: 0px;
}
.video-video-container video
{
  border:0px;
  box-sizing:border-box;
}
.mejs-controls .mejs-mute button:before, .mejs-controls .mejs-fullscreen-button button:before, .mejs-controls .mejs-playpause-button button:before{content:"";}
/*******3.40px*/
.video .mejs-controls .mejs-playpause-button button{
background: url(../../img/play_button.png);
background-image :no-repeat !important;
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
}
/*******active play button*/
.video .mejs-controls .mejs-button button {
    width: 15px;
    height: 16px;
    margin: 9px;
	}
	/****control bar position*/
    .mejs-controls {
    visibility: visible !important;
	}


	/****Audio button*/
	 .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
             background: #f36633;
			 }
	/****timer*/
.video .mejs-container .mejs-controls .mejs-time {
    width: 100px;
    margin: 22px 0 0 0;
    padding: 0;
    position: relative;
    left: 7px;
    top: -11px;
	}
/*******audio*/
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
             background: #f36633;
			 }
	.video .mejs-controls .mejs-button button {
    width: 28px;
    height: 22px;
    margin: 1px;
	}
	.video .mejs-controls .mejs-mute button{
    background-position: -3px -25px;
	}
	.video .mejs-controls .mejs-button button {
    width: 19px;
    height: 22px;
    margin: 6px;
	}
	.video .mejs-controls .mejs-mute button:hover{
    background-position: -3px -25px;
	}
	.video .mejs-controls .mejs-fullscreen-button button:hover {
    background-position: 0px 1px;
}
.video .mejs-controls .mejs-button button {
    width: 57px;
    height: 22px;
    margin: 6px;
	}
	.video .mejs-controls .mejs-time-rail {
	width:440px;
    height: 4px;
    padding-top: 11px;
    margin-left: 6px;
	}
	.video-video-container video {
	min-height:324px;
    border: 1px;
    box-sizing: border-box;
    color: #15717d;
	}
	.video.section.therapy-video{
	width:700px;
	height:324px;
	}
	.video .mejs-controls .mejs-time-rail {
    width: 440px!important;
    height: 4px;
   }
   /***controls bar***/
   .video .mejs-container .mejs-controls {
    z-index: 25;
    height: 49px;
    background: #f5f5f5;
    border-top: 1px solid #f5f5f5;
    vartical-align: middle;
}
.video .mejs-container {
    overflow: hidden;
    border: 1px solid #15717d;
    box-sizing: border-box;
    width: 100% !important;
	}
	.video .mejs-controls .mejs-button {
    width: 20px;
    height: 20px;
    margin: 8px 14px;
}
.video .mejs-controls .mejs-time-rail .mejs-time-total {
    height: 4px;
	}

.video .mejs-controls .mejs-time-rail .mejs-time-total {
    height: 3px;
    background: #cac9c7;
}
.video .mejs-controls .mejs-time-rail .mejs-time-current {
    height: 3px;
    background-color: #f36633;
	}
	.video .mejs-controls .mejs-time-rail .mejs-time-total {
    height: 4px;
    background: #cac9c7;
    width: 440px!important;
	margin:10px;
}

	.video .mejs-container .mejs-controls .mejs-time span {
    float: left;
    color: #72635d;
    font-size: 14px;
	}


	.video .mejs-controls .mejs-time-rail .mejs-time-handle {
    background: #f36633;
    border: 1px solid #f5f5f5;
    height: 14px;
    width: 14px;
    top: -6px;
    display: block;
	}
	.video .mejs-controls .mejs-button {
    width: 10px;
    height: 16px;
    margin: 5px 14px;
	}
	.video .mejs-controls .mejs-time-rail {
    padding-top: 7px;
    margin-left: 4px;
}

.video .mejs-container .mejs-controls .mejs-time {
    width: 100px;
    margin: 22px 0 0 0;
    padding: 0;
    position: relative;
    left: 30px;
    top: -10px;
	}

.video .mejs-controls .mejs-fullscreen-button button {
    background-position: 20px 0;
}
.video .mejs-controls .mejs-button button {
    width: 15px;
    height: 21px;
    margin: 6px;
}

.video .mejs-controls .mejs-button button {
    width: 100px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: url(../../img/fullsize.png);
    background-repeat: no-repeat;
	background-position:19px 0px;
}
.video .mejs-controls .mejs-playpause-button button {
    width: 20px;
    height: 20px;
    margin: 7px;
    padding: 0;
    background: url(../../img/play_button.png);
    background-repeat: no-repeat;
}
.video .mejs-controls .mejs-mute button {
    background-position: 45px -6px;
    background: url(../../img/volumebutton.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
	background-position: 18px 0px;
}
.video .mejs-controls .mejs-button button {
    width: 30px;
    height: 20px;
    margin: 7px;
    padding: 0;
	}
	.video .mejs-controls .mejs-button button:hover {
    width: 100px;
    height: 30px;
    margin: 1px;
    padding: 0;
    background: url(../../img/hover_fullscreen.png);
    background-repeat: no-repeat;
    background-position: 21px 0;
}
.video .mejs-controls .mejs-playpause-button button:hover {
    width: 26px;
    height: 20px;
    margin: 2px;
    padding: 0;
    background: url(../../img/hover_play_button.png);
    background-repeat: no-repeat;
}
.video .mejs-controls .mejs-button button:hover {
    width: 40px;
    height: 25px;
    margin: 7px;
    padding: 0;
    background: url(../../img/hover_volume.png);
    background-repeat: no-repeat;
    background-position: 15px -3px;
}
.video .mejs-controls .mejs-playpause-button button:hover {
    width: 40px;
    height: 25px;
    margin: 7px;
    padding: 0;
    background: url(../../img/hover_play_button.png);
    background-repeat: no-repeat;
    background-position: -4px -5px;
}
.video .mejs-controls .mejs-fullscreen-button button:hover {
    width: 60px;
    height: 25px;
    margin: 7px;
    padding: 0;
    background: url(../../img/hover_fullscreen.png);
    background-repeat: no-repeat;
    background-position: 14px -6px;
}
.mejs-overlay-button {
    opacity: 0.7;
    background: url(../../img/Play.png) no-repeat scroll left top transparent;
    height: 95px;
    left: 50%;
    margin: -10px 0 0 -55px;
    position: absolute;
    top: 50%;
    width: 95px;
}
#content .therapy-video .mejs-overlay.mejs-layer.mejs-overlay-play .mejs-overlay-button {
     display: initial;
}
.video .mejs-controls .mejs-volume-button .mejs-volume-handle {
    display: block;
    background-image: url(../../img/Ellipse2.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
	height: 12px;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle{
	background-color: #F5F5F5 !important;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
    background-color: #F5F5F5;
    cursor: pointer;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider{
	background-color: #F5F5F5;
	    margin-top: 6px;
}
.mejs-controls .mejs-volume-button .mejs-volume-slider {
    display: none;
    height: 100px;
    width: 25px;

    background: #f5f5f5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: -124px;
    left: 0;
    z-index: 1;
    position: absolute;
    margin: 18px;
}
.video .mejs-controls .mejs-button button {
    width: 60px;
    height: 20px;
    margin: 7px;
    padding: 0;
}
.video .mejs-controls .mejs-mute button {
    background-position: 45px -6px;
    background: url(../../img/volumebutton.png) no-repeat;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: 18px 0px;
}
.video .mejs-controls .mejs-mute button {
    background-position: 45px -6px;
    background: url(../../img/volumebutton.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-position: 18px 0px;
    margin: 7px 0 0 10px !important;
}
.video .mejs-controls .mejs-fullscreen-button button:hover {
    width: 60px;
    height: 25px;
    margin: 7px;
    padding: 0;
    background: url(../../img/hover_fullscreen.png);
    background-repeat: no-repeat;
    background-position: 14px -6px;
    margin: 7px 0 0 10px !important;
}
.video .mejs-controls .mejs-fullscreen-button button {
    background-position: 20px 0;
    margin: 7px 0 0 9px !important;
}
.video .mejs-controls .mejs-playpause-button button:hover {
    width: 40px;
    height: 25px;
    margin: 7px;
    padding: 0;
    background: url(../../img/hover_play_button.png);
    background-repeat: no-repeat;
    background-position: -4px -5px;
    margin: 7px 0 0 7px !important;
}




