/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 3, ../../sass/components/webinar.scss */
.webinar {
  border: 1px solid #D5D1CE;
}
/* line 5, ../../sass/components/webinar.scss */
.webinar .containerInner {
  height: auto;
  overflow: hidden;
  padding: 1% 1% 0 0%;
}
/* line 10, ../../sass/components/webinar.scss */
.webinar .contentLeft {
  overflow: hidden;
  float: left;
  width: 60%;
}
/* line 15, ../../sass/components/webinar.scss */
.webinar .contentRight {
  overflow: hidden;
}
/* line 18, ../../sass/components/webinar.scss */
.webinar .footer {
  overflow: hidden;
  margin: 10px auto;
}
/* line 21, ../../sass/components/webinar.scss */
.webinar .footer .webinarArrowLeft {
  background: url("../../img/arrows/leftArrow.png") no-repeat left center;
  bottom: 0;
  left: 0;
}
/* line 26, ../../sass/components/webinar.scss */
.webinar .footer .webinarArrowRight {
  background: url("../../img/arrows/rightArrow.png") no-repeat left center;
  right: 0;
  bottom: 0;
}

/* line 36, ../../sass/components/webinar.scss */
.webinar .content {
  overflow: auto;
  margin: 0 0 0 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* line 43, ../../sass/components/webinar.scss */
.webinar .content .webinarThumbnails {
  margin: 0 46px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  /* line 43, ../../sass/components/webinar.scss */
  .webinar .content .webinarThumbnails {
    margin: 0 20px;
  }
}
/* line 49, ../../sass/components/webinar.scss */
.webinar .content .webinarThumbnails .imagesContainer {
  overflow: hidden;
  position: relative;
}

/* line 59, ../../sass/components/webinar.scss */
.webinar .webinarThumbnails {
  margin: 0 46px;
  overflow: hidden;
}

/* line 64, ../../sass/components/webinar.scss */
.webinar .slide {
  text-align: center;
}
/* line 66, ../../sass/components/webinar.scss */
.webinar .slide img {
  width: 96%;
}

/* line 72, ../../sass/components/webinar.scss */
.webinar .videoDetail {
  text-align: left;
  overflow: hidden;
  margin: 5px 5px 45px 0;
  padding: 0;
}

/* line 79, ../../sass/components/webinar.scss */
.webinar .imageSeparator {
  margin: 0 8px;
}

/* line 82, ../../sass/components/webinar.scss */
.webinar .imagesContainer div {
  float: left;
}
/* line 84, ../../sass/components/webinar.scss */
.webinar .imagesContainer div img {
  float: left;
  cursor: pointer;
  width: 150px;
  height: 115px;
  display: block;
  border: 1px solid #D5D1CE;
}

/* line 95, ../../sass/components/webinar.scss */
.webinar .imageBox.activeSlide img {
  border: 1px solid #D5D1CE;
}

/* line 98, ../../sass/components/webinar.scss */
.webinar .video {
  width: 100%;
  height: 250px;
}

/* line 103, ../../sass/components/webinar.scss */
.webinar .webinarArrowLeft, .webinar .webinarArrowRight {
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  background-color: #e0e0e0;
  padding: 50px 0;
}
