.articleList {
  margin-top: 1em;
}

.articleList-article {
  padding-top: $component-spacing;

  & + & {
    @include frame;
    margin-top: $component-spacing;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
}

.articleList-list,
.articleList-tags {
  list-style: none;
  padding: 0;
  margin: 0;
}

.articleList-tags,
.articleList-date {
  display: inline-block;
  font-size: em(1.4);
}

.articleList-tags-item {
  display: inline-block;
  background: $gray;
  padding: 2px;
}

.articleList-title {
  font-size: em(2.1);
  margin: 0 0 10px;

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.articleList-description {
  margin-top: 1em;
}

.articleList-more {
  display: block;
  text-align: right;
  margin-top: 20px;
  padding: 5px 0;
  position: absolute;
  left: 0;
  right: 5px;
  bottom: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.articleList-more-arrow {
  font-size: 0;
  margin-left: 2px;

  &:after {
    @include font-awesome($fa-var-chevron-right);
    font-size: 1.2rem;
  }
}

.articleList-article-wrapper {
  position: relative;
  padding-bottom: 45px;
}

.articleList-has-image {
  .articleList-description-content {
    display: block;
  }
}


@include respond-to(desktop) {
  .articleList-thumbnail {
    max-width: 200px;
  }

  .articleList-has-image {
    .articleList-description > a {
      position: absolute;
      top: 0;
    }

    .articleList-article-wrapper {
      min-height: 200px;
    }

    .articleList-description-content,
    .articleList-title,
    .articleList-tags {
      padding-left: 220px;
    }
  }
}

@include respond-to(tablet-portrait) {
  .articleList-has-image {
    .articleList-description-content {
      margin-top: 1em;
    }

    .articleList-thumbnail {
      display: block;
      margin: 0 auto;
    }
  }
}

.articleList-group-name {
  font-size: em(1.4);
  margin: 0 0 10px;
}

.articleList-heading {
  margin-top: 0;
}

.articleList-group-list {
  list-style: none;
  padding-left: 15px;
  margin: 0 0 15px;

  li {
    margin-top: 6px;

    a:before {
      @include font-awesome($fa-var-chevron-right);
      font-size: 1rem;
      margin-right: 5px;
    }

    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
}
