.tabs-nav-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 0 -9px;
  border-bottom: 0;
  box-sizing: border-box;
}

.tabs-nav-item {
  @include frame;
  font-size: em(1.5);
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  border-bottom: 0;
  background: $gray;
  cursor: pointer;

  a {
    display: block;
    padding: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $black;
    text-decoration: none;
  }

  &:hover {
    background: lighten($blue, 20%);
  }

  &.is-active {
    background: $body-bg;
    z-index: 1;
    position: relative;
  }
}

.tabs-content {
  @include frame;
  @include clearfix;
  padding: 20px 20px 0;
  position: relative;
  background: $body-bg;
}

@include respond-to(tablet-portrait) {
  .tabs-nav-item {
    display: block;
  }

  .tabs-nav-list {
    margin-bottom: 0;
  }
}