.tabs-vertical {
  overflow: hidden;

  .tabs-nav {
    height: auto;
    width: 170px;
    position: absolute;
  }

  .tabs-nav-list {
    width: 100%;
    display: block;
  }

  .tabs-content {
    margin-left: 167px;
  }


  .tabs-nav-item {
    display: block;
    width: 100%;
    height: 46px;
    text-align: left;
    padding-left: 10px;
    border-bottom: 3px solid $black;
    border-right: 0;

    a {
      padding: 9px 0;
    }

    & + .tabs-nav-item {
      margin: 5px 0 0;
    }
  }

  @include respond-to(tablet-portrait) {
    .tabs-nav {
      width: 100%;
      position: static;
    }

    .tabs-nav-item {
      text-align: center;
      border-right: 3px solid $black;

      & + .tabs-nav-item {
        margin: -3px 0;
      }
    }

    .tabs-content {
      margin-left: 0;
    }
  }
}