.richText {
  a {
    text-decoration: underline;
  }

  ul,
  ol {
    padding: 10px 0;
    margin-left: 5px;
  }

  li {
    margin-left: 15px;
    margin-bottom: 10px;
    list-style-type: none;
  }

  ul li {
    position: relative;
    padding-left: 15px;
    margin-left: 0;

    &:before {
      @include font-awesome($fa-var-circle);
      font-size: 1rem;
      position: absolute;
      top: 4px;
      left: -3px;
    }
  }

  ol li {
    list-style-type: decimal;
  }
}
.richText-image {
  display: block;
  margin-bottom: 10px;

  &.pull-left {
    margin-right: 10px;
    float: left;
  }

  &.pull-right {
    margin-left: 10px;
    float: right;
  }
}