.feed-provider-feeds,
.twitter-actions {
  padding: 0;
  margin: 0;
  list-style: none;
}

.twitter-retwitted,
.twitter-date,
.twitter-header {
  margin: 12px 0;
}

.twitter-sender {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.twitter-feed {
  @include frame;
  padding: 20px 10px;
  border-right: 0;
  border-left: 0;
  margin-top: -2px;
}

.twitter-actions {
  margin-top: 6px;
}

.twitter-action {
  display: inline-block;
  margin-right: 5px;
}

.twitter-reply-action,
.twitter-retweet-action,
.twitter-favorite-action {
  &:before {
    margin-right: 5px;
  }
}

.twitter-reply-action {
  &:before {
    @include font-awesome($fa-var-reply);
  }
}

.twitter-retweet-action {
  &:before {
    @include font-awesome($fa-var-retweet);
  }
}

.twitter-favorite-action {
  &:before {
    @include font-awesome($fa-var-star)
  }
}