.searchBox {
  .form-search {
    position: relative;
    overflow: hidden;
  }

  .searchBox-label {
    display: table;
    width: 100%;
  }

  .searchBox-title {
    display: table-cell;
    white-space: nowrap;
    padding-right: 15px;
  }

  .search-query {
    @include frame;
    vertical-align: middle;
    line-height: 25px;
    height: 25px;
    padding: 0 63px 0 10px;
    box-sizing: border-box;
    width: 100%;
  }

  .button {
    @include frame;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none !important;
    background: $body-bg;
    letter-spacing: 0;
    padding: 2px 5px;
    outline: none;
    box-shadow: 3px 3px 0 #000;
    color: $black;
    margin-left: -5px;
    line-height: 1;

    &:hover {
      color: $black;
      background: lighten($blue, 20%);
    }
  }
}