.accordion-container {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #FFF; }

.accordion-title {
  font-size: 1.6rem;
  display: inline-block;
  margin: 0; }

.accordion-slide {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  margin-top: -3px; }

.accordion-content {
  padding-top: 20px; }

.accordion-head {
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  padding: 10px;
  float: none; }
  .accordion-head a {
    color: #000;
    text-decoration: none; }
  .is-active .accordion-head {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    border-left: 0;
    border-right: 0;
    border-top: 0; }
  .accordion-head:hover {
    background: #94b6da; }

.accordion-content-wrapper {
  padding: 0 10px; }

.mod-js .accordion-content-wrapper {
  visibility: hidden;
  height: 0;
  position: relative;
  top: -999999px;
  left: -999999px;
  overflow: hidden;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mod-js .accordion-slide.is-active > .accordion-content-wrapper {
  visibility: visible;
  position: relative;
  top: auto;
  left: auto;
  height: auto;
  overflow: hidden; }

@media (min-width: 768px) {
  .accordion-horizontal .accordion-slide {
    -webkit-transition: height 0.3s linear;
    -o-transition: height 0.3s linear;
    transition: height 0.3s linear;
    width: 40px;
    height: 300px;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    margin-left: -3px;
    background: #FFF; }
  .accordion-horizontal .accordion-head {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
            transform-origin: 0;
    position: absolute;
    left: 15px;
    bottom: -20px;
    padding-left: 20px;
    min-width: 1000px; }
  .accordion-horizontal .accordion-content {
    padding-left: 51px;
    padding-right: 20px;
    padding-top: 0;
    overflow: hidden; }
  .accordion-horizontal .accordion-content-wrapper {
    position: absolute !important;
    height: auto !important; } }

@media (max-width: 767px) {
  .accordion-horizontal .accordion-slide {
    width: 100% !important; }
  .accordion-horizontal .accordion-content-wrapper {
    width: 100% !important; } }
