.articleList {
  margin-top: 1em; }

.articleList-article {
  padding-top: 20px; }
  .articleList-article + .articleList-article {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    margin-top: 20px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0; }

.articleList-list,
.articleList-tags {
  list-style: none;
  padding: 0;
  margin: 0; }

.articleList-tags,
.articleList-date {
  display: inline-block;
  font-size: 0.93333em; }

.articleList-tags-item {
  display: inline-block;
  background: #D9D9D9;
  padding: 2px; }

.articleList-title {
  font-size: 1.4em;
  margin: 0 0 10px; }
  .articleList-title a:hover, .articleList-title a:focus {
    text-decoration: none; }

.articleList-description {
  margin-top: 1em; }

.articleList-more {
  display: block;
  text-align: right;
  margin-top: 20px;
  padding: 5px 0;
  position: absolute;
  left: 0;
  right: 5px;
  bottom: 0;
  text-decoration: none; }
  .articleList-more:hover, .articleList-more:focus {
    text-decoration: none; }

.articleList-more-arrow {
  font-size: 0;
  margin-left: 2px; }
  .articleList-more-arrow:after {
    content: "\f054";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem; }

.articleList-article-wrapper {
  position: relative;
  padding-bottom: 45px; }

.articleList-has-image .articleList-description-content {
  display: block; }

@media (min-width: 768px) {
  .articleList-thumbnail {
    max-width: 200px; }
  .articleList-has-image .articleList-description > a {
    position: absolute;
    top: 0; }
  .articleList-has-image .articleList-article-wrapper {
    min-height: 200px; }
  .articleList-has-image .articleList-description-content,
  .articleList-has-image .articleList-title,
  .articleList-has-image .articleList-tags {
    padding-left: 220px; } }

@media (max-width: 767px) {
  .articleList-has-image .articleList-description-content {
    margin-top: 1em; }
  .articleList-has-image .articleList-thumbnail {
    display: block;
    margin: 0 auto; } }

.articleList-group-name {
  font-size: 0.93333em;
  margin: 0 0 10px; }

.articleList-heading {
  margin-top: 0; }

.articleList-group-list {
  list-style: none;
  padding-left: 15px;
  margin: 0 0 15px; }
  .articleList-group-list li {
    margin-top: 6px; }
    .articleList-group-list li a:before {
      content: "\f054";
      font-family: FontAwesome, sans-serif;
      display: inline-block;
      font-style: normal;
      position: relative;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      font-size: 1rem;
      margin-right: 5px; }
    .articleList-group-list li a:hover,
    .articleList-group-list li a:focus {
      text-decoration: none; }
