.breadcrumbs {
  margin: 10px 0; }

.breadcrumbs-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }

.breadcrumbs-list li {
  display: inline-block;
  margin-right: 6px; }
  .breadcrumbs-list li a:hover,
  .breadcrumbs-list li a:active {
    text-decoration: none; }

.breadcrumbs-separator {
  margin: 0 10px; }

.breadcrumbs-without-separator .breadcrumbs-separator {
  display: none; }

.breadcrumbs-without-separator li {
  padding-right: 15px;
  margin-right: 9px;
  position: relative; }
  .breadcrumbs-without-separator li:before {
    content: "\f054";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: .8rem;
    position: absolute;
    top: 5px;
    right: 0; }

.breadcrumbs-without-separator li:last-child {
  background-image: none; }
  .breadcrumbs-without-separator li:last-child:before {
    display: none; }
