.carousel {
  height: 300px;
  overflow: hidden; }
  .carousel > .component-content {
    position: relative;
    overflow: hidden; }
  .carousel .image {
    margin-bottom: 0; }
  .carousel figcaption {
    width: 70%;
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .carousel figcaption {
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        top: 50%; } }
    .carousel figcaption .text-highlight {
      background: #FFF;
      padding: 5px; }

.carousel-slides {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }

.carousel-slide {
  clear: both;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none; }

.carousel-slide.is-active {
  display: block;
  position: relative; }

.carousel-cover {
  max-width: 50%;
  height: auto;
  float: right; }

.carousel-slide .no-content .carousel-cover {
  float: none;
  max-width: 100%; }

.carousel-nav {
  text-align: center;
  margin: 15px 0 0;
  padding: 0; }

.carousel-nav li,
.carousel-nav a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

.carousel-nav-item {
  position: relative; }
  .carousel-nav-item a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #000;
    background: #FFF; }
    .carousel-nav-item a:hover {
      background: #94b6da; }
  .carousel-nav-item.is-active a {
    background: #000; }

.carouselSlide {
  margin-bottom: 0;
  height: 100%;
  overflow: hidden; }

.carousel-nav-prev,
.carousel-nav-next {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  background: #FFF; }
  .carousel-nav-prev:hover,
  .carousel-nav-next:hover {
    background: #94b6da; }
  .carousel-nav-prev a,
  .carousel-nav-next a {
    color: #000;
    height: 40px;
    width: 40px; }
  .carousel-nav-prev a:before,
  .carousel-nav-next a:before {
    font-size: 4.8rem;
    line-height: 40px; }

.carousel-nav-prev {
  margin-right: 8px; }
  .carousel-nav-prev a:before {
    content: "\f0d9";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    left: -2px; }

.carousel-nav-next {
  margin-left: 8px; }
  .carousel-nav-next a:before {
    content: "\f0da";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    right: -2px; }

.image-and-content .carousel-content {
  width: 48%;
  float: left; }

.no-js .carousel .carousel-slide:first-child {
  margin-top: 0;
  border-top: none; }

.no-js .carousel .carousel-slide {
  position: static; }

.no-js .carousel .carousel-nav li {
  display: none; }

.carousel-side-arrows img {
  max-width: none; }

.carousel-side-arrows .carousel-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0; }

.carousel-side-arrows .carousel-nav-item {
  display: none;
  z-index: 8996; }

.carousel-side-arrows .carousel-nav-prev,
.carousel-side-arrows .carousel-nav-next {
  position: absolute;
  top: 50%;
  z-index: 8996;
  margin-top: -20px; }

.carousel-side-arrows .carousel-nav-prev {
  left: 0; }

.carousel-side-arrows .carousel-nav-next {
  right: 0; }

.carousel-hidden-arrows .carousel-nav-prev,
.carousel-hidden-arrows .carousel-nav-next {
  display: none; }

.carousel-hidden-nav .carousel-nav-item {
  display: none; }
