.divider {
  margin: 10px 0 30px; }
  .divider .component-content {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }
