.fileList-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.fileList-file {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  padding: 30px 280px 30px 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px; }
  .fileList-file.has-image {
    min-height: 114px; }
    .fileList-file.has-image .fileList-title,
    .fileList-file.has-image .fileList-description {
      padding-left: 115px; }

.fileList-title {
  margin: 0;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.fileList-download {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  right: 20px; }

.fileList-download-size {
  font-size: 0.73333em;
  display: block;
  float: left;
  line-height: 44px;
  margin-right: 10px; }

.fileList-thumbnail {
  max-width: 100px;
  max-height: 80px;
  position: absolute;
  top: 20px;
  left: 20px; }

.fileList-download-link {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  display: inline-block;
  text-decoration: none !important;
  background: #FFF;
  letter-spacing: 0;
  font-weight: bold;
  padding: 7px 15px;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #000;
          box-shadow: 3px 3px 0 #000;
  color: #000; }
  .fileList-download-link:hover {
    color: #000;
    background: #94b6da; }

@media (max-width: 767px) {
  .fileList-file {
    padding-right: 20px; }
    .fileList-file.has-image .fileList-title,
    .fileList-file.has-image .fileList-description {
      padding-left: 0; }
    .fileList-file.has-image .fileList-thumbnail {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      position: static;
      margin-bottom: 10px; }
  .fileList-title,
  .fileList-description {
    text-align: center; }
  .fileList-title {
    margin-bottom: 10px; }
  .fileList-download {
    position: static;
    margin-top: 0; }
  .fileList-download-size {
    float: none;
    line-height: inherit; }
  .fileList-download-link {
    margin-top: 10px; } }
