.form input[type="text"],
.form textarea,
.form select {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  vertical-align: middle;
  font-size: 0.86667em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 3px 15px;
  color: #000;
  outline: none; }

.form fieldset {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch; }

.form input[type="text"] {
  padding: 5px 15px; }

.form .radio {
  display: block;
  margin-bottom: 5px; }

.form textarea {
  height: auto; }

.form .richText {
  font-size: 0.86667em;
  margin-top: -10px;
  padding: 5px 20px;
  background-color: #f6f6f6; }

.form .control-label {
  font-size: 0.86667em;
  display: inline-block;
  margin-bottom: 5px; }

.form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  line-height: 29px; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .form select::-ms-expand {
      display: none; } }

.form fieldset {
  padding: 1em 1em 0; }

.form legend {
  font-family: "Balsamiq Sans Bold", Georgia, "Times New Roman", Times, serif;
  padding: 0 10px; }

.form textarea {
  resize: vertical;
  padding: 5px 10px; }

.form .button {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  font-size: 0.93333em;
  display: inline-block;
  text-decoration: none !important;
  background: #FFF;
  letter-spacing: 0;
  font-weight: bold;
  padding: 7px 15px;
  float: right;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #000;
          box-shadow: 3px 3px 0 #000;
  margin-right: 5px; }
  .form .button:hover {
    background: #94b6da; }

.form .clearButton,
.form .button[type="reset"] {
  color: #000; }

.form .alert {
  margin-bottom: 20px; }

.form .alert-error {
  background-color: #ffe9e9;
  border: 1px solid #E7A9A9;
  color: #D04544; }

.selectField .controls {
  position: relative; }
  .selectField .controls:after {
    content: "\f078";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    font-size: 1.5rem;
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35px;
    text-align: center;
    line-height: 27px;
    background: #FFF; }

.checkboxField {
  position: relative; }
  .checkboxField .controls {
    position: absolute;
    left: 0;
    top: 2px; }
  .checkboxField .control-label {
    padding-left: 20px; }
