.imageGallery-description {
  margin: 10px 0; }

.imageGallery.is-playing .imageGallery-view-overlay:before {
  content: "\f04c";
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  font-style: normal;
  position: relative;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 3rem;
  position: absolute; }

.imageGallery-view-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }
  .imageGallery-view-overlay:before {
    content: "\f04b";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 4rem;
    color: #000;
    position: absolute;
    background: #FFF;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    top: 50%;
    left: 50%;
    border: 5px solid #000;
    margin: -35px 0 0 -35px; }
  .imageGallery-view-overlay:hover {
    opacity: 1; }

.imageGallery-view {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .imageGallery-view img {
    height: auto;
    display: block;
    margin: 0 auto; }

.imageGallery-thumbnails {
  position: relative;
  margin: 20px 0; }

.imageGallery-list {
  overflow: hidden;
  margin: 0 10%;
  position: relative; }

.imageGallery-list-inner {
  overflow: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 4000px; }

.imageGallery-thumbnail {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: block; }
  .imageGallery-thumbnail a {
    display: block; }
  .imageGallery-thumbnail img {
    display: block;
    margin: 0 auto; }

.imageGallery-arrow {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  font-size: 0;
  text-align: center;
  background: #FFF;
  text-decoration: none; }
  .imageGallery-arrow:hover {
    background: #94b6da; }

.imageGallery-arrow-left:before,
.imageGallery-arrow-right:before {
  font-size: 2.3rem;
  line-height: 22px;
  color: #000; }

.imageGallery-view .imageGallery-arrow {
  margin-top: -18px;
  width: 36px;
  height: 36px; }

.imageGallery-view .imageGallery-arrow-left:before,
.imageGallery-view .imageGallery-arrow-right:before {
  font-size: 3rem;
  line-height: 36px;
  color: #000; }

.imageGallery-arrow-left {
  left: -3px; }
  .imageGallery-arrow-left:before {
    content: "\f0d9";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased; }

.imageGallery-arrow-right {
  right: -3px; }
  .imageGallery-arrow-right:before {
    content: "\f0da";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased; }
