.navigation-mobile-menu {
  display: none; }

.navigation-root {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  background: #FFF;
  display: none;
  list-style: none;
  padding-left: 0; }
  .navigation-root.navigation-level1 {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
  .navigation-root.navigation-level2, .navigation-root.navigation-level3, .navigation-root.navigation-level4, .navigation-root.navigation-level5 {
    position: absolute;
    z-index: 8997; }
  .navigation-root.navigation-level3, .navigation-root.navigation-level4, .navigation-root.navigation-level5 {
    margin-top: -32px;
    left: 100%; }

.navigation-item {
  position: relative; }
  .navigation-item:hover, .navigation-item:focus {
    background: #94b6da !important; }
  .navigation-item.is-active, .navigation-item.has-active-child {
    background: #D9D9D9; }
  .navigation-item.navigation-level1 {
    display: inline-block;
    margin: 0 5px; }
    .navigation-item.navigation-level1 > .navigation-item-title {
      padding: 10px;
      display: block; }
  .navigation-item:hover > .navigation-root, .navigation-item:focus > .navigation-root {
    display: block; }
    .navigation-item:hover > .navigation-root > .navigation-item, .navigation-item:focus > .navigation-root > .navigation-item {
      padding: 10px 20px;
      width: 150px; }

.navigation-item-title {
  color: #000;
  text-decoration: none; }
  .navigation-item-title:hover, .navigation-item-title:focus {
    color: #000;
    text-decoration: none; }

@media (max-width: 767px) {
  .navigation-root {
    display: none;
    list-style: none;
    padding-left: 0;
    position: relative !important;
    margin-top: 0 !important;
    left: 0 !important;
    border: 0; }
    .navigation-root.navigation-level1 {
      border: 3px solid #000;
      -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
         border-image: url("../../assets/img/border.png") 5 stretch stretch;
      display: block;
      padding: 0;
      list-style: none; }
  .navigation-item {
    background: #FFF;
    padding: 0; }
    .navigation-item:hover > .navigation-root > .navigation-item,
    .navigation-item:hover > .navigation-root > .navigation-item, .navigation-item:focus > .navigation-root > .navigation-item,
    .navigation-item:focus > .navigation-root > .navigation-item {
      width: auto;
      padding: 0; }
    .navigation-item.navigation-level1 {
      display: block;
      margin: 0; }
    .navigation-item.navigation-level2 > .navigation-item-title {
      padding-left: 24px; }
      .navigation-item.navigation-level2 > .navigation-item-title:before {
        content: '- '; }
    .navigation-item.navigation-level3 > .navigation-item-title {
      padding-left: 32px; }
      .navigation-item.navigation-level3 > .navigation-item-title:before {
        content: '-- '; }
    .navigation-item.navigation-level4 > .navigation-item-title {
      padding-left: 40px; }
      .navigation-item.navigation-level4 > .navigation-item-title:before {
        content: '--- '; }
    .navigation-item.has-children > .navigation-item-title > .navigation-item-decoration {
      outline: none; }
      .navigation-item.has-children > .navigation-item-title > .navigation-item-decoration:after {
        content: "\f078";
        font-family: FontAwesome, sans-serif;
        display: inline-block;
        font-style: normal;
        position: relative;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px 12px; }
    .navigation-item:hover > .navigation-root, .navigation-item:focus > .navigation-root {
      display: none; }
  .navigation-item-title {
    padding: 10px 16px !important;
    position: relative;
    display: block; }
    .navigation-item-title:hover, .navigation-item-title:focus {
      text-decoration: none; } }

.navigation-vertical .navigation-root {
  display: none;
  list-style: none;
  padding-left: 0;
  position: relative !important;
  margin-top: 0 !important;
  left: 0 !important;
  border: 0; }
  .navigation-vertical .navigation-root.navigation-level1 {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    padding: 0;
    display: block;
    list-style: none; }

.navigation-vertical .navigation-item {
  background: #FFF;
  display: block;
  border: 0;
  margin: 0;
  padding: 0 !important;
  width: 100% !important; }
  .navigation-vertical .navigation-item.navigation-level1 {
    padding: 0; }
  .navigation-vertical .navigation-item.navigation-level2 > .navigation-item-title {
    padding-left: 24px; }
    .navigation-vertical .navigation-item.navigation-level2 > .navigation-item-title:before {
      content: '- '; }
  .navigation-vertical .navigation-item.navigation-level3 > .navigation-item-title {
    padding-left: 32px; }
    .navigation-vertical .navigation-item.navigation-level3 > .navigation-item-title:before {
      content: '-- '; }
  .navigation-vertical .navigation-item.navigation-level4 > .navigation-item-title {
    padding-left: 40px; }
    .navigation-vertical .navigation-item.navigation-level4 > .navigation-item-title:before {
      content: '--- '; }
  .navigation-vertical .navigation-item.has-children > .navigation-item-title > .navigation-item-decoration {
    outline: none; }
    .navigation-vertical .navigation-item.has-children > .navigation-item-title > .navigation-item-decoration:after {
      content: "\f078";
      font-family: FontAwesome, sans-serif;
      display: inline-block;
      font-style: normal;
      position: relative;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      right: 16px;
      top: 8px; }
  .navigation-vertical .navigation-item:hover > .navigation-root, .navigation-vertical .navigation-item:focus > .navigation-root {
    display: none; }
  .navigation-vertical .navigation-item.is-active, .navigation-vertical .navigation-item.has-active-child {
    background: #fcfcfc; }

.navigation-vertical .navigation-item-title {
  padding: 10px 16px !important;
  position: relative;
  display: block;
  color: #000 !important; }

.navigation-fat .navigation-root {
  padding: 0;
  margin: 0;
  display: block;
  position: static; }

.navigation-fat .navigation-item-title {
  padding: 0 !important; }

.navigation-fat .navigation-item-decoration {
  display: none !important; }

.navigation-fat .navigation-level1.navigation-root {
  display: table;
  table-layout: fixed;
  width: 100%; }

.navigation-fat .navigation-level1.navigation-item {
  display: table-cell;
  padding: 15px; }
  .navigation-fat .navigation-level1.navigation-item > .navigation-item-title {
    padding: 0; }

.navigation-fat .navigation-level1.navigation-item + .navigation-level1.navigation-item {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  border-bottom: 0;
  border-top: 0;
  border-right: 0; }

.navigation-fat .navigation-level2.navigation-root {
  font-size: 0.86667em;
  margin-top: 15px !important;
  border: 0; }

.navigation-fat .navigation-level2.navigation-item {
  position: relative;
  padding-left: 12px;
  margin-left: 0;
  word-break: break-word; }
  .navigation-fat .navigation-level2.navigation-item:before {
    content: "\f0da";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 1px;
    left: 2px; }

.navigation-fat .navigation-item {
  line-height: 1.2;
  list-style-type: none;
  margin: 0 0 8px;
  background: none !important; }
  .navigation-fat .navigation-item:hover .navigation-item, .navigation-fat .navigation-item:focus .navigation-item {
    width: auto;
    padding: 0 0 0 15px; }
  .navigation-fat .navigation-item:hover .navigation-root, .navigation-fat .navigation-item:focus .navigation-root {
    display: block; }

@media (max-width: 767px) {
  .navigation-fat .navigation-level1.navigation-item {
    display: block; }
  .navigation-fat .navigation-level1.navigation-item + .navigation-level1.navigation-item {
    border-left: 0;
    border-top: 3px solid #000; }
  .navigation-fat .navigation-item.navigation-level2 {
    margin: 0 0 8px !important; }
  .navigation-fat .navigation-item .navigation-item-title {
    padding-left: 0; }
    .navigation-fat .navigation-item .navigation-item-title:before {
      content: ''; } }

.navigation-sidebar .navigation-item-title {
  display: block;
  padding: 0 !important; }
  .navigation-sidebar .navigation-item-title:hover {
    text-decoration: none; }

.navigation-sidebar .navigation-item {
  overflow: hidden;
  display: block !important;
  padding: 10px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }
  .navigation-sidebar .navigation-item:hover, .navigation-sidebar .navigation-item:focus {
    background: none !important; }
    .navigation-sidebar .navigation-item:hover > .navigation-root, .navigation-sidebar .navigation-item:focus > .navigation-root {
      display: none; }
    .navigation-sidebar .navigation-item:hover .navigation-item, .navigation-sidebar .navigation-item:focus .navigation-item {
      width: auto;
      padding: 0; }
  .navigation-sidebar .navigation-item.has-active-child:hover > .navigation-root, .navigation-sidebar .navigation-item.has-active-child:focus > .navigation-root {
    display: block; }
  .navigation-sidebar .navigation-item.is-active, .navigation-sidebar .navigation-item.has-active-child {
    background: none;
    margin-top: 10px; }
  .navigation-sidebar .navigation-item.is-active {
    background: #D9D9D9 !important; }

.navigation-sidebar .navigation-root {
  list-style: none;
  border: 0;
  display: none;
  position: static; }
  .navigation-sidebar .navigation-root.navigation-level1 {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    padding: 0;
    display: block; }

.navigation-sidebar .has-active-child > .navigation-root {
  display: block; }

.navigation-sidebar .has-children > .navigation-item-title > .navigation-item-decoration:after {
  content: "\f054";
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  font-style: normal;
  position: relative;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 70%;
  padding-left: 5px;
  top: -1px;
  right: auto; }

@media (max-width: 767px) {
  .navigation-sidebar .has-children > .navigation-item-title > .navigation-item-decoration:after {
    content: "\f054";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 70%;
    padding-left: 5px;
    top: -1px; }
  .navigation-sidebar .navigation-item .navigation-item-title {
    padding-left: 0; }
    .navigation-sidebar .navigation-item .navigation-item-title:before {
      content: ''; } }

@media (min-width: 768px) and (max-width: 991px) {
  .navigation-mobile .navigation-root.navigation-level1 {
    display: block !important; } }

@media (max-width: 767px) {
  .navigation-mobile .navigation-mobile-menu {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    display: block;
    outline: none;
    background: none;
    padding: 0;
    margin-bottom: -3px; }
    .navigation-mobile .navigation-mobile-menu:hover {
      background: #94b6da; }
    .navigation-mobile .navigation-mobile-menu:before {
      content: "\f0c9";
      font-family: FontAwesome, sans-serif;
      display: inline-block;
      font-style: normal;
      position: relative;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      font-size: 2.5rem;
      display: block;
      width: 41px;
      height: 41px;
      line-height: 38px;
      color: #000; }
  .navigation-mobile .navigation-root.navigation-level1 {
    display: none; } }
