.richText a {
  text-decoration: underline; }

.richText ul,
.richText ol {
  padding: 10px 0;
  margin-left: 5px; }

.richText li {
  margin-left: 15px;
  margin-bottom: 10px;
  list-style-type: none; }

.richText ul li {
  position: relative;
  padding-left: 15px;
  margin-left: 0; }
  .richText ul li:before {
    content: "\f111";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    position: absolute;
    top: 4px;
    left: -3px; }

.richText ol li {
  list-style-type: decimal; }

.richText-image {
  display: block;
  margin-bottom: 10px; }
  .richText-image.pull-left {
    margin-right: 10px;
    float: left; }
  .richText-image.pull-right {
    margin-left: 10px;
    float: right; }
