.searchResults-number {
  margin-bottom: 20px; }

.searchResults-term {
  font-weight: bold; }

.searchResults-result {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  padding: 30px 20px;
  border-bottom-width: 3px;
  background: #FFF;
  margin-bottom: 20px; }

.searchResults-date {
  font-size: 1.3rem;
  margin-bottom: 10px; }

.searchResults-description {
  margin-bottom: 10px; }

.searchResults-url {
  font-size: 1.3rem;
  word-break: break-all; }

.searchResults-title {
  margin: 0 0 15px 0; }
  .searchResults-title:only-child {
    border-bottom: 0;
    padding: 0;
    margin: 0; }

.searchResults-pagination-list {
  font-size: 1.3rem;
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  text-align: center; }

.searchResults-pagination-item {
  display: inline-block; }
  .searchResults-pagination-item a {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    display: block;
    width: 25px;
    line-height: 25px;
    text-align: center;
    margin-right: 3px;
    color: #000;
    background: #D9D9D9;
    text-decoration: none; }
    .searchResults-pagination-item a:hover {
      background: #94b6da; }
  .searchResults-pagination-item.is-active a {
    background: #FFF;
    cursor: default; }
  .searchResults-pagination-item.item-next a,
  .searchResults-pagination-item.item-previous a {
    width: auto;
    padding: 0 5px; }
  .searchResults-pagination-item.item-next a:after {
    content: "\f054";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    margin-left: 5px; }
  .searchResults-pagination-item.item-previous a:before {
    content: "\f053";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    margin-right: 5px; }

.searchResults-url a:hover,
.searchResults-url a:active,
.searchResults-url a:focus,
.searchResults-title a:hover,
.searchResults-title a:active,
.searchResults-title a:focus {
  text-decoration: none; }

.searchResults-result.has-image .searchResults-image {
  position: absolute; }

.searchResults-result.has-image .searchResults-title,
.searchResults-result.has-image .searchResults-description,
.searchResults-result.has-image .searchResults-date,
.searchResults-result.has-image .searchResults-url {
  margin-left: 220px; }

@media (max-width: 767px) {
  .searchResults-pagination {
    text-align: center; }
  .searchResults-pagination-list {
    display: inline-block;
    float: none; }
  .searchResults-result.has-image {
    text-align: center; }
    .searchResults-result.has-image .searchResults-image {
      position: static;
      margin-bottom: 20px; }
    .searchResults-result.has-image .searchResults-title,
    .searchResults-result.has-image .searchResults-description,
    .searchResults-result.has-image .searchResults-date,
    .searchResults-result.has-image .searchResults-url {
      text-align: left;
      margin-left: 0; } }
