.searchBox .form-search {
  position: relative;
  overflow: hidden; }

.searchBox .searchBox-label {
  display: table;
  width: 100%; }

.searchBox .searchBox-title {
  display: table-cell;
  white-space: nowrap;
  padding-right: 15px; }

.searchBox .search-query {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  vertical-align: middle;
  line-height: 25px;
  height: 25px;
  padding: 0 63px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.searchBox .button {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none !important;
  background: #FFF;
  letter-spacing: 0;
  padding: 2px 5px;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #000;
          box-shadow: 3px 3px 0 #000;
  color: #000;
  margin-left: -5px;
  line-height: 1; }
  .searchBox .button:hover {
    color: #000;
    background: #94b6da; }
