.shareThis {
  margin-top: 1em;
  text-align: center; }

.shareThis-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block; }

.shareThis-item {
  display: inline-block;
  margin-right: 5px; }
