.sitemap-column > ul {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none; }
  .sitemap-column > ul ul {
    padding: 0; }
    .sitemap-column > ul ul li {
      list-style: none;
      padding: 0 0 5px 0; }
      .sitemap-column > ul ul li ul {
        padding: 5px 0 0 10px; }
      .sitemap-column > ul ul li a:before {
        content: "\f054";
        font-family: FontAwesome, sans-serif;
        display: inline-block;
        font-style: normal;
        position: relative;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        font-size: .9rem;
        margin-right: 5px;
        top: -1px; }

.sitemap-column h3 {
  padding-bottom: 5px;
  margin: 10px 10px 8px 0; }
  .sitemap-column h3 a {
    color: #000;
    text-decoration: none; }

@media (max-width: 767px) {
  .sitemap-column > ul {
    width: 100%; } }
