.smartLink {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  border-left: 0;
  border-right: 0;
  text-align: center; }

.smart-link-list {
  list-style: none;
  padding: 5px 0;
  margin: 0; }
  .smart-link-list li {
    display: inline-block; }

.smart-link-previous,
.smart-link-next {
  text-decoration: none;
  color: #000; }
  .smart-link-previous:hover,
  .smart-link-next:hover {
    text-decoration: none; }

.smart-link-previous {
  margin-right: 5px; }
  .smart-link-previous:before {
    content: "\f053";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px; }

.smart-link-next {
  margin-left: 5px; }
  .smart-link-next:after {
    content: "\f054";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    margin-left: 5px; }
