.table {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  background: #FFF; }
  .table table {
    table-layout: fixed;
    width: 100%;
    margin-top: -1px; }
    .table table h1, .table table h2, .table table h3, .table table h4, .table table h5 {
      margin: 0.5em; }
  .table th {
    background: #D9D9D9; }
  .table th,
  .table td {
    padding: 10px; }
  .table .table-caption {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    padding: 30px 20px;
    background: #D9D9D9;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 2px; }
  .table .table-heading {
    margin: 0; }
  .table .table-button {
    padding: 8px 15px;
    top: 5px;
    position: relative;
    border-radius: 3px; }
    .table .table-button:hover {
      text-decoration: none; }
  .table .button-group {
    display: none; }
    .table .button-group.button-group-inline {
      display: block; }
  @media (max-width: 767px) {
    .table table {
      overflow-x: auto;
      display: block;
      text-align: center; }
    .table tbody {
      display: inline-block; } }
