.tabs-nav-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0 0 -9px;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.tabs-nav-item {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  border-bottom: 0;
  background: #D9D9D9;
  cursor: pointer; }
  .tabs-nav-item a {
    display: block;
    padding: 8px 0;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    text-decoration: none; }
  .tabs-nav-item:hover {
    background: #94b6da; }
  .tabs-nav-item.is-active {
    background: #FFF;
    z-index: 1;
    position: relative; }

.tabs-content {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  padding: 20px 20px 0;
  position: relative;
  background: #FFF; }
  .tabs-content:before, .tabs-content:after {
    content: "";
    display: table; }
  .tabs-content:after {
    clear: both; }

@media (max-width: 767px) {
  .tabs-nav-item {
    display: block; }
  .tabs-nav-list {
    margin-bottom: 0; } }

.tabs-vertical {
  overflow: hidden; }
  .tabs-vertical .tabs-nav {
    height: auto;
    width: 170px;
    position: absolute; }
  .tabs-vertical .tabs-nav-list {
    width: 100%;
    display: block; }
  .tabs-vertical .tabs-content {
    margin-left: 167px; }
  .tabs-vertical .tabs-nav-item {
    display: block;
    width: 100%;
    height: 46px;
    text-align: left;
    padding-left: 10px;
    border-bottom: 3px solid #000;
    border-right: 0; }
    .tabs-vertical .tabs-nav-item a {
      padding: 9px 0; }
    .tabs-vertical .tabs-nav-item + .tabs-nav-item {
      margin: 5px 0 0; }
  @media (max-width: 767px) {
    .tabs-vertical .tabs-nav {
      width: 100%;
      position: static; }
    .tabs-vertical .tabs-nav-item {
      text-align: center;
      border-right: 3px solid #000; }
      .tabs-vertical .tabs-nav-item + .tabs-nav-item {
        margin: -3px 0; }
    .tabs-vertical .tabs-content {
      margin-left: 0; } }
