.feed-provider-feeds,
.twitter-actions {
  padding: 0;
  margin: 0;
  list-style: none; }

.twitter-retwitted,
.twitter-date,
.twitter-header {
  margin: 12px 0; }

.twitter-sender {
  color: #000;
  text-decoration: none; }
  .twitter-sender:hover {
    color: #000;
    text-decoration: none; }

.twitter-feed {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  padding: 20px 10px;
  border-right: 0;
  border-left: 0;
  margin-top: -2px; }

.twitter-actions {
  margin-top: 6px; }

.twitter-action {
  display: inline-block;
  margin-right: 5px; }

.twitter-reply-action:before,
.twitter-retweet-action:before,
.twitter-favorite-action:before {
  margin-right: 5px; }

.twitter-reply-action:before {
  content: "\f112";
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  font-style: normal;
  position: relative;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.twitter-retweet-action:before {
  content: "\f079";
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  font-style: normal;
  position: relative;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.twitter-favorite-action:before {
  content: "\f005";
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  font-style: normal;
  position: relative;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }
