.video-nojs {
  display: none;
  text-align: center;
  padding: 20px 0;
  color: red; }

.no-js .video-nojs {
  display: block; }

.video object,
.video embed {
  width: 100% !important; }

.video-video-container {
  margin: 0 auto; }

.mejs-container {
  outline: none; }

.mejs-container .mejs-controls {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFF;
  height: 55px; }

.mejs-controls .mejs-button button {
  background: none;
  outline: none; }
  .mejs-controls .mejs-button button:before {
    font-size: 2.4rem;
    color: #000; }

.mejs-controls .mejs-playpause-button button {
  position: relative;
  left: -6px;
  top: 3px;
  height: 35px;
  width: 35px; }
  .mejs-controls .mejs-playpause-button button:before {
    content: "\f01d";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 3.5rem; }

.mejs-controls .mejs-volume-button {
  top: 10px; }

.mejs-container .mejs-controls .mejs-fullscreen-button {
  margin-top: 14px; }

.mejs-controls .mejs-pause button {
  left: -7px; }
  .mejs-controls .mejs-pause button:before {
    content: "\f04c";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 2.8rem; }

.mejs-controls div.mejs-time-rail {
  padding-top: 10px; }
  .mejs-controls div.mejs-time-rail .mejs-time-total {
    border: 3px solid #000;
    -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
       border-image: url("../../assets/img/border.png") 5 stretch stretch;
    height: 10px;
    background: #FFF; }
  .mejs-controls div.mejs-time-rail .mejs-time-current {
    height: 10px;
    background: #D9D9D9; }
  .mejs-controls div.mejs-time-rail .mejs-time-handle {
    border-radius: 50%;
    top: -4px;
    left: -3px;
    border: 2px solid #000; }
    .mejs-controls div.mejs-time-rail .mejs-time-handle:hover {
      background: #94b6da; }

.mejs-container .mejs-controls .mejs-time {
  display: none; }

.mejs-controls .mejs-volume-button .mejs-volume-slider {
  background: #FFF;
  border: 2px solid #000;
  margin-top: -7px;
  left: -3px; }
  .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
    width: 3px;
    background: #4882C0; }
  .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    width: 3px;
    background: #D9D9D9; }

.mejs-overlay-button {
  opacity: 1;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px solid #000;
  background: #FFF; }
  .mejs-overlay-button:before {
    font-size: 4rem;
    background: none;
    border: 0;
    top: 3px; }
