.videoGallery object,
.videoGallery embed {
  width: 100% !important; }

.videoGallery-heading {
  min-height: 33px; }

.videoGallery-list {
  overflow: hidden;
  margin: 0 50px;
  position: relative; }

.videoGallery-list-inner {
  overflow: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none; }

.videoGallery-description {
  margin: 15px 0; }

.videoGallery-thumbnails {
  position: relative;
  margin-top: 18px; }

.videoGallery-arrow {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  font-size: 0;
  text-align: center;
  background: #FFF; }

.videoGallery-arrow-left:before,
.videoGallery-arrow-right:before {
  font-size: 2.3rem;
  line-height: 22px;
  color: #000; }

.videoGallery-arrow-left {
  left: 0; }
  .videoGallery-arrow-left:before {
    content: "\f0d9";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased; }

.videoGallery-arrow-right {
  right: 0; }
  .videoGallery-arrow-right:before {
    content: "\f0da";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased; }

.videoGallery-thumbnail {
  float: left;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  max-width: 100px; }

.videoGallery-thumbnail-image {
  border: 3px solid #000;
  -o-border-image: url("../../assets/img/border.png") 5 stretch stretch;
     border-image: url("../../assets/img/border.png") 5 stretch stretch;
  position: relative; }
  .videoGallery-thumbnail-image img {
    display: block;
    margin: 0 auto; }

.videoGallery-thumbnail-title {
  font-size: 1.1rem;
  display: block;
  padding: 2px 0; }
  .videoGallery-thumbnail-title:hover {
    text-decoration: none; }

.videoGallery-thumbnail-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -13px; }
  .videoGallery-thumbnail-overlay:before {
    content: "\f04b";
    font-family: FontAwesome, sans-serif;
    display: inline-block;
    font-style: normal;
    position: relative;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 1.3rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    background: #FFF;
    color: #000;
    text-align: center;
    line-height: 22px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #000; }

.videoGallery-nojs {
  display: none; }

.no-js .videoGallery-nojs {
  display: block; }
