@import 'mixins'; 

// This fixes author device emulator background overwrite problem.
#cq-emulator-content.firefox {
    background-color: #FFF !important;
}

html, body {
    width: 100%;
    font-size: 14px;
}

body {
    line-height: 1.5;
    color: $defaultTextColor;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    overflow: auto;
}

#wrapper,
.container {
    color: $textColor;
    background-color: #F5F5F5;
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* BASE STYLES
----------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $textColor;
    margin: 10px 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

a {
    color: $textColor;
    text-decoration: none;
}

a:hover {
    color: $linkTextColor;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button,
input {
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

/* LAYOUT STYLES
----------------------------------------- */

.component {
    clear: left;
    margin-bottom: 10px;
}

.component[class*="grid"] {
    clear: none;
}

.component[class*="grid"].alpha {
    clear: left;
}

.component-content {
    overflow: hidden;
    margin-bottom: 14px;
}

.component > .component-content {
    margin-bottom: 0;
}

/* ALERTS
-------------------------------------*/

.alert-list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: disc;
}

.alert-list li {
    padding-left: 4px;
}

.alert {
    margin-bottom: 20px;
}

.alert-error {
    color: $alertTextColor;
}

/* UTILITIES
----------------------------------- */

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.is-hidden {
    display: none !important;
    visibility: hidden !important;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
} 

.clearfix:after {
    clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/ 

.clearfix {
    zoom: 1;
}

