.smartLink {
  @include frame;
  border-left: 0;
  border-right: 0;
  text-align: center;
}

.smart-link-list {
  list-style: none;
  padding: 5px 0;
  margin: 0;

  li {
    display: inline-block;
  }
}

.smart-link-previous,
.smart-link-next {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: none;
  }
}

.smart-link-previous {
  margin-right: 5px;

  &:before {
    @include font-awesome($fa-var-chevron-left);
    margin-right: 5px;
  }
}

.smart-link-next {
  margin-left: 5px;

  &:after {
    @include font-awesome($fa-var-chevron-right);
    margin-left: 5px;
  }
}