/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 4, ../../sass/core/cookiePolicy.scss */
.cookiePolicy-info {
  background-color: #e1e1e1;
  -moz-transition: linear 2s all;
  -o-transition: linear 2s all;
  -webkit-transition: linear 2s all;
  transition: linear 2s all;
  max-height: 1000px;
  overflow: hidden;
}
/* line 10, ../../sass/core/cookiePolicy.scss */
.cookiePolicy-info.collapsed {
  max-height: 0;
}
/* line 14, ../../sass/core/cookiePolicy.scss */
.cookiePolicy-info .cookiePolicy-inner {
  padding: 20px 10px;
  width: auto;
  max-width: 940px;
  margin: 0 auto;
}

/* line 23, ../../sass/core/cookiePolicy.scss */
.cookiePolicy-restrictive {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
/* line 33, ../../sass/core/cookiePolicy.scss */
.cookiePolicy-restrictive.collapsed {
  display: none;
}
/* line 37, ../../sass/core/cookiePolicy.scss */
.cookiePolicy-restrictive .cookiePolicy-inner {
  position: fixed;
  top: 100px;
  width: 700px;
  margin-left: -363px;
  left: 50%;
  padding: 13px;
  background-color: #e1e1e1;
}
@media screen and (max-width: 699px) {
  /* line 37, ../../sass/core/cookiePolicy.scss */
  .cookiePolicy-restrictive .cookiePolicy-inner {
    position: absolute;
    width: auto;
    margin: 20px;
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 699px) {
  /* line 60, ../../sass/core/cookiePolicy.scss */
  .cookiePolicy-restrictive {
    position: absolute;
  }
}
/* line 66, ../../sass/core/cookiePolicy.scss */
.cookiePolicy-buttons {
  text-align: right;
}
