/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/*!
 *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../assets/fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../../assets/fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../../assets/fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../../assets/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 5, ../../sass/core/main.scss */
#cq-emulator-content.firefox {
  background-color: #FFF !important;
}

/* line 9, ../../sass/core/main.scss */
html, body {
  width: 100%;
  font-size: 14px;
}

/* line 14, ../../sass/core/main.scss */
body {
  line-height: 1.5;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow: auto;
}

/* line 22, ../../sass/core/main.scss */
[id=wrapper] {
  color: #323131;
  background-color: #F5F5F5;
}

/* line 28, ../../sass/core/main.scss */
[id=header] {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 33, ../../sass/core/main.scss */
[id=footer] {
  padding-bottom: 15px;
  padding-top: 15px;
}

/* BASE STYLES
----------------------------------------- */
/* line 41, ../../sass/core/main.scss */
img {
  max-width: 100%;
}

/* line 45, ../../sass/core/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323131;
  margin: 10px 0;
}

/* line 52, ../../sass/core/main.scss */
h1 {
  font-size: 2em;
}

/* line 56, ../../sass/core/main.scss */
h2 {
  font-size: 1.5em;
}

/* line 60, ../../sass/core/main.scss */
h3 {
  font-size: 1.17em;
}

/* line 64, ../../sass/core/main.scss */
h4 {
  font-size: 1em;
}

/* line 68, ../../sass/core/main.scss */
h5 {
  font-size: 0.83em;
}

/* line 72, ../../sass/core/main.scss */
h6 {
  font-size: 0.67em;
}

/* line 76, ../../sass/core/main.scss */
a {
  color: #323131;
  text-decoration: none;
}

/* line 81, ../../sass/core/main.scss */
a:hover {
  color: #868484;
}

/* line 85, ../../sass/core/main.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 94, ../../sass/core/main.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 100, ../../sass/core/main.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 106, ../../sass/core/main.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 114, ../../sass/core/main.scss */
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

/* line 125, ../../sass/core/main.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 132, ../../sass/core/main.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 137, ../../sass/core/main.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* LAYOUT STYLES
----------------------------------------- */
/* line 145, ../../sass/core/main.scss */
.component {
  margin-bottom: 10px;
}

/* line 149, ../../sass/core/main.scss */
.component-content {
  margin-bottom: 14px;
}
/* line 166, ../../sass/core/_mixins.scss */
.component-content:before, .component-content:after {
  content: "";
  display: table;
}
/* line 172, ../../sass/core/_mixins.scss */
.component-content:after {
  clear: both;
}

/* line 154, ../../sass/core/main.scss */
.component > .component-content {
  margin-bottom: 0;
}

/* ALERTS
-------------------------------------*/
/* line 161, ../../sass/core/main.scss */
.alert-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: disc;
}

/* line 168, ../../sass/core/main.scss */
.alert-list li {
  padding-left: 4px;
}

/* line 172, ../../sass/core/main.scss */
.alert {
  margin-bottom: 20px;
}

/* line 176, ../../sass/core/main.scss */
.alert-error {
  color: red;
}

/* UTILITIES
----------------------------------- */
/* line 183, ../../sass/core/main.scss */
.pull-right {
  float: right;
}

/* line 187, ../../sass/core/main.scss */
.pull-left {
  float: left;
}

/* line 191, ../../sass/core/main.scss */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 201, ../../sass/core/main.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
/* line 212, ../../sass/core/main.scss */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 222, ../../sass/core/main.scss */
.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
/* line 231, ../../sass/core/main.scss */
.clearfix {
  zoom: 1;
}

/* BUTTONS
----------------------------------*/
/* line 237, ../../sass/core/main.scss */
.button {
  background-color: #e1e1e1;
  border: 1px solid #656363;
  color: #323131;
  padding: 5px 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}

/* line 249, ../../sass/core/main.scss */
.lt-ie8 .button {
  display: inline;
}

/* line 253, ../../sass/core/main.scss */
.button:hover {
  background-color: #939191;
  color: white;
}
