@import '../../core/mixins';

.sitemap-column {
    float: left;
    > ul {
      margin: 0 5px;
    }
}

.sitemap-columns-1 .sitemap-column{
  width: 100%;
}

.sitemap-columns-2 .sitemap-column{
  width: 50%;
}

.sitemap-columns-3 .sitemap-column{
  width: 33.32%;
}

.sitemap-columns-4 .sitemap-column{
    width: 25%;
}

.sitemap-columns-5 .sitemap-column{
    width: 20%;
}

.sitemap-columns-6 .sitemap-column{
    width: 16.64%;
}

.sitemap-columns-7 .sitemap-column{
    width: 14.25%;
}

.sitemap-columns-8 .sitemap-column{
   width: 12.49%;
}

.sitemap-columns-9 .sitemap-column{
   width: 11.10%;
}

.sitemap-columns-10 .sitemap-column{
   width: 10%;
}

.sitemap-columns-11 .sitemap-column{
   width: 9.08%;
}

.sitemap-columns-12 .sitemap-column{
    width: 8.32%;
}

.sitemap-column {

    ul {
        list-style: none;
        padding: 0;
    }

    a {
       text-decoration: none;
    }

    .component-content {
       overflow: hidden;
    }

    h3 {
        background-color: $backgroundColor;
        font-size: 13px;
        font-weight: bold;
        padding: 5px 10px
    }

    ul {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    ul ul {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left:0;
        padding-left: 10px;
    }

    ul ul li {
        font-weight: bold;
        padding-left: 12px;
        line-height: 150%;
        position:relative;
        &:before {
          @include font-awesome($fa-var-caret-right);
          left:0;
          top: 1px;
          position:absolute;
      }
    }

    ul ul ul {
       margin-top: 0;
    }

    ul ul ul li {
      font-weight: normal;
      margin-left: 10px;
    }

}

/*************************** Sitemap media queries */

@include respond-to(mobile) {
    .component-content .sitemap-column {
        width: 100%;
        float: none;
    }

    .component-content .sitemap-column > ul {
        margin: 0 0 15px;
    }
}
