.form {
  input[type="text"],
  textarea,
  select {
    @include frame;
    vertical-align: middle;
    font-size: em(1.3);
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding: 3px 15px;
    color: $black;
    outline: none;
  }

  fieldset {
    @include frame;
  }

  input[type="text"] {
    padding: 5px 15px;
  }

  .radio {
    display: block;
    margin-bottom: 5px;
  }

  textarea {
    height: auto;
  }

  .richText {
    font-size: em(1.3);
    margin-top: -10px;
    padding: 5px 20px;
    background-color: #f6f6f6;
  }

  .control-label {
    font-size: em(1.3);
    display: inline-block;
    margin-bottom: 5px;
  }

  select {
    appearance: none;
    cursor: pointer;
    line-height: 29px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      &::-ms-expand {
        display: none;
      }
    }
  }

  fieldset {
    padding: 1em 1em 0;
  }

  legend {
    font-family: $font-family-serif;
    padding: 0 10px;
  }

  textarea {
    resize: vertical;
    padding: 5px 10px;
  }

  .button {
    @include frame;
    font-size: em(1.4);
    display: inline-block;
    text-decoration: none !important;
    background: $body-bg;
    letter-spacing: 0;
    font-weight: bold;
    padding: 7px 15px;
    float: right;
    outline: none;
    box-shadow: 3px 3px 0 #000;
    margin-right: 5px;

    &:hover {
      background: lighten($blue, 20%);
    }
  }

  .clearButton,
  .button[type="reset"] {
    color: $text-color;
  }

  .alert {
    margin-bottom: 20px;
  }

  .alert-error {
    background-color: #ffe9e9;
    border: 1px solid #E7A9A9;
    color: #D04544;
  }
}

.selectField {
  .controls {
    position: relative;

    &:after {
      @include font-awesome($fa-var-chevron-down);
      @include frame;
      font-size: 1.5rem;
      position: absolute;
      pointer-events: none;
      top: 0;
      bottom: 0;
      right: 0;
      width: 35px;
      text-align: center;
      line-height: 27px;
      background: $body-bg;
    }
  }
}

.checkboxField {
  position: relative;

  .controls {
    position: absolute;
    left: 0;
    top: 2px;
  }

  .control-label {
    padding-left: 20px;
  }
}