@import '../../core/mixins';

body.table-popup {
    background-color: #FFF;
    line-height: 1.5;
}

.table-heading {
    @include heading();
}

.table-caption {
    @include frame();
    @include innerspace();
    @include filled();
    border-bottom: none;
}

.table-popup .table-caption {
    border: 1px solid lighten($borderColor, 20);
    background-color: lighten($backgroundColor, 7);
}

.table th {
    @include filled();
    font-weight: bold;
    text-align: center;
}

.table-popup .table th {
    background-color: lighten($backgroundColor, 7);
}

.table table {
    border-collapse: collapse;
    width: 100%;
    @include frame();
}

.table-popup .table table {
    border: 1px solid lighten($borderColor, 20);
}

.table th,
.table td {
    @include frame();
    padding: 5px;
}

.table-popup .table th,
.table-popup .table td {
    border: 1px solid lighten($borderColor, 20);
    line-height: 1.5;
}

.table td {
    vertical-align: middle;
}

.table .button {
    display: none;
}

.table .table-caption .button {
    display: block;
    margin: 10px 0 0 5px;
}

.no-js {
    .table .button {
        display:none;
    }
}

.lt-ie8 {

    .table-popup .table {
        position: static;
    }

}

@include respond-to(mobile) {

    .table .component-content .button {
        display: block;
        margin: 20px;
    }

    .table .component-content .table-caption .button {
        display: none;
    }

}
