/**
* This file will be included in author mode only
*
* USE:
* ".aem-AuthorLayer-Edit" to detect Touch UI authoring
* ".cq-wcm-edit" to detect Classic UI authoring
*/

@import '../core/mixins';

@include respond-to(desktop) {
  .accordion-horizontal .accordion-content {
    padding-bottom: 60px;
  }
}

.carousel-side-arrows .carousel-nav {
  position: static;
}

.carousel {
  padding-top: 20px;
}