/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* BUTTONS
----------------------------------*/
/* line 4, ../../sass/core/main.scss */
#cq-emulator-content.firefox {
  background-color: #FFF !important;
}

/* line 8, ../../sass/core/main.scss */
html, body {
  width: 100%;
  font-size: 14px;
}

/* line 13, ../../sass/core/main.scss */
body {
  line-height: 1.5;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow: auto;
}

/* line 21, ../../sass/core/main.scss */
#wrapper,
.container {
  color: #323131;
  background-color: #F5F5F5;
}

/* line 27, ../../sass/core/main.scss */
#header {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 32, ../../sass/core/main.scss */
#footer {
  padding-bottom: 15px;
  padding-top: 15px;
}

/* BASE STYLES
----------------------------------------- */
/* line 40, ../../sass/core/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323131;
  margin: 10px 0;
}

/* line 47, ../../sass/core/main.scss */
h1 {
  font-size: 2em;
}

/* line 51, ../../sass/core/main.scss */
h2 {
  font-size: 1.5em;
}

/* line 55, ../../sass/core/main.scss */
h3 {
  font-size: 1.17em;
}

/* line 59, ../../sass/core/main.scss */
h4 {
  font-size: 1em;
}

/* line 63, ../../sass/core/main.scss */
h5 {
  font-size: 0.83em;
}

/* line 67, ../../sass/core/main.scss */
h6 {
  font-size: 0.67em;
}

/* line 71, ../../sass/core/main.scss */
a {
  color: #323131;
  text-decoration: none;
}

/* line 76, ../../sass/core/main.scss */
a:hover {
  color: #868484;
}

/* line 80, ../../sass/core/main.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 89, ../../sass/core/main.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 95, ../../sass/core/main.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 101, ../../sass/core/main.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 109, ../../sass/core/main.scss */
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

/* line 120, ../../sass/core/main.scss */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 127, ../../sass/core/main.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 132, ../../sass/core/main.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* LAYOUT STYLES
----------------------------------------- */
/* line 140, ../../sass/core/main.scss */
.component {
  clear: left;
  margin-bottom: 10px;
}

/* line 145, ../../sass/core/main.scss */
.component[class*="grid"] {
  clear: none;
}

/* line 149, ../../sass/core/main.scss */
.component[class*="grid"].alpha {
  clear: left;
}

/* line 153, ../../sass/core/main.scss */
.component-content {
  overflow: hidden;
  margin-bottom: 14px;
}

/* line 158, ../../sass/core/main.scss */
.component > .component-content {
  margin-bottom: 0;
}

/* ALERTS
-------------------------------------*/
/* line 165, ../../sass/core/main.scss */
.alert-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: disc;
}

/* line 172, ../../sass/core/main.scss */
.alert-list li {
  padding-left: 4px;
}

/* line 176, ../../sass/core/main.scss */
.alert {
  margin-bottom: 20px;
}

/* line 180, ../../sass/core/main.scss */
.alert-error {
  color: #8A0808;
}

/* UTILITIES
----------------------------------- */
/* line 187, ../../sass/core/main.scss */
.pull-right {
  float: right;
}

/* line 191, ../../sass/core/main.scss */
.pull-left {
  float: left;
}

/* line 195, ../../sass/core/main.scss */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
/* line 205, ../../sass/core/main.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
/* line 216, ../../sass/core/main.scss */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 226, ../../sass/core/main.scss */
.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
/* line 235, ../../sass/core/main.scss */
.clearfix {
  zoom: 1;
}
