@import '../core/_mixins';

.mejs-container {
    position: relative;
    background: #000;
    font-family: Helvetica, Arial;
    text-align: left;
    vertical-align: top;
    text-indent: 0;
}

.mejs-fullscreen {
    overflow: hidden !important;
}

.mejs-container-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1000;
}

.mejs-container-fullscreen .mejs-mediaelement,
.mejs-container-fullscreen{
    width: 100%;
    height: 100%;
}

/* Start: LAYERS */
.mejs-background {
    position: absolute;
    top: 0;
    left: 0;
}

.mejs-mediaelement,
.me-plugin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mejs-poster {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain ;
    background-position: 50% 50% ;
    background-repeat: no-repeat ;
}

.mejs-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

.mejs-overlay-play {
    cursor: pointer;
}

.mejs-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    background: none;
    &:before {
        @include font-awesome($fa-var-play);
        @include box-sizing(border-box);
        @include border-radius(50%);
        display: inline-block;
        font-size: 30px;
        width: 100%;
        height: 100%;
        border: 3px solid #3e3e3e;
        text-indent: 7px;
        background: #fff;
        text-align: center;
        line-height: 67px;
    }
}

.mejs-overlay:hover .mejs-overlay-button {
    background-position: 0 -100px;
}

.mejs-overlay-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: #333;
    background: url(../background.png);
    background: rgba(0, 0, 0, 0.9);
    @include background-image(linear-gradient(top, rgba(50, 50, 50, 0.9), rgba(0, 0, 0, 0.9)));
}

.mejs-overlay-loading span {
    display: block;
    width: 80px;
    height: 80px;
    background: transparent url(../../assets/img/loading.gif) center center no-repeat;
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
    position: absolute;
    background: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    background: url(../../assets/img/background.png);
    background: rgba(0, 0, 0, 0.7);
    @include background-image(linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7)));
    height: 30px;
    width: 100%;
}

.mejs-container .mejs-controls div {
    list-style-type: none;
    background-image: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    font-size: 11px;
    line-height: 11px;
    background: 0;
    border: 0;
}

.mejs-controls .mejs-button button {
    cursor: pointer;
    display: block;
    font-size: 0px;
    line-height: 0;
    text-decoration: none;
    margin: 7px 5px;
    padding: 0;
    position: absolute;
    height: 12px;
    width: 12px;
    border: 0;
}

/* End: CONTROL BAR */

/* Start: Time (current / duration) */
.mejs-container .mejs-controls .mejs-time {
    color: #fff;
    display: block;
    height: 17px;
    width: auto;
    padding: 8px 3px 0 3px;
    overflow: hidden;
    text-align: center;
    padding: auto 4px;
}

.mejs-container .mejs-controls .mejs-time span {
    font-size: 11px;
    color: #fff;
    line-height: 12px;
    display: block;
    float: left;
    margin: 1px 2px 0 0;
    width: auto;
}

/* End: Time (current / duration) */

/* Start: Play/pause */
.mejs-controls .mejs-play button {
    background-position: 0 0;
}

.mejs-controls .mejs-pause button {
    background-position: 0 -16px;
}

/* End: Play/pause */

/* Stop */
.mejs-controls .mejs-stop button {
    background-position: -112px 0;
}

/* End: Play/pause */

/* Start: Progress bar */
.mejs-controls div.mejs-time-rail {
    width: 200px;
    padding-top: 5px;
}

.mejs-controls .mejs-time-rail span {
    display: block;
    position: absolute;
    width: 180px;
    height: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
    margin: 5px;
    background: #333;
    background: rgba(50, 50, 50, 0.8);
    @include background-image(linear-gradient(top, rgba(30, 30, 30, 0.8), rgba(60, 60, 60, 0.8)));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#1E1E1E, endColorstr=#3C3C3C);
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #3caac8;
    background: rgba(60, 170, 200, 0.8);
    @include background-image(linear-gradient(top, rgba(44, 124, 145, 0.8), rgba(78, 183, 212, 0.8)));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#2C7C91, endColorstr=#4EB7D4);
    width: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    width: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    @include background-image(linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.8)));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#C8C8C8);
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
    display: none;
    position: absolute;
    margin: 0;
    width: 10px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px #333;
    top: -2px;
    text-align: center;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
    visibility: hidden;
    position: absolute;
    display: block;
    background: #eee;
    width: 36px;
    height: 17px;
    border: solid 1px #333;
    top: -26px;
    margin-left: -18px;
    text-align: center;
    color: #111;
}

.mejs-controls .mejs-time-rail:hover .mejs-time-float {
    visibility: visible;
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
    margin: 2px;
    width: 30px;
    display: block;
    text-align: center;
    left: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-float-corner {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border: solid 5px #eee;
    border-color: #eee transparent transparent transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: 15px;
    left: 13px;
}

/* End: Progress bar */

/* Start: Fullscreen */
.mejs-controls .mejs-fullscreen-button button {
    background-position: -32px 0;
}

.mejs-controls .mejs-unfullscreen button {
    background-position: -32px -16px;
}

/* End: Fullscreen */

.mejs-controls .mejs-mute button {
    background-position: -16px -16px;
}

.mejs-controls .mejs-unmute button {
    background-position: -16px 0;
}

.mejs-controls .mejs-volume-button {
    position: relative;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
    display: none;
    height: 115px;
    width: 25px;
    background: url(../../assets/img/background.png);
    background: rgba(50, 50, 50, 0.7);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    top: -115px;
    left: 0;
    z-index: 1;
    position: absolute;
    margin: 0;
}

.mejs-controls .mejs-volume-button:hover {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.mejs-controls .mejs-volume-button:hover .mejs-volume-slider {
    display: block;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    height: 100px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 2px;
    height: 100px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
    position: absolute;
    left: 4px;
    top: -3px;
    width: 16px;
    height: 6px;
    background: #ddd;
    background: rgba(255, 255, 255, 0.9);
    cursor: N-resize;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin: 0;
}

/* End: Mute/Volume */

/* Start: TRACK (Captions and Chapters) */
.mejs-controls .mejs-captions-button {
    position: relative;
}

.mejs-controls .mejs-captions-button button {
    background-position: -48px 0;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector {
    visibility: hidden;
    position: absolute;
    bottom: 26px;
    right: -10px;
    width: 130px;
    height: 100px;
    background: url(../../assets/img/background.png);
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    padding: 10px;
    overflow: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mejs-controls .mejs-captions-button:hover .mejs-captions-selector {
    visibility: visible;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none !important;
    overflow: hidden;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li {
    margin: 0 0 6px 0;
    padding: 0;
    list-style-type: none !important;
    display: block;
    color: #fff;
    overflow: hidden;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li input {
    clear: both;
    float: left;
    margin: 3px 3px 0px 5px;
}

.mejs-controls .mejs-captions-button .mejs-captions-selector ul li label {
    width: 100px;
    float: left;
    padding: 4px 0 0 0;
    line-height: 15px;
    font-size: 10px;
}

.mejs-controls .mejs-captions-button .mejs-captions-translations {
    font-size: 10px;
    margin: 0 0 5px 0;
}

.mejs-chapters {
    position: absolute;
    top: 0;
    left: 0;
    -xborder-right: solid 1px #fff;
    width: 10000px;
}

.mejs-chapters .mejs-chapter {
    position: absolute;
    float: left;
    background: #222;
    background: rgba(0, 0, 0, 0.7);
    @include background-image(linear-gradient(top, rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.7)));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232, endColorstr=#000000);
    overflow: hidden;
    border: 0;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block {
    font-size: 11px;
    color: #fff;
    padding: 5px;
    display: block;
    border-right: solid 1px #333;
    border-bottom: solid 1px #333;
    cursor: pointer;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block-last {
    border-right: none;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block:hover {
    /*background: #333;*/
    background: #666;
    background: rgba(102, 102, 102, 0.7);
    @include background-image(linear-gradient(top, rgba(102, 102, 102, 0.7), rgba(50, 50, 50, 0.6)));
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666, endColorstr=#323232);
}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-title {
    font-size: 12px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 3px 0;
    line-height: 12px;
}

.mejs-chapters .mejs-chapter .mejs-chapter-block .ch-timespan {
    font-size: 12px;
    line-height: 12px;
    margin: 3px 0 4px 0;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mejs-captions-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    /*font-weight: bold;*/
    line-height: 22px;
    font-size: 12px;
    color: #fff;
}

.mejs-captions-layer a {
    color: #fff;
    text-decoration: underline;
}

.mejs-captions-layer[lang=ar] {
    font-size: 20px;
    font-weight: normal;
}

.mejs-captions-position {
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;
}

.mejs-captions-position-hover {
    bottom: 45px;
}

.mejs-captions-text {
    padding: 3px 5px;
    background: url(../../assets/img/background.png);
    background: rgba(20, 20, 20, 0.8);
}

/* End: TRACK (Captions and Chapters) */
.mejs-clear {
    clear: both;
}

.me-cannotplay a {
    color: #fff;
    font-weight: bold;
}

.me-cannotplay span {
    padding: 15px;
    display: block;
}

/* End: ERROR */

.mejs-offscreen{
    /* Accessibility: hide screen reader texts (and prefer "top" for RTL languages). */
    position: absolute !important;
    top: -10000px;
    left: -10000px;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

.mejs-controls .mejs-time-rail span, .mejs-controls .mejs-time-rail a {
    display: block;
    position: absolute;
    width: 180px;
    height: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

/* Start: Loop */
.mejs-controls .mejs-loop-off button {
    background-position: -64px -16px;
}

.mejs-controls .mejs-loop-on button {
    background-position: -64px 0;
}

/* End: Loop */

/* Start: backlight */
.mejs-controls .mejs-backlight-off button {
    background-position: -80px -16px;
}

.mejs-controls .mejs-backlight-on button {
    background-position: -80px 0;
}

/* End: backlight */

/* Start: picture controls */
.mejs-controls .mejs-picturecontrols-button {
    background-position: -96px 0;
}

/* End: picture controls */

/* MEJS Zen garden skin */
.mejs-controls {
    display: block;
    visibility: visible;
}

.mejs-container .mejs-controls {
    z-index: 25;
    height: 47px;
    background: #d6d6d6;
    border-top: 2px solid #303030;
}

.mejs-container .mejs-controls .mejs-button {
    width: 20px;
    height: 20px;
    margin: 4px 6px;
}

.mejs-controls .mejs-button button {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: inherit;
    &:before {
        font-family: FontAwesome;
        font-style: normal;
        position: relative;
        font-weight: normal;
        display: block;
        font-size: 20px;
        color: #000;
        vertical-align: middle;
        @include font-smoothing(antialiased);
    }
}

.mejs-controls .mejs-playpause-button button {
    text-align: center;
    &:before {
        content: $fa-var-play;
    }
}

.mejs-controls .mejs-pause button {
    width: 15px;
    &:before {
        content: $fa-var-pause;
    }
}

.mejs-controls .mejs-fullscreen-button button {
    &:before {
        content: $fa-var-arrows-alt;
    }
}

.mejs-controls .mejs-share-button button {
    background-position: -2px -39px;
}

.mejs-controls .mejs-share-button button:hover {
    background-position: -2px -3px;
}

.mejs-controls .mejs-volume-button {
    margin: 4px 6px;
}

.mejs-controls .mejs-volume-button button {
    &:before {
        content: $fa-var-volume-off;
    }
}

.mejs-controls .mejs-mute button {
    &:before {
        content: $fa-var-volume-up;
    }
}

.mejs-controls .mejs-unmute button {
    &:before {
        content: $fa-var-volume-off;
    }
}

.mejs-controls .mejs-horizontal-volume-slider {
    background: url(../../assets/img/controls.png) 0 -83px no-repeat;
    display: block !important;
    width: 34px;
    height: 21px;
    margin-top: 12px;
    position: relative;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    width: 34px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: url(../../assets/img/controls.png) 0 -108px no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height: 21px;
}

.mejs-controls .mejs-volume-button .mejs-volume-handle {
    display: none;
}

.mejs-controls .mejs-time-rail {
    height: 20px;
    padding-top: 8px;
    margin-left: 2px;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
    height: 3px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background: #303030;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
    height: 6px;
    background-color: transparent;
    filter: none;
    background-image: none;
    display: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    height: 3px;
    background-color: #303030;
    filter: none;
    background-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-handle {
    background: #fff;
    border: 1px solid #303030;
    height: 14px;
    width: 14px;
    top: -6px;
    display: block;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.mejs-container .mejs-controls .mejs-time {
    width: 100px;
    margin: 15px 0 0 0;
    padding: 0;
    position: absolute;
    left: 8px;
    top: 12px;
}

.mejs-container .mejs-controls .mejs-time span {
    float: left;
    color: #303030;
    font-size: 14px;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
    z-index: 10;
}

.mejs-container-fullscreen {
    z-index: 10000 !important;
}

.mejs-overlay:hover .mejs-overlay-button {
    background-position: 0 0;
    opacity: 1;
}

.mejs-overlay-loading {
    background: url(../../assets/img/loader.gif) center center no-repeat;
}

.mejs-overlay-button {
    opacity: 0.7;
    height: 69px;
    left: 50%;
    margin: -35px 0 0 -36px;
    position: absolute;
    top: 50%;
    width: 73px;
}

.mejs-poster {
    pointer-events: none;
    background: none !important;
}

.mejs-poster img {
    width: auto !important;
    margin: 0 auto;
    display: block;
}

// IE9 only poster fix
// Show just background of poster, not an image
// Image is blocking pointer events
:root .mejs-poster img {
    display: none \0/IE9;
}

:root .mejs-poster {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}