@import '../../core/mixins';

.tabs {
    position: relative;
}

.tabs-heading {
    @include heading();
}

.tabMenuItem {
  margin-bottom: 0;
}

.no-js .tabs-nav {
    display: none;
}

.no-js .tabs-content {
    display: block !important;
    visibility: visible !important;
}

.no-js .tabs > .component-content {
   padding-top: 0;
}

.tabs-nav {
    position: relative;
    z-index: 150;
    top: 0;
    left: 0;
    height: 39px;
    overflow: hidden;
    width: 100%;
}

.tabs-nav-list {
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    width: 2000px;
}

.tabs-nav-switcher {
  position: absolute;
  height: 35px;
  width: 15px;
  border: 2px solid $borderColor;
  cursor: pointer;
  top: 0;
  background: $backgroundColor;
  &:before {
    @include font-awesome($fa-var-chevron-right);
    left: 50%;
    margin-left: -3px;
    padding: 7px 0;
    font-size: 12px;
  }
}

.tabs-nav-switcher-right {
  right: 0;
}

.tabs-nav-item {
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: $borderColor;
  font-weight: bold;
  font-size: 12px;
  display: inline;
  float: left;
  margin-left: 5px;
  background: $backgroundColor;
  padding: 7px 10px 7px 10px;
  cursor: pointer;
  height: 21px;
  top: 4px;
}

.tabs-nav-switcher-left {
  left: 0;
  &:before {
    content: $fa-var-chevron-left;
    margin-left: -4px;
  }
}

.tabs-nav-item:first-child {
    margin-left: 0;
}

.tabs-nav-item.is-active,
.tabs-nav-item.is-active a,
.tabs-nav-item.is-active:hover {
    cursor: default;
    background: $backgroundActiveColor;
}

.tabs-nav-item.is-active,
.tabs-nav-item.is-active:hover {
    border-bottom: none;
    padding-bottom: 9px;
}

.tabs-nav-item:hover {
    background: $backgroundHoverColor;
}

.tabs-nav-item:hover a {
    color: $textHoverColor;
    text-decoration: none;
}

.tabs-nav-item.is-active:hover a {
    color: $textColor;
}

.tabs-nav-item a {
    color: $textColor;
}

.tabs-content {
    position: relative;
    z-index: 100;
    top: -2px;
    @include innerspace();
    @include frame();
    background: $backgroundActiveColor;
    overflow: hidden;
}

.tabs-vertical .tabs-nav {
    height:auto;
    width: 60px;
}

.tabs-vertical .component-content{
  padding-top: 0;
}

.tabs-vertical .tabs-nav-list{
  width: 100%;
}

.tabs-vertical .tabs-nav-item.is-active, 
.tabs-vertical .tabs-nav-item.is-active:hover {
    border-bottom: 2px solid;
    border-right: medium;
    padding: 7px 12px 7px 10px;
}

.tabs-vertical .tabs-nav-item{
  border-width: 2px;
    height: auto;
    margin: 0 0 5px;
    width: 36px;
}

.tabs-vertical .tabs-content {
  margin-left: 60px;
  left:-2px;
  top:0;
}