/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/accordion/_accordion-base.scss */
.accordion-container {
  border: solid 2px #323131;
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion-slide {
  border-top: 2px solid black;
}

/* line 10, ../../sass/components/accordion/_accordion-base.scss */
.accordion-head {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding: 13px;
  background: #e1e1e1;
}

.accordion-title {
  display: inline-block;
  float: none;
}

.accordion-head-link {
  display: block;
}

/* line 18, ../../sass/components/accordion/_accordion-base.scss */
.accordion-slide:first-child {
  border-top: 0;
}

/* line 22, ../../sass/components/accordion/_accordion-base.scss */
.accordion-title {
  display: inline-block;
  margin: 0;
  float: none;
}

/* line 27, ../../sass/components/accordion/_accordion-base.scss */
.accordion-content {
  padding: 13px;
}

/* line 31, ../../sass/components/accordion/_accordion-base.scss */
.accordion-content-wrapper {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

/* line 39, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-slide .accordion-head:hover {
  color: white;
}
/* line 48, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-slide.is-active > .accordion-head {
  color: black;
}
/* line 52, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-content-wrapper {
  visibility: hidden;
  height: 0;
  position: relative;
  top: -999999px;
  left: -999999px;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 63, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-slide.is-active > .accordion-content-wrapper {
  visibility: visible;
  position: relative;
  top: auto;
  left: auto;
  height: auto;
}
/* line 71, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-slide.is-active:last-child > .accordion-content-wrapper {
  border-bottom: none;
}
/* line 75, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-head {
  cursor: pointer;
  position: relative;
}
/* line 79, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-head:after {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  font-size: 12px;
  right: 15px;
  margin-top: -10px;
}
/* line 88, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-slide.is-active > .accordion-head {
  cursor: pointer;
}

/* line 90, ../../sass/components/accordion/_accordion-base.scss */
.mod-js .accordion-slide.is-active > .accordion-head:after {
  content: "\f078";
}
