/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 4, ../../sass/components/articleList/_articleList-base.scss */
.articleList > .component-content {
  border: solid 2px #323131;
  padding: 13px;
  background-color: #e1e1e1;
}

/* line 11, ../../sass/components/articleList/_articleList-base.scss */
.articleList-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 15, ../../sass/components/articleList/_articleList-base.scss */
.articleList-date {
  margin-bottom: 10px;
  color: #868484;
}

/* line 20, ../../sass/components/articleList/_articleList-base.scss */
.articleList-article {
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 25, ../../sass/components/articleList/_articleList-base.scss */
.articleList-description {
  overflow: hidden;
}

/* line 29, ../../sass/components/articleList/_articleList-base.scss */
.articleList-title {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 33, ../../sass/components/articleList/_articleList-base.scss */
.articleList-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 39, ../../sass/components/articleList/_articleList-base.scss */
.articleList-thumbnail {
  max-width: 100px;
  float: left;
  margin-right: 15px;
}

/* line 45, ../../sass/components/articleList/_articleList-base.scss */
.articleList-more {
  float: right;
}
/* line 47, ../../sass/components/articleList/_articleList-base.scss */
.articleList-more:after {
  content: " \00bb";
  display: inline;
}

/* line 53, ../../sass/components/articleList/_articleList-base.scss */
.articleList-more-arrow {
  display: none;
}
/* line 55, ../../sass/components/articleList/_articleList-base.scss */
.no-generatedcontent .articleList-more-arrow {
  display: inline;
}

/* line 61, ../../sass/components/articleList/_articleList-base.scss */
.articleList-article-wrapper {
  margin: 0;
  padding: 0;
}

/* line 66, ../../sass/components/articleList/_articleList-base.scss */
.articleList-horizontal-2-columns .articleList-article,
.articleList-horizontal-3-columns .articleList-article {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

/* line 75, ../../sass/components/articleList/_articleList-base.scss */
.articleList-horizontal-2-columns .articleList-article {
  padding: 0;
  margin: 0;
  margin-right: 1.2%;
  width: 48%;
}

/* line 82, ../../sass/components/articleList/_articleList-base.scss */
.articleList-horizontal-3-columns .articleList-article {
  padding: 0;
  margin: 0;
  margin-right: 1.5%;
  width: 31%;
}

@media only screen and (max-width: 767px) {
  /* line 90, ../../sass/components/articleList/_articleList-base.scss */
  .articleList-thumbnail {
    float: none;
    margin: auto;
    display: block;
  }

  /* line 98, ../../sass/components/articleList/_articleList-base.scss */
  .articleList-horizontal-2-columns .articleList-article,
  .articleList-horizontal-3-columns .articleList-article {
    display: block;
    width: 100%;
  }
}
/* line 105, ../../sass/components/articleList/_articleList-base.scss */
.articleList-tags {
  list-style-type: none;
  padding: 0;
  margin: -20px 0 0 0;
}

/* line 111, ../../sass/components/articleList/_articleList-base.scss */
.articleList-tags-item {
  display: inline-block;
  margin: 0 2px;
}

/* line 116, ../../sass/components/articleList/_articleList-base.scss */
.articleList-tags-item-link {
  background: #b9b8b8;
  color: black;
  border: 1px solid #939191;
  padding: 1px;
  display: block;
  font-size: 0.85em;
}
