/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs {
  margin: 10px 0;
}

/* line 7, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 14, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs-list li {
  float: left;
  margin-right: 6px;
}

/* line 19, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs-separator {
  margin: 0 10px;
}

/* line 23, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs-without-separator .breadcrumbs-separator {
  display: none;
}
/* line 26, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs-without-separator li {
  padding-right: 15px;
  margin-right: 9px;
  position: relative;
}
/* line 30, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs-without-separator li:before {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 8px;
}
/* line 38, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs-without-separator li:last-child {
  background-image: none;
}
/* line 40, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
.breadcrumbs-without-separator li:last-child:before {
  display: none;
}

@media only screen and (max-width: 767px) {
  /* line 47, ../../sass/components/breadcrumbs/_breadcrumbs-base.scss */
  .breadcrumbs-list li {
    float: none;
  }
}
