/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 4, ../../sass/components/carousel/_carousel-base.scss */
.carousel > .component-content {
  position: relative;
  border: solid 2px #323131;
  background-color: #e1e1e1;
  padding: 15px 60px;
}

/* line 12, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slides {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* line 20, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide {
  clear: both;
  position: absolute;
  width: 100%;
}

/* line 26, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide .no-content,
.carousel-slide .no-image {
  text-align: center;
}

/* line 31, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide.is-active {
  display: block;
  position: relative;
}

/* line 36, ../../sass/components/carousel/_carousel-base.scss */
.carousel-cover {
  max-width: 50%;
  height: auto;
  float: right;
}

/* line 42, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide .image-and-content {
  overflow: hidden;
}

/* line 46, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide .no-content .carousel-cover {
  float: none;
  max-width: 100%;
}

/* line 51, ../../sass/components/carousel/_carousel-base.scss */
.carousel-slide .no-image .carousel-content {
  float: none;
  max-width: 100%;
}

/* line 56, ../../sass/components/carousel/_carousel-base.scss */
.carousel-content {
  max-width: 48%;
  float: left;
  text-align: left;
  -moz-transition-property: margin;
  -o-transition-property: margin;
  -webkit-transition-property: margin;
  transition-property: margin;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 100%;
}

/* line 66, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav {
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
  padding: 0;
}

/* line 73, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav li {
  display: inline-block;
  margin: 0 3px;
}

/* line 79, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav a {
  display: inline-block;
  border: 2px solid #656363;
  width: 10px;
  height: 10px;
  font-size: 0;
  color: transparent;
}

/* line 88, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav li.is-active a {
  background: #939191;
}

/* line 92, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev,
.carousel-nav-next {
  position: absolute;
  top: 50%;
  border: none;
  width: 19px;
  height: 31px;
}

/* line 101, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev a,
.carousel-nav-next a {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 109, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev {
  left: 10px;
}
/* line 111, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev a:before {
  content: "\f053";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  color: #939191;
}
/* line 116, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-prev a:hover:before {
  color: #323131;
}

/* line 122, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-next {
  right: 10px;
}
/* line 124, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-next a:before {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  color: #939191;
}
/* line 129, ../../sass/components/carousel/_carousel-base.scss */
.carousel-nav-next a:hover:before {
  color: #323131;
}

/* line 135, ../../sass/components/carousel/_carousel-base.scss */
.no-js .carousel .carousel-slide:first-child {
  margin-top: 0;
  border-top: none;
}
/* line 139, ../../sass/components/carousel/_carousel-base.scss */
.no-js .carousel .carousel-slide {
  position: static;
}
/* line 142, ../../sass/components/carousel/_carousel-base.scss */
.no-js .carousel .carousel-nav li {
  display: none;
}

/* line 150, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav li {
  display: inline;
  zoom: 1;
}
/* line 154, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav li.is-active a {
  background: #939191;
}
/* line 157, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav .carousel-nav-prev, .lt-ie8 .carousel-nav .carousel-nav-next {
  width: 19px;
  height: 31px;
}
/* line 160, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav .carousel-nav-prev a, .lt-ie8 .carousel-nav .carousel-nav-next a {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 167, ../../sass/components/carousel/_carousel-base.scss */
.lt-ie8 .carousel-nav a {
  display: block;
  zoom: 1;
  border: 2px solid #656363;
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 767px) {
  /* line 177, ../../sass/components/carousel/_carousel-base.scss */
  .carousel-cover {
    max-width: 100%;
    float: none;
    margin: auto;
    display: block;
  }

  /* line 183, ../../sass/components/carousel/_carousel-base.scss */
  .carousel-content {
    max-width: 100%;
    float: none;
  }

  /* line 188, ../../sass/components/carousel/_carousel-base.scss */
  .carousel-nav li {
    display: none;
  }
  /* line 191, ../../sass/components/carousel/_carousel-base.scss */
  .carousel-nav .carousel-nav-prev,
  .carousel-nav .carousel-nav-next {
    display: block;
  }
}
