/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 4, ../../sass/components/flash/_flash-base.scss */
.flash > .component-content {
  text-align: center;
}

/* line 9, ../../sass/components/flash/_flash-base.scss */
.flash object {
  max-width: 100%;
}

/* Flash is not installed */
/* line 14, ../../sass/components/flash/_flash-base.scss */
.flash-missing {
  margin: 0 auto;
}

/* line 18, ../../sass/components/flash/_flash-base.scss */
.flash .seoDescription {
  display: none;
}
