/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 4, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery > .component-content {
  border: solid 2px #323131;
  padding: 13px;
  background-color: #e1e1e1;
}

/* line 11, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 15, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-view {
  border: solid 2px #323131;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: white;
}

/* line 24, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-view img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 31, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-description {
  margin: 10px 0;
}

/* line 35, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnails {
  position: relative;
  margin: 20px 0;
}

/* line 40, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-list {
  overflow: hidden;
  margin: 0 50px;
  position: relative;
}

/* line 46, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow,
.imageGallery-arrow.is-disabled:hover {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  width: 35px;
  height: 60px;
  font: 0/0 serif;
  color: transparent;
}
/* line 58, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow:before,
.imageGallery-arrow.is-disabled:hover:before {
  position: absolute;
  top: 50%;
  color: #AAA;
}

/* line 65, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow:hover:before {
  color: #888;
}

/* line 69, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-description {
  margin: 15px 0;
}

/* line 73, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow.is-disabled {
  opacity: 0.5;
}

/* line 77, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow {
  text-align: center;
}

/* line 81, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow-left,
.imageGallery-arrow-left.is-disabled:hover {
  left: 0;
}
/* line 84, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow-left:before,
.imageGallery-arrow-left.is-disabled:hover:before {
  content: "\f053";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

/* line 90, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow-right,
.imageGallery-arrow-right.is-disabled:hover {
  right: 0;
}
/* line 93, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-arrow-right:before,
.imageGallery-arrow-right.is-disabled:hover:before {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

/* line 99, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-list-inner {
  overflow: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 4000px;
}

/* line 111, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: block;
  border: solid 4px #323131;
  opacity: .7;
  filter: alpha(opacity=70);
  -moz-transition: opacity .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
}

/* line 130, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail:hover,
.imageGallery-thumbnail.is-active {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 136, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail-cover {
  display: block;
  max-width: none;
}

/* line 141, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail-title {
  display: block;
  margin: 10px auto 0 auto;
  font-size: 11px;
  width: 71px;
}

/* line 148, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery .thumbnails-list li:hover .image,
.imageGallery .thumbnails-list li.active .image {
  border: solid 4px #323131;
  margin: 0;
}

/* line 154, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail-image {
  margin: 2px;
  border: solid 2px #323131;
  position: relative;
}

/* line 160, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail-overlay {
  opacity: 0.7;
  height: 28px;
  left: 50%;
  margin: -14px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 30px;
  cursor: pointer;
}
/* line 169, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail-overlay:before {
  content: "\f04b";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 15px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #3e3e3e;
  text-indent: 7px;
  background: #fff;
  text-align: center;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 188, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail.is-active .imageGallery-thumbnail-overlay {
  opacity: 0;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 197, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail a {
  display: block;
}

/* line 201, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-thumbnail-image img {
  display: block;
  width: 63px;
  height: 52px;
  margin: 0 auto;
}

/* line 208, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-view {
  cursor: pointer;
}

/* line 212, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-view-overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 73px;
  height: 69px;
  margin: -34px 0 0 -36px;
  cursor: pointer;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}
/* line 226, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-view-overlay:before {
  content: "\f04b";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  font-size: 30px;
  width: 100%;
  height: 100%;
  border: 3px solid #3e3e3e;
  text-indent: 5px;
  background: #fff;
  text-align: center;
  line-height: 65px;
}

/* line 243, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery.is-playing .imageGallery-view-overlay:before {
  content: "\f04c";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px;
}

/* line 249, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery .gallery-play {
  color: #323131;
}

/* line 253, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-view:hover .imageGallery-view-overlay {
  opacity: 0.7;
}

/* line 257, ../../sass/components/imageGallery/_imageGallery-base.scss */
.imageGallery-view .imageGallery-view-overlay:hover {
  opacity: 1;
  text-decoration: none;
}

/* line 263, ../../sass/components/imageGallery/_imageGallery-base.scss */
.mod-js .imageGallery-thumbnail {
  padding: 0;
}
/* line 267, ../../sass/components/imageGallery/_imageGallery-base.scss */
.mod-js .imageGallery-thumbnails {
  position: relative;
}

/*no js view*/
/* line 273, ../../sass/components/imageGallery/_imageGallery-base.scss */
.no-js .imageGallery-view {
  display: none;
}

/* line 277, ../../sass/components/imageGallery/_imageGallery-base.scss */
.no-js .imageGallery-list {
  margin: 0;
}

/* line 281, ../../sass/components/imageGallery/_imageGallery-base.scss */
.no-js .imageGallery-thumbnail img {
  width: auto;
  height: auto;
}

/* line 286, ../../sass/components/imageGallery/_imageGallery-base.scss */
.no-js .imageGallery-thumbnail {
  border: 0;
  opacity: 1;
  float: none;
  overflow: hidden;
}

/* line 293, ../../sass/components/imageGallery/_imageGallery-base.scss */
.no-js .imageGallery-thumbnail a:after {
  content: attr(data-description);
  display: block;
  padding: 10px 0 30px;
  text-align: left;
}

/* line 300, ../../sass/components/imageGallery/_imageGallery-base.scss */
.no-js .imageGallery-arrow {
  display: none;
}
