/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/richText/_richText-base.scss */
.richText .component-content {
  overflow: hidden;
}

/* line 7, ../../sass/components/richText/_richText-base.scss */
.richText h1,
.richText h2,
.richText h3,
.richText h4,
.richText h5,
.richText h6 {
  margin-top: 0;
}

/* line 16, ../../sass/components/richText/_richText-base.scss */
.richText a {
  text-decoration: underline;
}

/* line 20, ../../sass/components/richText/_richText-base.scss */
.richText ul,
.richText ol {
  padding: 10px 0;
  margin-left: 10px;
}

/* line 26, ../../sass/components/richText/_richText-base.scss */
.richText li {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 10px;
  list-style-type: none;
}

/* line 33, ../../sass/components/richText/_richText-base.scss */
.richText ul li {
  margin-left: 0;
  padding-left: 15px;
  position: relative;
}
/* line 37, ../../sass/components/richText/_richText-base.scss */
.richText ul li:before {
  content: "\f0da";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  top: 1px;
  position: absolute;
}

/* line 45, ../../sass/components/richText/_richText-base.scss */
.richText ol li {
  list-style: decimal;
}

/* line 49, ../../sass/components/richText/_richText-base.scss */
.richText-links {
  font-size: 10px;
}

/* line 53, ../../sass/components/richText/_richText-base.scss */
.richText .richText-links li {
  background: none;
  display: inline;
  list-style: none;
  padding-left: 0;
}

/* line 60, ../../sass/components/richText/_richText-base.scss */
.richText-links li a {
  padding-right: 5px;
  border-right: solid 1px #b9b8b8;
  margin-right: 5px;
}

/* line 66, ../../sass/components/richText/_richText-base.scss */
.richText-links li:last-child a {
  border-right: 0 none;
  margin-right: 0;
  padding-right: 0;
}

/* line 72, ../../sass/components/richText/_richText-base.scss */
.richText-image {
  display: block;
  margin-bottom: 10px;
}

/* line 77, ../../sass/components/richText/_richText-base.scss */
.richText-image.pull-left {
  margin: 5px 15px 5px 10px;
  float: left;
}

/* line 82, ../../sass/components/richText/_richText-base.scss */
.richText-image.pull-right {
  margin: 5px 10px 5px 15px;
  float: right;
}
