/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column {
  float: left;
}
/* line 5, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column > ul {
  margin: 0 5px;
}

/* line 10, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-1 .sitemap-column {
  width: 100%;
}

/* line 14, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-2 .sitemap-column {
  width: 50%;
}

/* line 18, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-3 .sitemap-column {
  width: 33.32%;
}

/* line 22, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-4 .sitemap-column {
  width: 25%;
}

/* line 26, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-5 .sitemap-column {
  width: 20%;
}

/* line 30, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-6 .sitemap-column {
  width: 16.64%;
}

/* line 34, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-7 .sitemap-column {
  width: 14.25%;
}

/* line 38, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-8 .sitemap-column {
  width: 12.49%;
}

/* line 42, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-9 .sitemap-column {
  width: 11.10%;
}

/* line 46, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-10 .sitemap-column {
  width: 10%;
}

/* line 50, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-11 .sitemap-column {
  width: 9.08%;
}

/* line 54, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-columns-12 .sitemap-column {
  width: 8.32%;
}

/* line 60, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column ul {
  list-style: none;
  padding: 0;
}
/* line 65, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column a {
  text-decoration: none;
}
/* line 69, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column .component-content {
  overflow: hidden;
}
/* line 73, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column h3 {
  background-color: #e1e1e1;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
}
/* line 80, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column ul {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 85, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column ul ul {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 10px;
}
/* line 92, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column ul ul li {
  font-weight: bold;
  padding-left: 12px;
  line-height: 150%;
  position: relative;
}
/* line 97, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column ul ul li:before {
  content: "\f0da";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  top: 1px;
  position: absolute;
}
/* line 105, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column ul ul ul {
  margin-top: 0;
}
/* line 109, ../../sass/components/sitemap/_sitemap-base.scss */
.sitemap-column ul ul ul li {
  font-weight: normal;
  margin-left: 10px;
}

/*************************** Sitemap media queries */
@media only screen and (max-width: 767px) {
  /* line 119, ../../sass/components/sitemap/_sitemap-base.scss */
  .component-content .sitemap-column {
    width: 100%;
    float: none;
  }

  /* line 124, ../../sass/components/sitemap/_sitemap-base.scss */
  .component-content .sitemap-column > ul {
    margin: 0 0 15px;
  }
}
