/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/table/_table-base.scss */
body.table-popup {
  background-color: #FFF;
  line-height: 1.5;
}

/* line 8, ../../sass/components/table/_table-base.scss */
.table-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 12, ../../sass/components/table/_table-base.scss */
.table-caption {
  border: solid 2px #323131;
  padding: 13px;
  background-color: #e1e1e1;
  border-bottom: none;
}

/* line 19, ../../sass/components/table/_table-base.scss */
.table-popup .table-caption {
  border: 1px solid #656363;
  background-color: #f3f3f3;
}

/* line 24, ../../sass/components/table/_table-base.scss */
.table th {
  background-color: #e1e1e1;
  font-weight: bold;
  text-align: center;
}

/* line 30, ../../sass/components/table/_table-base.scss */
.table-popup .table th {
  background-color: #f3f3f3;
}

/* line 34, ../../sass/components/table/_table-base.scss */
.table table {
  border-collapse: collapse;
  width: 100%;
  border: solid 2px #323131;
}

/* line 40, ../../sass/components/table/_table-base.scss */
.table-popup .table table {
  border: 1px solid #656363;
}

/* line 44, ../../sass/components/table/_table-base.scss */
.table th,
.table td {
  border: solid 2px #323131;
  padding: 5px;
}

/* line 50, ../../sass/components/table/_table-base.scss */
.table-popup .table th,
.table-popup .table td {
  border: 1px solid #656363;
  line-height: 1.5;
}

/* line 56, ../../sass/components/table/_table-base.scss */
.table td {
  vertical-align: middle;
}

/* line 60, ../../sass/components/table/_table-base.scss */
.table .button {
  display: none;
}

/* line 64, ../../sass/components/table/_table-base.scss */
.table .table-caption .button {
  display: block;
  margin: 10px 0 0 5px;
}

/* line 70, ../../sass/components/table/_table-base.scss */
.no-js .table .button {
  display: none;
}

/* line 77, ../../sass/components/table/_table-base.scss */
.lt-ie8 .table-popup .table {
  position: static;
}

@media only screen and (max-width: 767px) {
  /* line 85, ../../sass/components/table/_table-base.scss */
  .table .component-content .button {
    display: block;
    margin: 20px;
  }

  /* line 90, ../../sass/components/table/_table-base.scss */
  .table .component-content .table-caption .button {
    display: none;
  }
}
