/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/tabs/_tabs-base.scss */
.tabs {
  position: relative;
}

/* line 7, ../../sass/components/tabs/_tabs-base.scss */
.tabs-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 11, ../../sass/components/tabs/_tabs-base.scss */
.no-js .tabs-nav {
  display: none;
}

/* line 15, ../../sass/components/tabs/_tabs-base.scss */
.no-js .tabs-content {
  display: block !important;
  visibility: visible !important;
}

/* line 20, ../../sass/components/tabs/_tabs-base.scss */
.no-js .tabs > .component-content {
  padding-top: 0;
}

/* line 24, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav {
  position: relative;
  z-index: 150;
  top: 0;
  left: 0;
  height: 39px;
  overflow: hidden;
  width: 100%;
}

/* line 34, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-list {
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  width: 2000px;
}

/* line 44, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-switcher {
  position: absolute;
  height: 35px;
  width: 15px;
  border: 2px solid #323131;
  cursor: pointer;
  top: 0;
  background: #e1e1e1;
}
/* line 52, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-switcher:before {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 50%;
  margin-left: -3px;
  padding: 7px 0;
  font-size: 12px;
}

/* line 61, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-switcher-right {
  right: 0;
}

/* line 65, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-item {
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #323131;
  font-weight: bold;
  font-size: 12px;
  display: inline;
  float: left;
  margin-left: 5px;
  background: #e1e1e1;
  padding: 7px 10px 7px 10px;
  cursor: pointer;
  height: 21px;
  top: 4px;
}

/* line 81, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-switcher-left {
  left: 0;
}
/* line 83, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-switcher-left:before {
  content: "\f053";
  margin-left: -4px;
}

/* line 89, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-item:first-child {
  margin-left: 0;
}

/* line 93, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-item.is-active,
.tabs-nav-item.is-active a,
.tabs-nav-item.is-active:hover {
  cursor: default;
  background: white;
}

/* line 100, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-item.is-active,
.tabs-nav-item.is-active:hover {
  border-bottom: none;
  padding-bottom: 9px;
}

/* line 106, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-item:hover {
  background: #939191;
}

/* line 110, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-item:hover a {
  color: white;
  text-decoration: none;
}

/* line 115, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-item.is-active:hover a {
  color: #323131;
}

/* line 119, ../../sass/components/tabs/_tabs-base.scss */
.tabs-nav-item a {
  color: #323131;
}

/* line 123, ../../sass/components/tabs/_tabs-base.scss */
.tabs-content {
  position: relative;
  z-index: 100;
  top: -2px;
  padding: 13px;
  border: solid 2px #323131;
  background: white;
  overflow: hidden;
}

/* line 132, ../../sass/components/tabs/_tabs-base.scss */
.tabs-vertical .tabs-nav {
  height: auto;
  width: 60px;
}

/* line 137, ../../sass/components/tabs/_tabs-base.scss */
.tabs-vertical .component-content {
  padding-top: 0;
}

/* line 141, ../../sass/components/tabs/_tabs-base.scss */
.tabs-vertical .tabs-nav-list {
  width: 100%;
}

/* line 145, ../../sass/components/tabs/_tabs-base.scss */
.tabs-vertical .tabs-nav-item.is-active,
.tabs-vertical .tabs-nav-item.is-active:hover {
  border-bottom: 2px solid;
  border-right: medium;
  padding: 7px 12px 7px 10px;
}

/* line 152, ../../sass/components/tabs/_tabs-base.scss */
.tabs-vertical .tabs-nav-item {
  border-width: 2px;
  height: auto;
  margin: 0 0 5px;
  width: 36px;
}

/* line 159, ../../sass/components/tabs/_tabs-base.scss */
.tabs-vertical .tabs-content {
  margin-left: 60px;
  left: -2px;
  top: 0;
}
