/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/*rename this to feed-provider*/
/* line 5, ../../sass/components/twitter/_twitter-base.scss */
.twitter > .component-content {
  border: solid 2px #323131;
  padding: 13px;
  background-color: #e1e1e1;
}

/* line 12, ../../sass/components/twitter/_twitter-base.scss */
.feed-provider-heading {
  display: inline-block;
  margin: 0 0 0 20px;
  line-height: 30px;
}

/* line 18, ../../sass/components/twitter/_twitter-base.scss */
.feed-provider-description {
  border-bottom: 1px solid #000;
  margin: 10px 0;
  padding: 10px 0;
}

/* line 24, ../../sass/components/twitter/_twitter-base.scss */
.feed-provider-heading-image {
  float: left;
  width: 30px;
  height: 30px;
}

/* line 30, ../../sass/components/twitter/_twitter-base.scss */
.feed-provider-feeds {
  padding: 0;
  margin: 0;
}

/*twitter template*/
/* line 39, ../../sass/components/twitter/_twitter-base.scss */
.twitter-feed {
  list-style-type: none;
  padding-left: 55px;
  margin: 10px 0;
  display: block;
  position: relative;
}
/* line 166, ../../sass/core/_mixins.scss */
.twitter-feed:before, .twitter-feed:after {
  content: "";
  display: table;
}
/* line 172, ../../sass/core/_mixins.scss */
.twitter-feed:after {
  clear: both;
}

/* line 48, ../../sass/components/twitter/_twitter-base.scss */
.twitter-content a:hover strong {
  text-decoration: underline;
}

/* line 52, ../../sass/components/twitter/_twitter-base.scss */
.twitter-sender-avatar {
  position: absolute;
  top: 3px;
  left: 0;
}

/* line 58, ../../sass/components/twitter/_twitter-base.scss */
.twitter-date {
  float: right;
}

/* line 62, ../../sass/components/twitter/_twitter-base.scss */
.twitter-actions {
  padding: 0;
  margin: 0;
  float: right;
}

/* line 68, ../../sass/components/twitter/_twitter-base.scss */
.twitter-action {
  list-style-type: none;
  display: inline;
}
