/* COLOR NAMES
----------------------------------------- */
/*theme colors*/
/*hard-coded colors*/
/* FUNCTIONAL COLORS
----------------------------------------- */
/*border colors*/
/*text colors*/
/*background colors*/
/*gradient colors*/
/* line 3, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-heading {
  display: block;
  color: #323131;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 7, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-video {
  border: 2px solid #323131;
}

/* line 11, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-video object,
.videoGallery-video embed {
  width: 100% !important;
}

/* line 16, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-thumbnails {
  position: relative;
  margin-top: 18px;
}

/* line 21, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-list {
  overflow: hidden;
  margin: 0 50px;
  position: relative;
}

/* line 27, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-arrow,
.videoGallery-arrow.is-disabled:hover {
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 35px;
  height: 60px;
  background-position: 50%;
  background-repeat: no-repeat;
  font: 0/0 serif;
}
/* line 38, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-arrow:before,
.videoGallery-arrow.is-disabled:hover:before {
  position: absolute;
  top: 50%;
  color: #aaa;
}

/* line 45, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-arrow:hover:before {
  color: #888;
}

/* line 49, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-description {
  margin: 15px 0;
}

/* line 53, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-arrow.is-disabled {
  opacity: 0.5;
}

/* line 57, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-arrow-left,
.videoGallery-arrow-left.is-disabled:hover {
  left: 0;
}
/* line 60, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-arrow-left:before,
.videoGallery-arrow-left.is-disabled:hover:before {
  content: "\f053";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

/* line 66, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-arrow-right,
.videoGallery-arrow-right.is-disabled:hover {
  right: 0;
  text-align: right;
}
/* line 70, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-arrow-right:before,
.videoGallery-arrow-right.is-disabled:hover:before {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

/* line 76, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-list-inner {
  overflow: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 87, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-thumbnail {
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: inline;
  max-width: 100px;
}

/* line 99, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-thumbnail-title {
  display: block;
  margin: 10px auto 0 auto;
  font-size: 11px;
  width: 71px;
}

/* line 106, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery .thumbnails-list li:hover .image,
.videoGallery .thumbnails-list li.active .image {
  border: solid 4px #323131;
  margin: 0;
}

/* line 112, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-thumbnail-image {
  margin: 2px;
  border: solid 2px #323131;
  position: relative;
}

/* line 118, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-thumbnail-overlay {
  opacity: 0.7;
  height: 28px;
  left: 50%;
  margin: -14px 0 0 -15px;
  position: absolute;
  top: 50%;
  width: 30px;
}
/* line 126, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-thumbnail-overlay:before {
  content: "\f04b";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  position: relative;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  font-size: 15px;
  width: 100%;
  height: 100%;
  border: 3px solid #3e3e3e;
  text-indent: 5px;
  background: #fff;
  text-align: center;
  line-height: 24px;
}

/* line 142, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-thumbnail.is-active .videoGallery-thumbnail-overlay {
  opacity: 0;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

/* line 152, ../../sass/components/videoGallery/_videoGallery-base.scss */
.videoGallery-thumbnail-image img {
  display: block;
  margin: 0 auto;
}

/* line 158, ../../sass/components/videoGallery/_videoGallery-base.scss */
.mod-js .videoGallery-nojs {
  display: none;
}
