/* IE7 Specific Styles */
/* line 3, ../../sass/utils/ie7.scss */
#wrapper, #header, #content, #footer,
#topContent, #pageContent, #bottomContent,
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6,
.grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  zoom: 1;
}

/* line 11, ../../sass/utils/ie7.scss */
html, body, #wrapper {
  /*height: 100%;*/
  line-height: normal;
}

/* line 16, ../../sass/utils/ie7.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Lightbox */
/* line 19, ../../sass/utils/ie7.scss */
.lightboxOverlay {
  background-image: url(../../assets/img/white.gif);
}

/* lightbox */
/* line 24, ../../sass/utils/ie7.scss */
.lbClose {
  background-image: url("../../assets/img/lb-close.png");
}

/* line 28, ../../sass/utils/ie7.scss */
.lightboxContainer {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#d2d2d2')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#d2d2d2');
  zoom: 1;
}

/* line 34, ../../sass/utils/ie7.scss */
.sitemap-columns-3 .sitemap-column {
  width: 33%;
}

/* line 38, ../../sass/utils/ie7.scss */
.sitemap-columns-6 .sitemap-column {
  width: 16.6%;
}

/* line 42, ../../sass/utils/ie7.scss */
.sitemap-columns-7 .sitemap-column {
  width: 14.1%;
}

/* line 46, ../../sass/utils/ie7.scss */
.sitemap-columns-8 .sitemap-column {
  width: 12.49%;
}

/* line 50, ../../sass/utils/ie7.scss */
.sitemap-columns-9 .sitemap-column {
  width: 11%;
}

/* line 54, ../../sass/utils/ie7.scss */
.sitemap-columns-10 .sitemap-column {
  width: 10%;
}

/* line 58, ../../sass/utils/ie7.scss */
.sitemap-columns-11 .sitemap-column {
  width: 9%;
}

/* line 62, ../../sass/utils/ie7.scss */
.sitemap-columns-12 .sitemap-column {
  width: 8.2%;
}
