@import '../../core/mixins';

.breadcrumbs {
  margin: 10px 0;
}

.breadcrumbs-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list li {
  display: inline-block;
  margin-right: 6px;

  a:hover,
  a:active {
    text-decoration: none;
  }
}

.breadcrumbs-separator {
  margin: 0 10px;
}
.breadcrumbs-without-separator {
  .breadcrumbs-separator {
    display: none;
  }

  li {
    padding-right: 15px;
    margin-right: 9px;
    position: relative;

    &:before {
      @include font-awesome($fa-var-chevron-right);
      font-size: .8rem;
      position:absolute;
      top: 5px;
      right: 0;
    }
  }

  li:last-child {
    background-image: none;

    &:before {
      display: none;
    }
  }
}