.carousel {
  height: 300px;
  overflow: hidden;

  > .component-content {
    position: relative;
    overflow: hidden;
  }

  .image {
    margin-bottom: 0;
  }

  figcaption {
    width: 70%;
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include respond-to(tablet-portrait) {
      transform: translateY(-50%);
      top: 50%;
    }

    .text-highlight {
      background: $body-bg;
      padding: 5px;
    }
  }
}

.carousel-slides {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.carousel-slide {
  clear: both;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
}

.carousel-slide.is-active {
  display: block;
  position: relative;
}

.carousel-cover {
  max-width: 50%;
  height: auto;
  float: right;
}

.carousel-slide .no-content .carousel-cover {
  float: none;
  max-width: 100%;
}

.carousel-nav {
  text-align: center;
  margin: 15px 0 0;
  padding: 0;
}

.carousel-nav li,
.carousel-nav a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.carousel-nav-item {
  position: relative;

  a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #000;
    background: $body-bg;

    &:hover {
      background: $link-hover-color;
    }
  }

  &.is-active a {
    background: $black;
  }
}

.carouselSlide {
  margin-bottom: 0;
  height: 100%;
  overflow: hidden;
}

.carousel-nav-prev,
.carousel-nav-next {
  @include frame;
  background: $body-bg;

  &:hover {
    background: $link-hover-color;
  }

  a {
    color: $black;
    height: 40px;
    width: 40px;
  }

  a:before {
    font-size: 4.8rem;
    line-height: 40px;
  }
}

.carousel-nav-prev {
  margin-right: 8px;

  a:before {
    @include font-awesome($fa-var-caret-left);
    left: -2px;
  }
}

.carousel-nav-next {
  margin-left: 8px;

  a:before {
    @include font-awesome($fa-var-caret-right);
    right: -2px;
  }
}

.image-and-content {
  .carousel-content {
    width: 48%;
    float: left;
  }
}

.no-js {
  .carousel .carousel-slide:first-child {
    margin-top: 0;
    border-top: none;
  }
  .carousel .carousel-slide {
    position: static;
  }
  .carousel .carousel-nav li {
    display: none;
  }
}

@include respond-to(mobile) {
  .carousel-cover {
    max-width: 100%;
    float: none;
    margin: auto;
    display: block;
  }
  .carousel-content {
    max-width: 100%;
    float: none;
  }
  .carousel-nav {
    li {
      display: none;
    }
    .carousel-nav-prev,
    .carousel-nav-next {
      display: block;
    }
  }
}
