.carousel-side-arrows {
  img {
    max-width: none;
  }

  .carousel-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .carousel-nav-item {
    display: none;
    z-index: $zindex-carousel-nav;
  }

  .carousel-nav-prev,
  .carousel-nav-next {
    position: absolute;
    top: 50%;
    z-index: $zindex-carousel-nav;
    margin-top: -20px;
  }

  .carousel-nav-prev {
    left: 0;
  }

  .carousel-nav-next {
    right: 0;
  }
}