@import 'mixins';

.highlight-top {
  border-image: url('../../assets/img/border.png') 5 stretch stretch;
  border-top: 3px solid $black !important;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.highlight-right {
  border-image: url('../../assets/img/border.png') 5 stretch stretch;
  border-right: 3px solid $black !important;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
}

.highlight-left {
  border-image: url('../../assets/img/border.png') 5 stretch stretch;
  border-left: 3px solid $black !important;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
}

.highlight-bottom {
  border-image: url('../../assets/img/border.png') 5 stretch stretch;
  border-bottom: 3px solid $black !important;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.bg-info,
.bg-primary,
.bg-secondary {
  padding: 20px 30px;
  background: $gray;

  .text-highlight {
    background: $body-bg;
  }
}

.text-highlight {
  background: $gray;
  display: inline-block;
  padding: 0 3px;
}

.btn,
.btn-primary {
  @include frame;
  display: inline-block;
  text-decoration: none !important;
  background: $body-bg;
  letter-spacing: 0;
  font-weight: bold;
  padding: 7px 15px;
  outline: none;
  box-shadow: 3px 3px 0 #000;
  color: $black;

  &:hover {
    color: $black;
    background: lighten($blue, 20%);
  }
}

.btn + .btn {
  margin-left: 10px;

  @include respond-to(phone) {
    margin-left: 0;
    margin-top: 10px;
  }
}