@font-face {
  font-family: 'Balsamiq Sans Regular';
  src: url('../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.eot');
  src: url('../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.woff') format('woff'),
  url('../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.ttf') format('truetype'),
  url('../../assets/fonts/BalsamiqSansRegular/BalsamiqSansRgular-webfont.svg#BalsamicSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Balsamiq Sans Bold';
  src: url('../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.eot');
  src: url('../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.woff') format('woff'),
  url('../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.ttf') format('truetype'),
  url('../../assets/fonts/BalsamiqSansBold/BalsamiqSansBold-webfont.svg#BalsamicSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../assets/fonts/FontAwesome/FontAwesome-webfont.eot');
  src: url('../../assets/fonts/FontAwesome/FontAwesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/FontAwesome/FontAwesome-webfont.woff') format('woff'),
  url('../../assets/fonts/FontAwesome/FontAwesome-webfont.ttf') format('truetype'),
  url('../../assets/fonts/FontAwesome/FontAwesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde';
  src: url('../../assets/fonts/33ED2B_0_0.eot');
  src: url('../../assets/fonts/33ED2B_0_0.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/33ED2B_0_0.woff2') format('woff2'),
  url('../../assets/fonts/33ED2B_0_0.woff') format('woff'),
  url('../../assets/fonts/33ED2B_0_0.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde';
  src: url('../../assets/fonts/33ED2B_1_0.eot');
  src: url('../../assets/fonts/33ED2B_1_0.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/33ED2B_1_0.woff2') format('woff2'),
  url('../../assets/fonts/33ED2B_1_0.woff') format('woff'),
  url('../../assets/fonts/33ED2B_1_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde';
  src: url('../../assets/fonts/33ED2B_2_0.eot');
  src: url('../../assets/fonts/33ED2B_2_0.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/33ED2B_2_0.woff2') format('woff2'),
  url('../../assets/fonts/33ED2B_2_0.woff') format('woff'),
  url('../../assets/fonts/33ED2B_2_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvantGarde';
  src: url('../../assets/fonts/34D7FA_0_0.eot');
  src: url('../../assets/fonts/34D7FA_0_0.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/34D7FA_0_0.woff2') format('woff2'),
  url('../../assets/fonts/34D7FA_0_0.woff') format('woff'),
  url('../../assets/fonts/34D7FA_0_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

