html,
body {
  width: 100%;
}

html {
  background-image: url('../../assets/img/tiny_grid.png');
}

[id="wrapper"] {
  padding-top: $component-spacing;

  @include respond-to(tablet-portrait) {
    padding: 20px 20px 0;
    box-sizing: border-box;
  }
}

.component {
  margin-bottom: $component-spacing;

  > .component-content {
    @include clearfix;
    margin-bottom: 0;
  }
}

.component-content {
  @include clearfix;
  margin-bottom: 14px;
}
