@import 'variables';
@import "../utils/fa-variables";

@function headers() {
  @return 'h1, h2, h3, h4, h5';
}

@function em($font-size, $context: $font-size-base) {
  @return #{$font-size/$context}em
}

@function icon($character){
  @return unquote("\"")+unquote(str-insert($character,"\\", 1))+unquote("\"");
}

@mixin frame() {
  border: 3px solid $black;
  border-image: url('../../assets/img/border.png') 5 stretch stretch;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin font-awesome($ico) {
  content: icon($ico);
  font-family: FontAwesome, sans-serif;
  display: inline-block;
  font-style: normal;
  position: relative;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

@mixin respond-to($media) {
  @if $media == phone {
    @media (max-width: $screen-xs - 1) { @content; }
  }
  @else if $media == tablet-portrait {
    @media (max-width: $screen-sm - 1) { @content; }
  }
  @else if $media == tablet-landscape-desktop {
    @media (min-width: $screen-sm) and (max-width: $screen-md - 1) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $screen-sm) { @content; }
  }
  @else if $media == large-desktop {
    @media (min-width: $screen-lg) { @content; }
  }
}