html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: #{$font-size-base}rem;
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}