#{headers()} {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
  font-size: #{$font-size-h1}rem;
}

h2 {
  font-size: #{$font-size-h2}rem;
}

h3 {
  font-size: #{$font-size-h3}rem;
}

h4 {
  font-size: #{$font-size-h4}rem;
}

h5 {
  font-size: #{$font-size-h5}rem;
}