// Breakpoints

$grid-breakpoint: 768px;

$screen-xs: 480px !default;
$screen-sm: $grid-breakpoint !default;
$screen-md: 992px !default;
$screen-lg: 1120px !default;

//  Colors

$black: #000 !default;
$blue: #4882C0 !default;
$blue2: #0f808f !default;
$gray: #D9D9D9 !default;
$red: #E31836!default;


// Scaffolding

$body-bg: #FFF !default;
$text-color: $black !default;
$link-color: $blue !default;
$link-decoration: underline;
$link-hover-color: lighten($blue, 20%) !default;
$link-hover-decoration: underline !default;
$component-spacing: 20px !default;

// Typography

$font-family-sans-serif: "Balsamiq Sans Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Balsamiq Sans Bold", Georgia, "Times New Roman", Times, serif !default;

$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1.5 !default;

$headings-font-family: $font-family-serif !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: $black !default;

$font-size-h1: 3.6 !default;
$font-size-h2: 3 !default;
$font-size-h3: 2.4 !default;
$font-size-h4: 1.8 !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: 1.2 !default;

$line-height-base: 1.5 !default;

// Z-indexes

$zindex-overlay: 8999;
$zindex-overlay-bg: 8998;
$zindex-nav: 8997;
$zindex-carousel-nav: 8996;