@import '../core/mixins';

.cookiePolicy-info {
  transition: all 1s linear;
  max-height: 500px;
  overflow: hidden;
  background: $gray;

  &.collapsed {
    max-height: 0;
  }

  .cookiePolicy-inner {
    padding: 10px;
    width: auto;
    max-width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.cookiePolicy-restrictive {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .8);
  z-index: 1000;

  &.collapsed {
    display: none;
  }

  .cookiePolicy-inner {
    position: fixed;
    top: 200px;
    width: 800px;
    left: 50%;
    margin-left: -250px;
    box-sizing: border-box;
    padding: 20px;
    background: $body-bg;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    max-width: 90%;

    @include respond-to(tablet-portrait) {
      transform: translateX(-50%);
      margin-left: 0;
    }
  }
}

.cookiePolicy-buttons {
  text-align: right;
}

.cookiePolicy-accept {
  @include frame;
  display: inline-block;
  text-decoration: none !important;
  background: $body-bg;
  letter-spacing: 0;
  padding: 2px 5px;
  outline: none;
  box-shadow: 3px 3px 0 #000;
  color: $black;
  margin-bottom: 10px;

  &:hover {
    color: $black;
    background: lighten($blue, 20%);
  }
}