@import '../core/mixins';

.exit-notification {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &.is-hidden {
    display: none;
  }
}

.exit-notification-inner {
  @include frame;
  position: fixed;
  top: 200px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  box-sizing: border-box;
  padding: 20px;
  background: $body-bg;
  border-radius: 5px;
  max-width: 90%;
}

.exit-notification-accept,
.exit-notification-deny {
  @include frame;
  display: inline-block;
  text-decoration: none !important;
  background: $body-bg;
  letter-spacing: 0;
  font-weight: bold;
  padding: 7px 15px;
  outline: none;
  box-shadow: 3px 3px 0 #000;
  color: $black;

  &:hover {
    color: $black;
    background: lighten($blue, 20%);
  }
}

.exit-notification-buttons {
  text-align: right;
}

@include respond-to(tablet-portrait) {
  .exit-notification-inner {
    transform: translate(-50%, -50%);
    top: 50%;
    margin-left: 0;
  }

  .exit-notification-buttons {
    text-align: center;
  }

  .exit-notification-accept,
  .exit-notification-deny {
    display: block;
    width: 100%;
  }

  .exit-notification-deny {
    margin-top: 10px;
  }
}