

#footer {
  .container-fluid {
    padding: 35px 0;
  }


  .logo {
    img {
      width: 80px;
    }
    margin-bottom: 44px;
  }

  .section-1 {

      padding: 110px 0 0 20px;
    ul {
      margin: 0;
      padding:0;
      li {
        margin: 0;
        padding: 0;
        a {
          font-size: 14px;
          padding-bottom: 12px;
          display: block;
          &.external-link {

            &:before {
              content: '';
              background-image: url(../../assets/img/vx-spritesheet.png);
              background-position: -585px -887px;
              width: 15px;
              height: 15px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 15px;
            }
          }
        }
        &:before {
          display: none;
        }
      }
    }

  }
  .section-2 {
    p {
      font-size: 16px;
      line-height:1.1;
      border-right: 1px solid #dcdcdc;
      padding-bottom: 30px;
    }
  }
  .section-3 {
    p {
      font-size: 14px;
      padding: 110px 0 0 75px;
    }
  }

}