@import "variables";
#header {
  .component-content { margin-bottom: 0;}
  .sup {
    color: inherit;
    margin-left: 2px;
  }
  /*#################### FIRST LINE ###################*/
  .box.bg-gray {
    .box-adverse {
      p {
        font-size: 13px;
        margin: 0 0 0 -30px;
        padding: 10px 0 10px 40px;
        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 12px;
          left: -13px;
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -408px -887px;
          width: 16px;
          height: 15px;
        }
      }
    }
  }


  /*#################### LOGO ###################*/
  .image.logo {
    &.mobile {
      display: none;

    }
    img {
      max-width: 285px;
      padding:21px 0 27px 0;
    }

  }

  /*#################### MENU ###################*/
  .box.box-menu {
    background-color: $red;
    p {
      display: none;
    }
    br {
      display: none;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      list-style: none;
      &:nth-child(1) {
        & > li {
          padding: 0!important;
          &:hover {
            background: $black;
          }
          & > ul {
            display: none;
            position: absolute;
            top:48px;
            left: 0;
            background: $black;
            width: calc(100% + 36px);
            margin-left: -16px;
            z-index:9;
            padding: 20px;
          }
          /*#################### HOME ###################*/
          &:nth-child(1) {
            & > ul {

            }
          }
          /*#################### FARMACOS ###################*/
          &:nth-child(2) {
            & > ul {
              //display: none;
              li {
                a {
                  text-transform: none;
                }
                ul {
                  li {
                    a {
                      text-transform: none;
                      font-weight: normal;
                      padding-left: 5px;
                      text-decoration: underline;
                      &:before {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
          /*#################### MATERIALS ###################*/
          &:nth-child(3) {
            & > ul {
              //display: block;
              li {
                width: 18%;
                display: inline-block;
                vertical-align: top;
              }
            }
          }
        }
      }
      li {
        margin: 0 16px 0 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        position: static;
        &:before {
          display: none;
        }
        & > ul {

          li {

            a {
              line-height: 1.2;
              &:hover {
                text-decoration: underline;
              }

            }
            a:before {
              content: "";
              position: absolute;
              left: -0.35em;
              top: 15px;
              background-image: url(../../assets/img/vx-spritesheet.png);
              background-position: -955px -430px;
              width: 8px;
              height: 14px;
            }
            ul {
              max-width: 100%;
              calc: 100%;
              display: block;
            }
          }
        }
        &:hover {
          & > ul {
            display: block;
          }
        }
        a {
          color: #fff;
          font-weight: bold;
          text-decoration: none;
          font-size: 16px;
          text-transform: uppercase;
          padding: 11px 16px;
          display: inline-block;
          position: relative;

        }
        &:nth-child(2){
          ul {
            li {
              display: block;
            }
          }
        }
      }
    }
  }
  /*#################### XXXXX ###################*/




}