@import "variables";
@import "mixins";

.page-home {
  .sup {
    color: inherit;
  }
  .iconheading {
    h2 {
      position: relative;
      z-index: 5;
      height: auto;
      margin-bottom: 1em;
      font-family: "ITCAvantGardeW01-CnDm",sans-serif;
      font-size: 1.75em;
      text-align: center;
      text-transform: uppercase;
      &:before{
        content: "";
        display: block;
        position: relative;
        top: 0;
        z-index: 10;
        box-sizing: content-box;
        margin: 0 auto;
        border: solid 6px #fff;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50px;
        z-index: 1;
        width: 100%;
        height: 2px;
        background-color: #F2F2F2;
      }
    }
  }
  /*#################### BANNER ###################*/
  .reference-home--banner {
    margin-bottom: 45px;
    .component-content {margin-bottom:0;}
    h1 {
      font-family: "AvantGardeGothicITCW01D 731075",sans-serif;
      font-size: 48px;
      color: $red;
      padding: 90px 0 12px 0;
      margin:0;
    }
    h2 {
      font-size: 28px;
      padding: 0 0 20px 0;
    }
    p {
      font-size: 19.2px;
      font-family: "ITCAvantGardeW01-CnDm",sans-serif;
      line-height: 1.5;
      margin:0;
      padding: 0 0 40px 0;
    }
    .component-content {
      //background-size: 130%;
      background-position: top center;
    }

  }

  /*#################### VIDEO ###################*/

.reference-home--videos {
  margin-bottom: 100px;
  .iconheading-webcast {
    h2 {
      &:before {
        background-image: url(../../assets/img/vx-spritesheet.png);
        background-position: 0px -256px;
        width: 84px;
        height: 84px;
      }
    }

  }

  .col-md-4.video-1, .col-md-4.video-2, .col-md-4.video-3 {
    position: relative;
    overflow: hidden;
    h3 {
      position: absolute;
      bottom: -300%;
      background: rgba(0,0,0,0.7);
      width: 100%;
      height: 130px;
      color: #fff;
      padding:20px;
      font-size: 16px;
      -webkit-transition:  0.5s;
      -moz-transition:  0.5s;
      -ms-transition:  0.5s;
      -o-transition:  0.5s;
      transition:  0.5s;
    }
    p {
      position: relative;
      z-index:10;
      color: #000;
      width: 100%;
      padding:0;
      font-size: 12px;
      font-weight: bold;
      background: #F2F2F2;
      margin: 0;
      &:before {
        @include font-awesome("\f04b");
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        background: $blue2;
        margin-right: 10px;
      }
    }
    &:hover {
      cursor: pointer;
      h3 {
        bottom: 0;
        -webkit-transition:  0.5s;
        -moz-transition:  0.5s;
        -ms-transition:  0.5s;
        -o-transition:  0.5s;
        transition:  0.5s;
      }
    }
  }


  .col-md-4.video-1 {
    padding-right: 10px;
    position: relative;
  }
  .col-md-4.video-2 {
    padding: 0 5px;
  }
  .col-md-4.video-3 {
    padding-left: 10px;
  }



  .container-fluid.video-1,
  .container-fluid.video-2,
  .container-fluid.video-3 {
    display: none;
    margin-top: 30px;
    padding: 30px 0;
    background: #333;
    position: relative;
    &:before {
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #333;
    }
    * {
      color: #fff;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 20px;
      line-height: 26px;
    }
    p {
      font-size: 18px;
      line-height:29px;
    }
    .tags {
      p {
        font-size: 14px;
        line-height:15px;
        padding: 10px 0 0 0;
        margin: 0;
      }
    }
    .reference-video-player-html5 {
      padding-right: 15px;
    }
    video {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      background: #000;
    }
    .button {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: 0;
      display: block;
      font-size: 14px;
      text-decoration: none;
      &.button-close {
        &:after {
          content: "";
          display: inline-block;
          box-sizing: content-box;
          margin-left: 0.5em;
          padding: 1px 0;
          vertical-align: middle;
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -913px -328px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .container-fluid.video-1 {
    &:before {
      left: 28%;
    }
  }
  .container-fluid.video-2 {

  }
  .container-fluid.video-3 {
    &:before {
      left: 72%;
    }
  }

}

  /*#################### FARMACOS ###################*/

  .reference-home--farmacos {
    margin-bottom: 35px;
    .iconheading-medicines {
      h2 {
        &:before {
          background-image: url(../../assets/img/vx-spritesheet.png);
          background-position: -312px -464px;
          width: 84px;
          height: 84px;
        }
      }
    }

    .image {
      background: #f2f2f2;
      border-bottom: 4px solid $blue2;
      padding: 22px 22px;
    }
    .richText.col-md-8 {
      padding-left: 15px;
      &.last {
        padding-right: 15px;
      }
      h3 {
        margin-bottom: 10px;
      }
      p {
        font-size: 14.4px;
        margin: 5px;
      }
      ul {
        margin: 0;
        padding:0;
        li {
          margin: 0;
          padding: 0!important;
          &:before {
            display: none;
          }

          a {
            font-size: 14.4px;
            display: block;
          }
          a.button-file{
            &:before {
              content: '';
              background-image: url(../../assets/img/vx-spritesheet.png);
              background-position: -913px -84px;
              width: 20px;
              height: 23px;
              padding: 0 0 10px 30px;
              line-height: 2;
            }

          }
        }
      }
    }


  }


  /*#################### CONTACT ###################*/

  .reference-home--contact {
    margin-bottom: 90px;
    .container-fluid {
      & > .component-content {
        & > .content {
          background: #f2f2f2;
          padding: 50px 20px 40px 20px;
          border-bottom: 4px solid $blue2;

        }

      }
    }
    h2 {
      font-size: 20px;
      &:before {
        content: '';
        left: -99px;
        background-image: url(../../assets/img/vx-spritesheet.png);
        background-position: -573px -104px;
        width: 84px;
        height: 84px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
      }
    }
    p {
      font-size: 16px;
      padding: 12px 0 0 95px;
    }
    .box-button {
      p {
        padding:12px 0 0 0;
        a.button {
          display: inline-block;
          padding: 8px 30px;
          color: $red;
          background: #fff;
          border: 0;
          text-decoration: none;
        }
      }
    }


  }


}

/*#################### MATERIALS ###################*/


.reference-resource-banner {
  background: #333;
  padding: 49px 0;
  margin-bottom: 70px!important;
  .tabpane-header {
    border-left: 10px solid $red;
    margin-bottom: 40px;
    h2 {
      font-size: 28px;
      padding-left: 10px;
      color: #fff;

    }
  }
  h3 {
    color: #fff;
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      &:before {
        display: none;
      }
    }
  }

}