@import 'mixins';

@import 'fonts';

@import 'scaffolding';
@import 'typography';
@import 'layout';
@import 'header';
@import 'homepage';

@import 'footer';

@import 'commons';

/* ===== GENERAL ===== */

html {
  font-size: 16px;
}

body {
  color: #333;
  font-family: "AvantGarde",sans-serif !important;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: none;
  background: #fff;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.4rem 0;
  font-family: "AvantGarde",sans-serif !important;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin: 0px;
}

h3 {
  font-size: 1.25rem;
}


.container-fluid > .component-content {
  margin: 0 auto;
  text-align: left;
  max-width: 1260px;
  float: none;
  display: block;
  padding-right: 30px;
  padding-left: 30px;
}

.container {
  width: auto !important;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

#content {
  padding: 0px !important;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.paragraphSystem, .row {
  margin-left: 0px;
  margin-right: 0px;
}

.component {
  margin-bottom: 0px;
}

a {
  color: #E31836;
  text-decoration: underline;
  .external-link {
    &:after {
      content: '';
      background-image: url(../../assets/img/vx-spritesheet.png);
      background-position: -585px -887px;
      width: 15px;
      height: 15px;
      display: inline-block;
    }
  }
}

.richText {
  ul {
    padding: 0px;
    margin: 0px;

    li {
      padding-left: 10px !important;
      line-height: 1.625rem;
      margin: 0px;

      &:before {
        content: "\2022";
        display: inline-block;
        width: 1rem;
        margin-left: -1rem;
        color: #E31836;
        position: relative !important;
        font-size: 6px !important;
        top: -4px !important;
        left: 3px !important;
      }
    }
  }
}

p {
  font-size: 0.875rem;
  margin: 0 0 0.5rem 0;
  line-height: 1.625em;
}

.bg-gray {
  background: #F2F2F2;
}

.sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  font-size: 0.625em;
  color: #0F808F;
  font-weight: 500;
  top: -0.5em;
  margin-left: 0px;
  text-align: left;
}

sup {
  font-size: 0.625em;
}

/* ===== PRODUCT SECTION 1 ===== */

.banner {
  position: relative;
  min-height: 318px;
  border-top: 1px solid #F2F2F2;
  width: 104.7325%;
  margin-left: -2.36625%;

  .banner-content {
    padding: 40px;
    text-align: left;
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    z-index: 2;

    h1 {
      margin: 0;
      max-width: none;
      width: 50%;
      line-height: 1.2;
      font-size: 2rem;
      color: #713f95;
      font-weight: 400;
    }
  }

  .product-logo {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 40px;
    vertical-align: middle;
    width: 250px;
  }

  .banner-image {
    height: 318px;
    border-right: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    width: 100%;
    min-height: 247px;
    position: absolute;
    top: 0;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 4px solid #e2298f;
      z-index: 1;
      position: absolute;
      clear: both;
      left: 0;
      bottom: 0;
    }

    img {
      width: 100%;
      max-width: none;
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.product-download {
  margin-top: 1.5rem;
  margin-bottom: 0.938rem;

  h2 {
    margin-bottom: 30px;
    font-weight: 400;
  }

  .download-1 {
    margin-bottom: 1.813em;
    font-size: 0.875em;

    &:after {
      content: "";
      background-image: url( "../../assets/img/vx-spritesheet.png" );
      background-position: -585px -887px;
      width: 15px;
      height: 15px;
      text-decoration: none;
      display: block;
    }
  }

  .download-2 {
    margin-bottom: 1.813em;
    font-size: 0.875em;

    &:after {
      content: "";
      background-image: url( "../../assets/img/vx-spritesheet.png" );
      background-position: -955px -430px;
      width: 8px;
      height: 14px;
      display: block;
    }
  }

  p {
    margin: 0px;
    font-size: 1rem;
  }
}

.product-about {

  ul {
    margin-bottom: 1.875rem;
    width: 50%;
  }

  p {
    margin-bottom: 1.875rem;
    line-height: 1.625rem;
    font-size: 1rem;
  }
}

/* ===== PRODUCT SECTION 2 ===== */

.tabpane-button {
  display: none;
}

.tabpane-title {
  margin-bottom: 1.429rem;
  margin-top: 3rem;
  padding-left: 10px;
  font-size: 1.75rem;
  border-left: 8px solid #E31836;
  display: inline-block;
  font-weight: 600;
}

.content-heading {
  font-size: 1.25rem;
  font-weight: 600;
}


.product-section-2 {

  .producttab-indicationright {
    padding-left: 10px;
    overflow: hidden;
    border-left: 4px solid #0F808F;

    p {
      font-size: 1rem;
    }
  }

  .indications-tablet {
    display: table;
    float: right;
    height: 83px;
    margin-top: 1em;
    padding-right: 79px;
    text-align: right;
    background: url( "../../assets/img/icon_pill.png" ) no-repeat right top;

    p {
      display: table-cell;
      padding-right: 15px;
      font-size: 1.750rem;
      text-align: right;
      vertical-align: bottom;
      font-weight: 600;
      padding-left: 30px;
    }
  }

  .indications-convenient {
    position: relative;
    margin: 2rem 0 3rem;
    padding: 1rem 1.5rem;
    overflow: visible;
    border: 1px solid #dcdcdc;
    background: #fff;
    text-align: center;

    .image {
      height: auto;
      width: 100%;
      margin: 2em 0 0;
      padding: 0 4px;
      text-align: center;
      background: none;
      display: inline-block;
      float: none;
      vertical-align: top;
      max-width: 180px;

      p {
        display: block;
        margin-top: 2em;
        font-weight: 600;
      }
    }
  }
}

.footnotes {
  margin: 1em 0 3em;
  padding: 1em 1em 1em 2em;
  border-left: 4px solid #E31836;
  background: #F2F2F2;

  p {
    font-size: 0.875rem;
  }
}

/* ===== PRODUCT SECTION 4 ===== */

.product-section-4 {

  h3 {
    margin-top: 15px;
  }
}

.umbraco-copy {

  li {
    font-size: 0.875rem;
    margin-bottom: 0px !important;
    line-height: 22.75px !important;
  }

  p {
    font-size: 15px;
    margin: 0 0 3px 0;
    line-height: 21px;
  }

  strong {
    font-weight: 600;
  }

  img {
    display: block;
    width: auto !important;
    height: auto !important;
    margin: 2em auto;
    padding: 1% 5%;
    border: 1px solid #F2F2F2;
  }
}

/* ===== PRODUCT SECTION 3 ===== */

.table.table-container {
  border: none;
  margin-bottom: 40px;

  table {
    border-spacing: 4px;
    border-collapse: separate;
    background-color: #fff;

    th {
      width: 50%;
      height: 60px;
      padding: 1em 1.2em;
      background: #CFE6E9;
      text-align: center;
      font-weight: 600;
    }

    td {
      padding: 1em;
      background: #fff;
      width: 50%;
      line-height: 19.2px;
    }

    .even {

      td {
        background: #F2F2F2;
      }
    }
  }
}

.product-section-3 {

}

/* ===== PRODUCT SECTION 5 ===== */

.product-section-5 {

  .table.table-container {

    table {

      tbody {

        tr:first-child {

          th:first-child {
            background: #F2F2F2;
          }
        }
      }
    }
  }
}