.videoGallery object,
.videoGallery embed {
  width: 100% !important;
}

.videoGallery-heading {
  min-height: 33px;
}

.videoGallery-list {
  overflow: hidden;
  margin: 0 50px;
  position: relative;
}

.videoGallery-list-inner {
  overflow: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.videoGallery-description {
  margin: 15px 0;
}

.videoGallery-thumbnails {
  position: relative;
  margin-top: 18px;
}

.videoGallery-arrow {
  @include frame;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  font-size: 0;
  text-align: center;
  background: $body-bg;
}

.videoGallery-arrow-left,
.videoGallery-arrow-right {
  &:before {
    font-size: 2.3rem;
    line-height: 22px;
    color: $black;
  }
}

.videoGallery-arrow-left {
  left: 0;

  &:before {
    @include font-awesome($fa-var-caret-left);
  }
}

.videoGallery-arrow-right {
  right: 0;

  &:before {
    @include font-awesome($fa-var-caret-right);
  }
}

.videoGallery-thumbnail {
  float: left;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0 9px;
  cursor: pointer;
  text-align: center;
  position: relative;
  max-width: 100px;
}

.videoGallery-thumbnail-image {
  @include frame;
  position: relative;

  img {
    display: block;
    margin: 0 auto;
  }
}

.videoGallery-thumbnail-title {
  font-size: 1.1rem;
  display: block;
  padding: 2px 0;

  &:hover {
    text-decoration: none;
  }
}

.videoGallery-thumbnail-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -13px;

  &:before {
    @include font-awesome($fa-var-play);
    font-size: 1.3rem;
    box-sizing: border-box;
    display: inline-block;
    background: $body-bg;
    color: $black;
    text-align: center;
    line-height: 22px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid $black;
  }
}

.videoGallery-nojs {
  display: none;
}

.no-js .videoGallery-nojs {
  display: block;
}